    <!--tab Email preferences -->
@model Business.Job
<div id="email_preferences_id_dash" class="tab-pane fade clearfix active in">
    <div class="col-md-12 dash_tab_con_heading_bg padd_left_right_o">
        <h3 class="dash_tab_con_heading_h3">Email preferences</h3>
    </div>
    <div class="col-md-12 dash_jobs_box_1_bg bg_color_comen clearfix">
        <div class="profile_dash_form_box clearfix">
            <div class="col-md-12 dash_you_profile_bg clearfix">
                <h4 class="dash_you_profile_heding_h4">Tick which emails you want to receive</h4>
                @*@using (Html.BeginForm("UpdateEmailPreference", "Dashboard"))
                {*@
                    <div class="form-group clearfix">
                        <div class="catagory_filterjob_ulbg clearfix">
                            <div class="currencies_checkbox_bg clearfix" id="preferenceDiv">
                                <ul>
                                    @for (var i = 0; i < Model.EmailPreferences.Count; i++)
                                    {
                                        <li>
                                            <div>
                                                <label class="" for="@Model.EmailPreferences[i].EmailPreferenceId">
                                                    @Html.DisplayFor(m => m.EmailPreferences[i].Description)
                                                    @Html.HiddenFor(m => m.EmailPreferences[i].Description)
                                                    @Html.HiddenFor(m => m.EmailPreferences[i].EmailPreferenceId)
                                                    @Html.HiddenFor(m => m.EmailPreferences[i].UserEmailPreferenceMappingId)
                                                    @Html.CheckBoxFor(m => m.EmailPreferences[i].CheckStatus, new { @id= Model.EmailPreferences[i].EmailPreferenceId, @class="checkStatus" })
                                                    @*<input type="checkbox" id="@Model.EmailPreferences[i].EmailPreferenceId" checked="checked">*@
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div><!-- // catagory_filterjob_ulbg-->
                    </div>
                    <div class="form-group clearfix">
                        <a href="javascript:;" class="btn btn-default register_small_button secondary_color_bg" title="Save changes" id="btnSavePreference">Save changes</a>
                         @*<button id="btnSavePreference" class="btn btn-default register_small_button secondary_color_bg" title="Save changes">Save changes</button>*@
                    </div>
                @*  }*@
            </div>
        </div><!--profile_dash_form_box-->
    </div>
</div>

<!-- // tab Email preferences -->
<script>
    $(document).ready(function(){
        $('#btnSavePreference').click(function (e) {
            var model = @Html.Raw(Json.Encode(Model.EmailPreferences));
            var newModel = [];
            var i = 0;
            $('#preferenceDiv li').each(function(){
                var pref = {
                    UserEmailPreferenceMappingId: $('#EmailPreferences_' + i + '__UserEmailPreferenceMappingId').val(),
                    EmailPreferenceId: $('#EmailPreferences_' + i + '__EmailPreferenceId').val(),
                    CheckStatus: $("[name='EmailPreferences[" + i + "].CheckStatus']").is(":checked") ? true : false,
                    Description: $('#EmailPreferences_' + i + '__Description').val()
                }
                newModel.push(pref);
                i++;
            });
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("UpdateEmailPreference", "Dashboard")',
                data: {"userPref": newModel },
                success: function (response) {
                    if(response != null) {
                        $('#lblMsg').html(response);
                        openbox(1, 'preference_update');
                    }
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        });

        $('#preferenceDiv li').on('click','label',function(){
            var checkBoxes =   jQuery(this).closest('li').find('[type=checkbox]');
            checkBoxes.prop("checked", !checkBoxes.prop("checked"));
        })
    });
</script>