
@model dynamic
@{
    ViewBag.Title = "Index";
    Layout = Layout;
}

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@


<script type="text/javascript">

    $(document).ready(function () {
        var  _Id= localStorage.getItem("catid");
        var _text= localStorage.getItem("cattext")
        var _scat=  localStorage.getItem('searchcat');
        var _Category=@Html.Raw(Json.Encode(Session["Category"]));
        if(_scat != _Category) {
            _scat = _Category;
            localStorage.setItem('searchcat', _Category);
        }
        debugger
        if(_Category!=null)
        {
            if(_Category=="G")
            {
                SetDropDownForGig();
                $("#ddlcat").val("G");
            }
            else if(_Category=="J"){
                SetDropDownForJob();
                $("#ddlcat").val("J");
            }
            else {
                SetDropDownForBoth();
                $("#ddlcat").val("B");
            }
        }
        function SetDropDownForGig()
        {
            var elem= $('#ddlpaid');
            elem.empty();
            elem .append('<option value="H">Highest Cost</option>').append('<option value="L">Lowest Cost</option>');
        }
        function SetDropDownForJob()
        {
            var elem= $('#ddlpaid');
            elem.empty();
            elem .append('<option value="H">Highest paid</option>').append('<option value="N">Newest</option>');
        }
        function SetDropDownForBoth()
        {
            var elem= $('#ddlpaid');
            elem.empty();
            elem .append('<option value="H">Highest paid</option>').append('<option value="N">Newest</option>');
        }
        if(_scat !=null)
        {
            $("#ddlpaid").val(_scat)
            if(_scat=="G")
            {
                $("#skillhead").text("Filter services")
                $("#budgethead").text("Cost")
                SetDropDownForGig();
            }
            else if(_scat=="J")
            {
                $("#skillhead").text("Filter jobs")
                $("#budgethead").text("Budget")
                SetDropDownForJob();
            }
            else
            {
                $("#skillhead").text("Filter services / jobs")
                $("#budgethead").text("Cost / Budget")
                SetDropDownForBoth();
            }
        }
        var _href = "/Category/Index?";
        _href = _href + "id=" + _Id;
        var _anchr = "<a  href=" + _href + " >" + _text + "</a>"

        $("#divcategory").text(_text)
        $("#divcategory_brdcum").html(_anchr)
        var exchangerate=@Html.Raw(Json.Encode(Session["ExchangeRate"]));
        localStorage.setItem("exrate",exchangerate);
        $("#ddlpaid").change(function () {
            debugger;
            var _SortDirCat= $("#ddlcat").val();
            localStorage.setItem('searchcat', _SortDirCat);
            SetSearchCriteria();
        });
        function SetSearchCriteria()
        {
            debugger;
            var _skillhead=$("#ddlcat").val()=="G"?"Filter services": $("#ddlcat").val()=="J" ? "Filter jobs" : "Filter services / jobs";
            var _budgethead=$("#ddlcat").val()=="G"? "Cost": $("#ddlcat").val()=="J" ? "Budget" : "Cost / Budget";
            $("#skillhead").text(_skillhead);
            $("#budgethead").text(_budgethead);
            var _ArrSkill = [];
            var _ArrTag = [];
            var _Minprice = $("#min_price").val().replace(/,/g,"");
            var _Maxprice = $("#max_price").val().replace(/,/g,"");
            var _Sorrdir = $("#ddlpaid").val();

            $('input:checkbox.skill:checked').each(function () {
                if (this.checked) {
                    var Id = $(this).prop("id");
                    Id = Id.toString().replace("skill_", "");
                    _ArrSkill.push(Id);
                }
            });


            $('input:checkbox.tags:checked').each(function () {
                if (this.checked) {
                    var Id = $(this).prop("id");
                    Id = Id.toString().replace("tags_", "");
                    _ArrTag.push(Id);
                }
            });

            if (_ArrSkill.length == 0) {
                _ArrSkill.push(0);
            }
            if (_ArrTag.length == 0) {
                _ArrTag.push(0);
            }
            Loadjobs(_ArrSkill.join(), _ArrTag.join(), _Minprice, _Maxprice, _Sorrdir, null);
        }
        $("#ddlcat").change(function(){
    debugger;
            var _SortDirCat= $("#ddlcat").val();
            localStorage.setItem('searchcat', _SortDirCat);
            if(_SortDirCat=="G")
            {
                SetDropDownForGig();

            }
            else{
                SetDropDownForJob();

            }
            debugger;
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("SetSearchCategory", "category")',
                data: {"cat":_SortDirCat},
                success: function (response) {
                    SetSearchCriteria();
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });

        })

        $("#divjobs").on("click", "#btnloadmore", function () {


            var _ArrSkill = [];
            var _ArrTag = [];
            var _Id = $('#divjobs div.bg_color_comen').last().attr("id");
            var _Minprice = $("#min_price").val().replace(/,/g,"");
            var _Maxprice = $("#max_price").val().replace(/,/g,"");
            var _Sorrdir = $("#ddlpaid").val();

            $('input:checkbox.skill:checked').each(function () {
                if (this.checked) {
                    var Id = $(this).prop("id");
                    Id = Id.toString().replace("skill_", "");
                    _ArrSkill.push(Id);
                }
            });


            $('input:checkbox.tags:checked').each(function () {
                if (this.checked) {
                    var Id = $(this).prop("id");
                    Id = Id.toString().replace("tags_", "");
                    _ArrTag.push(Id);
                }
            });

            if (_ArrSkill.length == 0) {
                _ArrSkill.push(0);
            }
            if (_ArrTag.length == 0) {
                _ArrTag.push(0);
            }

            LoadMorejobs(_Id, _ArrSkill.join(), _ArrTag.join(), _Minprice, _Maxprice, _Sorrdir, null);
        })


        $("#ultopskill li").on("change", "input[class='skill']", function () {


            try {
                var _ArrSkill = [];
                var _ArrTag = [];
                var _Minprice = $("#min_price").val().replace(/,/g,"");
                var _Maxprice = $("#max_price").val().replace(/,/g,"");
                var _Sorrdir = $("#ddlpaid").val();

                $('input:checkbox.skill:checked').each(function () {
                    if (this.checked)
                    {
                        var Id = $(this).prop("id");
                        Id = Id.toString().replace("skill_", "");
                        _ArrSkill.push(Id);
                    }
                });


                $('input:checkbox.tags:checked').each(function () {
                    if (this.checked) {
                        var Id = $(this).prop("id");
                        Id = Id.toString().replace("tags_", "");
                        _ArrTag.push(Id);
                    }
                });

                if (_ArrSkill.length==0)
                {
                    _ArrSkill.push(0);
                }
                if (_ArrTag.length == 0)
                {
                    _ArrTag.push(0);
                }
            }
            catch(err) {

            }
            Loadjobs(_ArrSkill.join(), _ArrTag.join(), _Minprice, _Maxprice, _Sorrdir,null);
        });


        $("#ultags").on("change", "input[class='tags']", function () {

            var _ArrSkill = [];
            var _ArrTag = [];
            var _Minprice = $("#min_price").val().replace(/,/g,"");
            var _Maxprice = $("#max_price").val().replace(/,/g,"");
            var _Sorrdir = $("#ddlpaid").val();


            $('input:checkbox.skill:checked').each(function () {
                if (this.checked) {
                    var Id = $(this).prop("id");
                    Id = Id.toString().replace("skill_", "");
                    _ArrSkill.push(Id);
                }
            });


            $('input:checkbox.tags:checked').each(function () {
                if (this.checked) {
                    var Id = $(this).prop("id");
                    Id = Id.toString().replace("tags_", "");
                    _ArrTag.push(Id);
                }
            });

            if (_ArrSkill.length == 0) {
                _ArrSkill.push(0);
            }
            if (_ArrTag.length == 0) {
                _ArrTag.push(0);
            }
            Loadjobs(_ArrSkill.join(), _ArrTag.join(), _Minprice, _Maxprice, _Sorrdir,null);

        });

        function Loadjobs(_skill, _tag, _Minprice, _Maxprice, _Sortdir, _searchtext)
        {
            debugger;
            $("#divloadmore").hide();
            //$("#divjobs").empty();
            $("#divmsg").empty().removeClass('col-md-8').removeClass('home_left_8');
            $("#divJobPoster").empty().removeClass('col-md-8').removeClass('home_left_8');
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("ApplyFilter", "Category")',
                data: { 'topskills': _skill, 'budgetMin': _Minprice, 'budgetMax': _Maxprice, 'populartags': _tag, sortorder: _Sortdir, '_searchtext': _searchtext },
                success: function (response) {
                    // debugger
                    if (response != null) {
                        $("#divjobs").empty();
                        if (response.length == 0) {

                            var Usertype= @Html.Raw(Json.Encode(Session["UserType"]));
                            var _Sort= $("#ddlcat").val()=="G"? "services": $("#ddlcat").val()=="J"? "jobs" : "services / jobs";
                            if(Usertype ==2 || Usertype == 3)
                            {


                                //if($("#divJobPoster").val()==null)
                                //{
                                //    var _Msg = "";
                                //    _Msg = "<div class='col-md-12 category_nojob_bg clearfix'><h3>There don't seem to be any live # for this category.</h3></div>"
                                //    _Msg=  _Msg.replace('#',_Sort);
                                //    $("#divjobs").append(_Msg);
                                //    var _divmsg = $("#divmsg");

                                //    if (_divmsg.length > 0) {
                                //        _divmsg.hide();
                                //    }
                                //}
                                //else
                                //{
                                $("#divJobPoster").empty();
                                var _msgDuplicate = "";
                                //_msgDuplicate += "<div class='col-md-8 home_left_8' id='divJobPoster'>"
                                _msgDuplicate += "<div class='col-md-12 category_nojob_bg clearfix'>"
                                _msgDuplicate += "<h3>There don't seem to be any live # for this category.</h3>" //<p>Get the party started</p>
                                _msgDuplicate=  _msgDuplicate.replace('#',_Sort);
                                if( $("#ddlcat").val()=="J")
                                {
                                    _msgDuplicate += "<a href='#' id='jobPostAdd' class='btn button_all secondary_color_bg'>POST A JOB</a> </div>"
                                }
                                else if( $("#ddlcat").val()=="G")
                                {
                                    _msgDuplicate += "<a href='#' id='createGig' class='btn button_all secondary_color_bg'>CREATE A SERVICE</a> </div>"
                                }
                                else {
                                    _msgDuplicate += "<a href='#' id='createGig' class='btn button_all secondary_color_bg'>CREATE A SERVICE</a> <a href='#' id='jobPostAdd' class='btn button_all secondary_color_bg'>POST A JOB</a> </div>"
                                }
                                //_msgDuplicate += "</div>";
                                $("#divJobPoster").addClass('col-md-8').addClass('home_left_8').append(_msgDuplicate);
                                //}



                            }
                            else
                            {

                                var _Msg = "";
                                _Msg = "<div class='col-md-12 category_nojob_bg clearfix'><h3>There don't seem to be any live # for this category.</h3></div>"
                                _Msg=  _Msg.replace('#',_Sort);
                                $("#divjobs").append(_Msg);
                                var _divmsg = $("#divmsg");

                                if (_divmsg.length > 0) {
                                    _divmsg.hide();
                                }
                            }


                        }
                        else {

                            $.each(response, function (key, value) {
                                var elem = " ";

                                elem = "<div class='"+response[key].CssClass+"' id=" + response[key].Rownumber + ">";
                                if (response[key].VerifiedPartner == "Y")
                                {
                                    elem += "<div class='verified_partner_box'><span>Verified Partner</span></div>";
                                }
                                var _href="#";
                                //if($("#ddlcat").val()!="G")
                                //{
                                //    _href = "/Jobs/Details?";
                                //    _href = _href + "id=" + response[key].JobId;
                                //}
                                //else
                                //{
                                //    _href = "/Gigs/Details?";
                                //    _href = _href + "id=" + response[key].JobId;
                                //}
                                _href=response[key].RedirectUrl;
                                elem = elem + "<a href="+_href+"><h3>" + response[key].JobTitle + "</h3></a>";
                                //elem = elem + "<h3>" + response[key].JobTitle + "</h3>";
                                elem = elem + "<div class='timeframe_budget_small clearfix'>";
                                if(response[key].Type!="G")
                                {
                                    elem = elem + "<div class='timeframe_only'><span>Deadline: </span>&nbsp;<span>" + response[key].JobCompletionDateDisplay + "</span></div>";
                                    elem = elem + "<div class='budget_only'><span>Budget: </span>&nbsp;<span>" + response[key].BudgetASPInt.toLocaleString() + " AXPR ($" + response[key].DollarCount.toLocaleString() + " ) </span></div>";
                                }
                                else
                                {
                                    elem = elem + "<div class='timeframe_only'><span>Delivery time: </span>&nbsp;<span>" + response[key].JobCompletionDateDisplay + "</span><span>&nbsp;Days</span></div>";
                                    elem = elem + "<div class='timeframe_only'><span>Purchased: </span>&nbsp;<span>" + response[key].GigsCompleted + "</span><span>&nbsp;Times</span></div>";
                                    elem = elem + "<div class='budget_only'><span>Cost: </span>&nbsp;<span>" + response[key].BudgetASPInt.toLocaleString() + " AXPR ($" + response[key].DollarCount.toLocaleString() + " ) </span></div>";
                                }

                                elem = elem + "<div class='axp_star_only'><ul>";
                                if (response[key].BadgeCount == 1) {
                                    elem = elem + "<li><i></i></li>";
                                }
                                else if (response[key].BadgeCount == 2) {
                                    elem = elem + "<li><li><i></i></li><li><i></i></li>";
                                }
                                else if (response[key].BadgeCount == 3) {
                                    elem = elem + "<li><i></i></li><li><i></i></li><li><i></i></li>";
                                }
                                elem = elem + "</ul></div>";
                                elem = elem + "</div>";
                                elem = elem + "<div class='home_client_discription_small clearfix'><p>" + response[key].JobDescriptionDisplay + "</p></div>";
                                elem = elem + "<div class='client_profile_imgname_bg clearfix'> <div class='client_profile_pic'><div class='client_profile_pic_1'>";
                                elem = elem + "<img src=" + response[key].ProfilePic + " alt='' /></div> <i class='profile_pic_star'></i></div>";
                                var _profilehref = "/Profile/Index?";
                                _profilehref = _profilehref + "id=" + response[key].UserId;
                                elem = elem + "<a href=" + _profilehref + "><div class='client_profile_name verified_user_checkbg'><h4>" + response[key].FullName;
                                if (response[key].VerifiedPartner == "Y")
                                {
                                    elem += "<i class='verified_user_check'></i>";
                                }
                                elem += "</h4> <span> " + response[key].JobsCompleted + " jobs completed</span> </div></a></div></div>";
                                $("#divjobs").append(elem);
                                elem = " ";
                            });
                            var _morebutton = response[0].Isloadmore;
                            if (_morebutton == 1) {
                                var _elment2 = " ";
                                _elment2 = _elment2 + "<div class='col-md-12 category_loadmore_bg clearfix' id='divloadmore'>";
                                _elment2 = _elment2 + " <a href='javascript:' class='btn button_all secondary_color_bg' id='btnloadmore'>Load more</a></div>";
                                $("#divjobs").append(_elment2)
                            }
                        }

                    }
                    else {

                        $("#divjobs").empty();
                        var _Msg = "";
                        var _Sort= $("#ddlcat").val()=="G"? "services":"jobs"
                        var _message="There don't seem to be any live # for this category."
                        _message= _message.replace('#',_Sort);
                        _Msg = "<div class='col-md-12 category_nojob_bg clearfix'><h3>'"+_message+"'</h3></div>"
                        var _divmsg = $("#divmsg");

                        if (_divmsg.length > 0)
                        {
                            _divmsg.hide();
                        }
                        $("#divjobs").append(_Msg);
                    }

                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }




        function LoadMorejobs(_Id, _skill, _tag, _Minprice, _Maxprice, _Sortdir, _searchtext) {
            
            $(".category_loadmore_bg").hide();
            $("#divloadmore").empty();
            //$("#divjobs").empty();
            $("#divmsg").empty();
            $("#divJobPoster").empty();
            $.ajax({

                type: 'POST',
                cache: false,
                url: '@Url.Action("LoadMoreJobs", "Category")',
                data: { 'id': _Id, 'topskills': _skill, 'budgetMin': _Minprice, 'budgetMax': _Maxprice, 'populartags': _tag, sortorder: _Sortdir, '_searchtext': _searchtext },
                success: function (response) {
                    if (response != null) {
                        //$("#divjobs").empty();
                        if (response.length == 0) {
                            var _Msg = "";
                            _Msg = "<div class='col-md-12 category_nojob_bg clearfix'><h3>No jobs found matching this criteria.</h3></div>"
                            $("#divjobs").append(_Msg);
                        }
                        else {
                            $.each(response, function (key, value) {
                                var elem = " ";
                                elem = "<div class='"+ response[key].CssClass + "'  id=" + response[key].JobId + ">";
                                if (response[key].VerifiedPartner == "Y")
                                {
                                    elem += "<div class='verified_partner_box'><span>Verified Partner</span></div>";
                                }
                                var _href="#";
                                //if($("#ddlcat").val()!="G")
                                //{
                                //    _href = "/Jobs/Details?";
                                //    _href = _href + "id=" + response[key].JobId;
                                //}
                                //else
                                //{
                                //    _href = "/Gigs/Details?";
                                //    _href = _href + "id=" + response[key].JobId;
                                //}
                                _href=response[key].RedirectUrl ;
                                elem = elem + "<a href=" + _href + "><h3>" + response[key].JobTitle + "</h3></a>";
                                // elem = elem + "<h3>" + response[key].JobTitle + "</h3>";
                                elem = elem + "<div class='timeframe_budget_small clearfix'>";
                                if(response[key].Type !="G")
                                {
                                    elem = elem + "<div class='timeframe_only'><span>Deadline: </span>&nbsp;<span>" + response[key].JobCompletionDateDisplay + "</span></div>";
                                    elem = elem + "<div class='budget_only'><span>Budget: </span>&nbsp;<span>" + response[key].BudgetASPInt.toLocaleString() + " AXPR ($" + response[key].DollarCount.toLocaleString() + " ) </span></div>";
                                }
                                else
                                {
                                    elem = elem + "<div class='timeframe_only'><span>Delivery time: </span>&nbsp;<span>" + response[key].JobCompletionDateDisplay + "</span><span>&nbsp;Days</span></div>";
                                    elem = elem + "<div class='timeframe_only'><span>Purchased: </span>&nbsp;<span>" + response[key].GigsCompleted + "</span><span>&nbsp;Times</span></div>";
                                    elem = elem + "<div class='budget_only'><span>Cost: </span>&nbsp;<span>" + response[key].BudgetASPInt.toLocaleString() + " AXPR ($" + response[key].DollarCount.toLocaleString() + " ) </span></div>";
                                }

                                elem = elem + "<div class='axp_star_only'><ul>";
                                if (response[key].BadgeCount == 1) {
                                    elem = elem + "<li><i></i></li>";
                                }
                                else if (response[key].BadgeCount == 2) {
                                    elem = elem + "<li><li><i></i></li><li><i></i></li>";
                                }
                                else if (response[key].BadgeCount == 3) {
                                    elem = elem + "<li><i></i></li><li><i></i></li><li><i></i></li>";
                                }
                                elem = elem + "</ul></div>";
                                elem = elem + "</div>";
                                elem = elem + "<div class='home_client_discription_small clearfix'><p>" + response[key].JobDescriptionDisplay + "</p></div>";
                                elem = elem + "<div class='client_profile_imgname_bg clearfix'> <div class='client_profile_pic'><div class='client_profile_pic_1'>";
                                elem = elem + "<img src=" + response[key].ProfilePic + " alt='' /></div> <i class='profile_pic_star'></i></div>";
                                var _profilehref = "/Profile/Index?";
                                _profilehref = _profilehref + "id=" + response[key].UserId;
                                elem = elem + "<a href=" + _profilehref + "><div class='client_profile_name verified_user_checkbg'><h4>" + response[key].FullName;
                                if (response[key].VerifiedPartner == "Y")
                                {
                                    elem += "<i class='verified_user_check'></i>";
                                }
                                elem += "</h4> <span> " + response[key].JobsCompleted + " jobs completed</span> </div></a></div></div>";
                                $("#divjobs").append(elem);
                                elem = " ";
                            });
                            var _morebutton = response[0].Isloadmore;
                            if(_morebutton == 1)
                            {
                                var _elment2 = " ";
                                _elment2 = _elment2 + "<div class='col-md-12 category_loadmore_bg clearfix' id='divloadmore'>";
                                _elment2 = _elment2 + " <a href='javascript:' class='btn button_all secondary_color_bg' id='btnloadmore'>Load more</a></div>";
                                $("#divjobs").append(_elment2)
                            }

                        }

                    }
                    else {
                        $("#divjobs").empty();
                        var _Msg = "";
                        var _Sort= $("#ddlcat").val()=="G"? "services":"jobs"
                        var _message="There don't seem to be any live # for this category."
                        _message.replace('#',_Sort);
                        _Msg = "<div class='col-md-12 category_nojob_bg clearfix'><h3>'"+_message+"'</h3></div>"
                        $("#divjobs").append(_Msg);
                        var _divmsg = $("#divmsg");
                        if (_divmsg.length > 0) {
                            _divmsg.hide();
                        }
                    }

                },
                error: function (jqXHR, exception) {
                    alert('in error')
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }

        // price change functionality begins

        $('#price-range-submit').hide();

        //$("#min_price,#max_price").on('change', function () {
        //    evt.preventDefault();
        //});

        @*$("#min_price,#max_price").on('change', function () {


            $('#price-range-submit').show();

            var min_price_range = parseInt($("#min_price").val());

            var max_price_range = parseInt($("#max_price").val());

            if (min_price_range > max_price_range) {

                $('#max_price').val(min_price_range);
            }


            if(min_price_range.toString()!="NaN" && max_price_range.toString()!="NaN")
            {

                alert(min_price_range);
                alert(max_price_range);
                GetRatesInDollar(min_price_range,max_price_range);
                $("#slider-range").slider({
                    values: [min_price_range, max_price_range]
                });
            }
            else
            {

                var ses_mindollar=@Html.Raw(Json.Encode(Session["mindollar"]));
                var ses_maxdollar=@Html.Raw(Json.Encode(Session["maxdollar"]));
                $("#min_price").val(ses_mindollar);
                $("#max_price").val(ses_maxdollar);
                GetRatesInDollar(ses_mindollar,ses_maxdollar);
                $("#slider-range").slider({
                    values: [ses_mindollar, ses_maxdollar]
                });
            }

            $("#ddlpaid").trigger("change");
        });*@


        @*$("#min_price,#max_price").on("paste keyup", function () {

            $('#price-range-submit').show();

            var min_price_range = parseInt($("#min_price").val());

            var max_price_range = parseInt($("#max_price").val());


            if (min_price_range == max_price_range) {

                max_price_range = min_price_range + 1;

                $("#min_price").val(min_price_range);
                $("#max_price").val(max_price_range);
            }
            //$("#slider-range").off("change");


            if(min_price_range.toString()!="NaN" && max_price_range.toString()!="NaN")
            {

                GetRatesInDollar(min_price_range,max_price_range);
                $("#slider-range").slider({
                    values: [min_price_range, max_price_range]
                });
            }
            else
            {

                var ses_mindollar=@Html.Raw(Json.Encode(Session["mindollar"]));
                var ses_maxdollar=@Html.Raw(Json.Encode(Session["maxdollar"]));
                $("#min_price").val(ses_mindollar);
                $("#max_price").val(ses_maxdollar);
                GetRatesInDollar(ses_mindollar,ses_maxdollar);
                $("#slider-range").slider({
                    values: [ses_mindollar, ses_maxdollar]
                });
            }
            $("#ddlpaid").trigger("change");



        });*@


        $(function () {
            GetRatesInDollar(1000, 10000);
            GetRates( 1000, 10000)
            var _FixedMaxVal=localStorage.getItem("_maxamount");

            localStorage.removeItem("_maxamount");
            var rate=localStorage.getItem("exrate");
            var twokeq=parseFloat(((1 / exchangerate) * 2000).toFixed(2));
            var eightkeq=parseFloat(((1 / exchangerate) * 8000).toFixed(2));
            //

            //$("#max_price").attr('max', _FixedMaxVal);
            //$("#min_price").attr('max', _FixedMaxVal-1);

            //var max_price_max=$("#max_price").attr('max');
            //var max_price_min=$("#max_price").attr('min');
            //var min_price_max=$("#min_price").attr('max');
            //var min_price_min=$("#min_price").attr('min');


            $("#slider-range").slider({
                range: true,
                orientation: "horizontal",
                min:  1000,
                max: _FixedMaxVal, //10000,
                // values: [0,  10000],
                values: [ 1000,  _FixedMaxVal],
                step:1,

                slide: function (event, ui) {


                    if (ui.values[0] == ui.values[1]) {
                        //$("#slider-range").trigger('stop');
                        return false;
                    }


                    else if (ui.values[0] > ui.values[1]) {
                        //$("#slider-range").trigger('stop');

                        return false;
                    }
                        //else if(ui.values[0]>=eightkeq)
                        //{
                        //    $('#slider-range').trigger('stop');
                        //    event.preventDefault();
                        //    return false;
                        //}
                        //else if(ui.values[1]<=twokeq)
                        //{
                        //    $('#slider-range').trigger('stop');
                        //    event.preventDefault();
                        //    return false;
                        //}
                    else
                    {


                        $("#min_price").val(ui.values[0].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $("#max_price").val(ui.values[1].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        @*var exchangerate=@Html.Raw(Json.Encode(Session["ExchangeRate"]));
                        alert(exchangerate);*@
                        var exchangerate=  localStorage.getItem("exrate");
                        var minprice=Math.ceil(parseFloat((ui.values[0] * exchangerate).toFixed(2)));
                        var maxprice=Math.ceil(parseFloat((ui.values[1] * exchangerate).toFixed(2)));

                        if(maxprice>10000)
                        {
                            maxprice=10000
                        }
                        var spanmin="($"+minprice+")";
                        var spanmax="($"+maxprice+")";
                        $("#spanmin").text(spanmin.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $("#spanmax").text(spanmax.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    }



                },
                stop: function(event, ui) {
                    // debugger

                    if (ui.values[0] == ui.values[1]) {
                        return false;
                    }

                    else if (ui.values[0] > ui.values[1]) {
                        return false;
                    }
                    else
                    {

                        $("#min_price").val(ui.values[0].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $("#max_price").val(ui.values[1].toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        GetRatesInDollar( $("#min_price").val().replace(/,/g, ""), $("#max_price").val().replace(/,/g, ""));
                        $("#ddlpaid").trigger("change");
                    }

                }
            })


            var test =_FixedMaxVal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var index = test.lastIndexOf('.');
            test = test.substring(0, index);

            $("#min_price").val($("#slider-range").slider("values", 0));
            $("#max_price").val(test);


            function GetRates(minval,maxval)
            {

                //
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("GetRates", "category")',
                    data: {"minval":minval,"maxvalue":maxval },
                    success: function (response) {
                        var _minamount=parseFloat(response.Minval.toFixed(2)).toLocaleString()
                        var _min="($"+_minamount+")";

                        var _maxamount=parseFloat(response.Maxval.toFixed(2)).toLocaleString();
                        var _max="($"+_maxamount+")";
                        var spanmin="($"+minval+")";
                        var spanmax="($"+maxval+")";

                        // $("#spanmin").text(spanmin.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                        $("#spanmax").text(spanmax.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                        localStorage.setItem("_maxamount", response.Maxval);

                        //$("#slider-range").slider({
                        //    values: [response.Minval, response.Maxval]
                        //});

                    },
                    error: function (jqXHR, exception) {

                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }


            @*function GetRatesInDollar(minval,maxval)
            {

                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("GetRatesinDollar", "category")',
                    data: {"minval":minval,"maxvalue":maxval },
                    success: function (response) {
                        // var _minamount=parseFloat(response.Minval.toFixed(2)).toLocaleString();
                        var _min="($"+response.MinvalDollar+")";
                        alert(_min);

                        //var _maxamount=parseFloat(response.Maxval.toFixed(2)).toLocaleString();
                        var _max="($"+response.MaxvalDollar+")";
                        alert(_max);

                        $("#spanmin").text(_min);
                        $("#spanmax").text(_max);



                    },
                    error: function (jqXHR, exception) {

                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }*@






            var minAmount= @Html.Raw(Json.Encode(@ViewBag.budgetMin));
            var maxAmount= @Html.Raw(Json.Encode(@ViewBag.MaxBudget));

            if(minAmount!=null && maxAmount!=null)
            {
                $('#min_price').val(minAmount);
                $('#max_price').val(maxAmount);

                $("#.slider-range").slider({values:[minAmount,maxAmount]});
            }


        });


        $("#slider-range,#price-range-submit").click(function () {

            //
            var min_price = $('#min_price').val();
            var max_price = $('#max_price').val();
            $("#searchResults").text("Here List of products will be shown which are cost between " + min_price + " " + "and" + " " + max_price + ".");
        });

        $("#topskilles_scroll").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });
        $("#populartag_scroll").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });

    });

    function GetRatesInDollar(minval,maxval)
    {
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("GetRatesinDollar", "category")',
            data: {"minval":minval,"maxvalue":maxval },
            success: function (response) {
                var _min="($"+Math.ceil(response.MinvalDollar)+")";
                var _max="($"+Math.ceil(response.MaxvalDollar)+")";
                if(response.MaxvalDollar>10000)
                {
                    _max="($10000)";
                }

                $("#spanmin").text(_min.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                // $("#spanmax").text(_max.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
            },
            error: function (jqXHR, exception) {

                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }


</script>
<div id="loaderDiv" class="loaderDivclass " style="display:none"></div>
<div class="col-md-12 con_8_4_outer_bg clearfix">
    <div class="row con_row">
        <div class="col-md-8 home_left_8" id="divjobs">
            @if (Model.Job != null)
            {
            foreach (var item in Model.Job)
            {
            <div class="@item.CssClass" id="@item.Rownumber">
                @if (item.VerifiedPartner == "Y")
                {
                <div class="verified_partner_box"><span>Verified Partner</span></div>
                }
                <a href="@item.RedirectUrl">
                    <h3>@item.JobTitle </h3>
                </a>
                @*@if (item.FromPage != "G")
                {
                    <a href="@Url.Action("Details", "Jobs", new { @id = @item.JobId })">
                        <h3>@item.JobTitle </h3>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Details", "Gigs", new { @id = @item.JobId,@subid =0 })">
                        <h3>@item.JobTitle </h3>
                    </a>
                }*@
                <div class="timeframe_budget_small clearfix">
                    @if (item.FromPage != "G")
                    {
                    <div class="timeframe_only"><span>Deadline: </span>&nbsp;<span>@item.JobCompletionDateDisplay</span></div>
                    <div class="budget_only"><span>Budget: </span>&nbsp;<span>@String.Concat(@item.BudgetASPInt.ToString("#,##0"), " AXPR ", "($", @item.DollarCount.ToString("#,##0.00"), ")")</span></div>
                    }
                    else
                    {
                    <div class="timeframe_only"><span>Delivery time: </span>&nbsp;<span>@item.JobCompletionDateDisplay</span>&nbsp; <span>Days</span></div>
                    <div class="timeframe_only"><span>Purchased: </span>&nbsp;<span>@item.GigsCompleted</span>&nbsp; <span>Times</span></div>
                    <div class="budget_only"><span>Cost: </span>&nbsp;<span>@String.Concat(@item.BudgetASPInt.ToString("#,##0"), " AXPR ", "($", @item.DollarCount.ToString("#,##0.00"), ")")</span></div>
                    }

                    <div class="axp_star_only">
                        <ul>
                            @if (item.BadgeCount == 1)
                            {
                            <li><i></i></li>
                            }
                            else if (item.BadgeCount == 2)
                            {
                            <li><i></i></li>
                            <li><i></i></li>
                            }
                            else if (item.BadgeCount == 3)
                            {
                            <li><i></i></li>
                            <li><i></i></li>
                            <li><i></i></li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="home_client_discription_small clearfix">
                    <p>@item.JobDescriptionDisplay</p>
                </div>
                <div class="client_profile_imgname_bg clearfix">
                    <div class="client_profile_pic">
                        <div class="client_profile_pic_1">
                            @if (item.ProfilePic != null)
                            {
                            <img src="@Url.Content("~/" + @item.ProfilePic.ToString().Replace("..", ""))" alt="" />
                            }
                            else
                            {
                            <img src="@Url.Content("~/Content/images/user.png"))" alt="" />
                            }

                        </div>
                        <i class="profile_pic_star"></i>
                    </div>
                    <a href="@Url.Action("Index", "Profile",new { @id=item.UserId })">
                        <div class="client_profile_name verified_user_checkbg">

                            <h4>
                                @item.FullName
                                @if (item.VerifiedPartner == "Y")
                                {
                                <i class="verified_user_check"></i>
                                }
                            </h4>
                            <span>@item.JobsCompleted jobs completed</span>
                        </div>
                    </a>
                </div>
            </div>
            }
            }

            @if (Model.Job != null && Model.Job.Count > 0)
            {


            if (Model.Job[0].Isloadmore == 1)
            {
            <div class="col-md-12 category_loadmore_bg clearfix" id="divloadmore">
                <a href="javascript:" class="btn button_all secondary_color_bg" id="btnloadmore">Load more</a>
            </div>

            }
            }




        </div>
        @if ((Model.Job != null) && (Model.Job.Count == 0) && (Session["UserType"] == null))
        {



        <div class="col-md-8 home_left_8" id="divmsg">
            <div class="col-md-12 category_nojob_bg clearfix">
                @if (Session["Category"].ToString() == "J")
                {
                <h3>There don't seem to be any live jobs for this category.</h3>
                }
                else
                {
                <h3>There don't seem to be any live services for this category.</h3>
                }
            </div>
        </div>
        }
        else if ((Model.Job != null) && (Model.Job.Count == 0) && (Session["UserType"].ToString() == "1"))
        {
        <div class="col-md-8 home_left_8">
            <div class="col-md-12 category_nojob_bg clearfix">
                @if (Session["Category"].ToString() == "J")
                {
                <h3>There don't seem to be any live jobs for this category.</h3>
                }
                else
                {
                <h3>There don't seem to be any live services for this category.</h3>
                }
            </div>
        </div>
        }
        else if ((Model.Job != null) && (Model.Job.Count == 0) && (Session["UserType"].ToString() != "1"))
        {
        <div class="col-md-8 home_left_8" id="divJobPoster">
            <div class="col-md-12 category_nojob_bg clearfix">
                @if (Session["Category"].ToString() == "J")
                {
                <h3>There don't seem to be any live jobs for this category.</h3>
                <a href="#" id="jobPostAdd" class="btn button_all secondary_color_bg">POST A JOB</a>
                }
                else
                {
                <h3>There don't seem to be any live services for this category.</h3>
                <a href="#" id="createGig" class="btn button_all secondary_color_bg">CREATE A SERVICE</a>
                }
                @*<p>Get the party started</p>*@

            </div>
        </div>
        }

        <div class="col-md-4 catagory_right_4">

            <div class="col-md-12 bg_color_comen home_top_jobs_bg catagory_filter_job_bg clearfix">
                <div class="home_top_jobs_heding heading_border_buttom">

                    <h2 id="skillhead">Filter jobs</h2>
                </div>
                <div class="home_top_jobs_subheding">
                    <h3>TOP SKILLS</h3>
                </div>
                <div class="catagory_filterjob_ulbg clearfix">
                    <div class="currencies_checkbox_bg clearfix" id="topskilles_scroll">
                        <ul id="ultopskill">
                            @if (Model.skills != null)
                            {
                            foreach (var item in Model.skills)
                            {
                            <li>
                                <div>
                                    <label class="" for="skill_@item.SkillsId">
                                        @item.Description
                                        <input type="checkbox" class="skill" id="skill_@item.SkillsId">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </li>
                            }
                            }


                        </ul>
                    </div>

                </div>

                <div class="border_buttom_only"></div>
                <div class="home_top_jobs_subheding">
                    <h3 id="budgethead">BUDGET</h3>
                </div>
                <div class="catagory_filterjob_ulbg clearfix">
                    <div class="budget_filter_range_bg clearfix">
                        <div id="slider-range" class="budget_filter_range price-filter-range" name="rangeInput"></div>
                    </div>
                    <div class="budget_filter_range_textbg clearfix">
                        <div class="clearfix display_block">
                            <div class="pull-left">
                                <span>MIN</span>
                                @*<input type="number" min="0" max="9800" oninput="validity.valid||(value='0');" id="min_price" class="price-range-field" />*@
                                <input type="text" id="min_price" class="price-range-field" disabled="disabled" />
                                <span>AXPR </span>
                            </div>


                            <div class="pull-right">

                                <span id="spanmin"></span>
                            </div>
                        </div>
                        <div class="clearfix display_block">
                            @*<div class="pull-left">
                                <span>MAX</span>
                                <input type="number" min="200" max="10000" oninput="validity.valid||(value='10000');" id="max_price" class="price-range-field" />

                            </div>*@
                            @*<div class="pull-left">
                                <span>AXPR </span>
                                <span id="spanmin"></span>
                            </div>*@

                            <div class="pull-left">
                                <span>MAX</span>
                                @*<input type="number" min="200" max="10000" oninput="validity.valid||(value='10000');" id="max_price" class="price-range-field" />*@
                                <input type="text" id="max_price" class="price-range-field" disabled="disabled" />
                                <span>AXPR</span>
                            </div>
                            <div class="pull-right">

                                <span id="spanmax"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="border_buttom_only"></div>
                <div class="home_top_jobs_subheding">
                    <h3>POPULAR TAGS</h3>
                </div>
                <div class="catagory_filterjob_ulbg clearfix">
                    <div class="currencies_checkbox_bg clearfix" id="populartag_scroll">
                        <ul id="ultags">
                            @if (Model.PopularTags != null)
                            {
                            foreach (var item in Model.PopularTags)
                            {
                            <li>
                                <div>
                                    <label class="" for="tags_@item.TrendingTagsId">
                                        @item.Description
                                        <input type="checkbox" class="tags" id="tags_@item.TrendingTagsId">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </li>
                            }
                            }



                        </ul>
                    </div>

                </div>

            </div>








        </div>

    </div>

</div>


