
<script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">


    $(function () {
        $("#FormLogin").validate({

            errorClass: "error_span",
            errorElement: "span",
            rules: {

                txt_email: {
                    required: true,
                    email: true
                },
                txt_password: {
                    required: true,
                    //minlength: 5
                }
            },
            messages: {
                txt_password: {
                    required: "Please provide a password",
                    //minlength: "Your password must be at least 5 characters long"
                },
                txt_email:{
                    email: "Please enter a valid email address",
                    required:"Please tell us your email address"
                }

            },
            highlight: function(element, errorClass) {
                $(element).removeClass(errorClass);
            },

            submitHandler: function (form) {
                _LoginViewModel = { "UserName": $("#txt_email").val(), "Password": $("#txt_password").val(), "HubId": $("#hdnHubId").val(),"RememberMe":$('#chkb_RememberMe:checked').val() ? true : false}

                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("Login", "Login")',
                    data: { model:_LoginViewModel },
                    success: function (data) {
                        if (data.Status =="true")
                        {
                            window.location.href = data.RedirectUrl;
                        }
                        else
                        {
                            $("#errorMsgdiv").show();
                            $("#errorMsg").show();
                            $("#errorMsg").text(data.Message);
                        }
                    },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }
        });
    });
</script>
<script type="text/javascript">


    $(document).ready(function () {


        $("#txt_email").keydown(function(){
            $("#errorMsgdiv").hide();
            $("#errorMsg").html("");
        });
        $("#txt_password").keydown(function(){
            $("#errorMsgdiv").hide();
            $("#errorMsg").html("");
        });


        var _txtemail= @Html.Raw(Json.Encode(@ViewBag.UserName));

        if(_txtemail!=null )
        {
            $('#txt_email').val(_txtemail);
        }

        $("div.test").on("click", "#chkremember", function () {

            var isChecked = $('#chkb_RememberMe:checked').val() ? true : false;
            if (isChecked == false) {
                $('#chkb_RememberMe').prop('checked', true);
            }
            else {
                $('#chkb_RememberMe').prop('checked', false);
            }
        })


        $("#signup").click(function () {
            closebox('login_view_pop_id');
            $.ajax({
                type: 'GET',
                cache: false,
                url: '@Url.Action("Register", "Login")',
                data: {},
                success: function (response) {
                    $("#register_view_pop_id").html(response)
                    openbox(1, 'register_view_pop_id');
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        })

        $("#resethere").click(function () {
            closebox('login_view_pop_id');
            $.ajax({
                type: 'GET',
                cache: false,
                url: '@Url.Action("ForgotPassword", "Login")',
                data: {},
                success: function (response) {
                    $("#forgotpassword_view_pop_id").html(response)
                    openbox(1, 'forgotpassword_view_pop_id');
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        })

    })
</script>
<span id="" class="col-md-12 popup_box_title clearfix">
    Log in
    <a href="#" onClick="closebox('login_view_pop_id')" class="popup_close_bg" title="Close"></a>
</span>

<main class="middle">
    @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-a a", role = "form", @id = "FormLogin" }))
    {
        @Html.AntiForgeryToken()
        <ul class="list-social a">
            <li class="fb"><a href="#"><i class="icon-facebook-circle"></i> Log in with Facebook</a></li>
            <li class="gl"><a href="#"><i class="icon-google-plus-circle"></i> Log in with Google+</a></li>
        </ul>
        <p XXXclass="hr" style="text-align:center"><span>or</span></p>
        <p>
            <label for="txt_email">Email address</label>
            <input type="email" id="txt_email" name="txt_email" class="text-center" spellcheck="false" required>
        </p>
        <p>
            <label for="txt_password">Password</label>
            <input type="password" id="txt_password" name="txt_password" class="text-center" spellcheck="false" required>
        </p>
        <p class="m20">
            <label for="fac">2FA</label>
            <input type="text" id="twofactor" name="twofactor" class="text-center" spellcheck="false">
        </p>

        <div class="form-group currencies_checkbox_bg clearfix test">
            <div class="only_one_check" style="width:240px">
                <label class="" for="Powered_check" id="chkremember">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Remember me
                    <input type="checkbox" id="chkb_RememberMe" name="chk_Remember" class="RememberMe">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="form-group clearfix" style="display:none" id="errorMsgdiv">
            <span id="errorMsg" class="error_span"></span>
        </div>

        <p class="submit">
            <button type="submit" id="btnLogin" title="Log me in">Log me in</button>
            <span class="overlay-b">Forgot Password? Reset it <a href="#" id="resethere">here</a></span>
            <span>By registering you confirm you accept the<br> <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></span>
        </p>
    }
</main>