@model MatchBX.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    var message = TempData["ErrorMessage"] != null ? TempData["ErrorMessage"].ToString() : null;
}
@*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>*@
@*<script>
        $(document).ready(function () {
            $('#errorMsg').empty();
            var msg = "@message";
            if (msg != null && msg != '') {
                $('#errorMsg').html(msg);
            }


            $('#usrName').on('keypress', function (event) {
                var regex = new RegExp("^[a-zA-Z0-9]+$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                    event.preventDefault();
                    return false;
                }
            });
            $("#loginmatchbx").click(function () {
                debugger
                closebox('register_view_pop_id');
                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: '@Url.Action("Login", "Login")',
                    data: {},
                    success: function (response) {
                        $("#login_view_pop_id").html(response)
                        openbox(1, 'login_view_pop_id');
                    },
                    error: function (jqXHR, exception) {

                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            });


        });
    </script>*@
@*<script type="text/javascript">
        function OnSuccess(data) {


        }
    </script>*@

<script>
    window.fbAsyncInit = function () {
        // FB JavaScript SDK configuration and setup
        FB.init({
            appId: '289989824939982', // FB App ID
            cookie: true,  // enable cookies to allow the server to access the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.8' // use graph api version 2.8
        });

        // Check whether the user already logged in
        //FB.getLoginStatus(function(response) {
        //    if (response.status === 'connected') {
        //        //display user data
        //        getFbUserData();
        //    }
        //});
    };

    // Load the JavaScript SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Facebook login with JavaScript SDK
    function fbLogin() {
        FB.login(function (response) {
            if (response.authResponse) {
                // Get and display the user profile data
                getFbUserData();
            } else {
                document.getElementById('status').innerHTML = 'User cancelled login or did not fully authorize.';
            }
        }, { scope: 'email' });
    }

    // Fetch the user profile data from facebook
    function getFbUserData() {
        FB.api('/me', { locale: 'en_US', fields: 'id,first_name,last_name,email' },
            function (response) {

                $('#FullName').val(response.first_name + ' ' + response.last_name);
                $('#Email').val(response.email);
                //document.getElementById('fbLink').setAttribute("onclick","fbLogout()");
                //document.getElementById('fbLink').innerHTML = 'Logout from Facebook';
                //document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.first_name + '!';
                //document.getElementById('userData').innerHTML = '<p><b>FB ID:</b> '+response.id+'</p><p><b>Name:</b> '+response.first_name+' '+response.last_name+'</p><p><b>Email:</b> '+response.email+'</p><p><b>Gender:</b> '+response.gender+'</p><p><b>Locale:</b> '+response.locale+'</p><p><b>Picture:</b> <img src="'+response.picture.data.url+'"/></p><p><b>FB Profile:</b> <a target="_blank" href="'+response.link+'">click to view profile</a></p>';
            });
    }

    // Logout from facebook
    //function fbLogout() {
    //    FB.logout(function() {
    //        document.getElementById('fbLink').setAttribute("onclick","fbLogin()");
    //        document.getElementById('fbLink').innerHTML = '<img src="fblogin.png"/>';
    //        document.getElementById('userData').innerHTML = '';
    //        document.getElementById('status').innerHTML = 'You have successfully logout from Facebook.';
    //    });
    //}
</script>
<script type="text/javascript">
    $(function () {
        //$('#Password').focus(function () {
        //    $('.password_input_bg').css('display', 'inline-block');
        //});
        //$('#Password').focusout(function () {
        //    $('.password_input_bg').css('display', 'none');
        //});



        $("#frmReg").validate({
            errorClass: "error_span",
            errorElement: "span",
            ignore:"",
            rules: {

                Email: {
                    required: true,
                    email: true,
                    checkemail:true
                },

                UserName: {
                    required: true,
                    uncheck: true,
                    unstatus: true
                },
                Password: {
                    required: true,
                    //minlength: 9,
                    pwcheck: true
                },
                Node_check: {
                    required: true,
                    Chkprivacy: true
                }
            },
            messages: {

                Email: {
                    email: "Please enter a valid email address",
                    required: "Please tell us your email address",
                    checkemail: "Email address already exists. Please use a different Email address"
                },
                FullName: "Invalid full name",
                UserName: {
                    required: "Please tell us your username",
                    uncheck: "Username should not contain symbols",
                    unstatus: "Sorry, someone's already picked that!"
                },
                Password: {
                    //pwcheck: "Password must contain a least 1 letter, a least 1 capital letter, a least 1 number, a least 8 characters and a least 1 special character",
                    //pwcheck: "Password must contain at least 8 letters and 1 number",
                    pwcheck: " ",
                    required: "Please enter your password"
                }
                //Node_check: {
                //    Chkprivacy: "You need to confirm you have read the privacy statement and our T&Cs",
                //    required: "You need to confirm you have read the privacy statement and our T&Cs"
                //}
            },
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            submitHandler: function (form) {

                _RegisterViewModel = {
                    Email: $("#Email").val(),
                    FullName: $("#FullName").val(),
                    UserName: $("#UserName").val(),
                    Password: $("#Password").val(),
                    Node_check: $("#Node_check").val()
                }




                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("Register", "Login")',
                    data: { model: _RegisterViewModel },
                    success: function (data) {
                        if (data.Status == "true") {
                            closebox('register_view_pop_id');
                            getonboarding();
                        }
                        else {
                            $("#errorMsg").text(data.Message);
                        }
                    },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });



                function getonboarding() {
                    $.ajax({
                        type: 'GET',
                        cache: false,
                        url: '@Url.Action("Onboarding", "Login")',
                        data: "{ }",
                        success: function (data) {
                            $("#onboarding_view_pop_id").html(data);
                            openbox(1, 'onboarding_view_pop_id');

                        },
                        error: function (jqXHR, exception) {
                            console.log(jqXHR.status);
                            console.log(exception);
                        }
                    });

                }
            }
        });
        $.validator.addMethod("pwcheck", function (value, element) {
            let valid = 0, uCase = false, lCase = false, dig = false, spec = false, mLen = false;
            // tslint:disable-next-line:prefer-const
            let upperCase = new RegExp('^(?=.*?[A-Z])');
            // tslint:disable-next-line:prefer-const
            let lowerCase = new RegExp('^(?=.*?[a-z])');
            // tslint:disable-next-line:prefer-const
            let digit = new RegExp('^(?=.*?[0-9])');
            // tslint:disable-next-line:prefer-const
            let special = new RegExp('^(?=.*?[#?!@@$%^&*-])');
            // tslint:disable-next-line:prefer-const
            let minLength = new RegExp('^.{8,}');

            // tslint:disable-next-line:prefer-const
            let pwd = value;
            if (!special.test(pwd)) {
                spec = false;
                $('#password_input_bg').show();
            } else {
                spec = true;
            }
            if (!upperCase.test(pwd)) {
                uCase = false;
                $('#password_input_bg').show();
            } else {
                uCase = true;
            }
            if (!lowerCase.test(pwd)) {
                lCase = false;
                $('#password_input_bg').show();
            } else {
                lCase = true;
            }
            if (!digit.test(pwd)) {
                dig = false;
                $('#password_input_bg').show();
            } else {
                dig = true;
            }
            if (!minLength.test(pwd)) {
                mLen = false;
                $('#password_input_bg').show();
            } else {
                mLen = true;
            }

            if (spec && uCase && lCase && dig && mLen) {
                valid = 1;

            } else {
                valid = 0;
                $('#password_input_bg').show();
            }
            if (valid != 1) {
                return false
            } else if (valid == 1) {
                return true;
            }
            //var pwd = value;
            //var digits = pwd.replace(/[^0-9]/g, "").length;
            //var characters = pwd.replace(/[^a-zA-Z]/g, "").length;
            //if(digits>=1 && characters>=8)
            //{
            //    return true;
            //}
            //else
            //{
            //    return false;
            //}

        });
        $.validator.addMethod("uncheck", function (value, element) {
            return /^[a-zA-Z0-9]*$/.test(value);
        });
        $.validator.addMethod("unstatus", function (value, element) {
            var result = true;
            $.ajax({
                type: 'GET',
                cache: false,
                url: '@Url.Action("CheckUserName", "Login")',
                data: { UserName: value },
                async: false,
                success: function (data) {
                    result = data;
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.status);
                    console.log(exception);
                    result = false;
                }
            });
            return result;
        });


        $.validator.addMethod("checkemail", function (value, element) {
            var result = true;
            $.ajax({
                type: 'GET',
                cache: false,
                url: '@Url.Action("CheckUserEmail", "Login")',
                data: { Email: value },
                async: false,
                success: function (data) {
                    result = data;
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.status);
                    console.log(exception);
                    result = false;
                }
            });
            return result;
        });

        //$.validator.addMethod("Chkprivacy", function (value, element) {

        //    var result = false;
        //    var tc_chkStatus = document.getElementById("Node_check1").checked;
        //    var privacy_chkStatus = document.getElementById("Node_check2").checked;
        //    if (tc_chkStatus == true && privacy_chkStatus == true)
        //    {
        //        result = true;
        //    }
        //    return result;
        //})

    });
</script>
<script>
    $(document).ready(function () {

    //    $('#Password').on('keypress', function(){
    //        $("#spanpswd").hide();
    //    }
    //);

        $('#Password').focus(function () {
            $('#password_input_bg').css('display', 'inline-block');
        });
        $('#Password').focusout(function () {
            $('#password_input_bg').css('display', 'none');
        });
        $('#Password').on('change keyup copy paste cut', function () { //function() {
            let valid = 0;
            let upperCase = new RegExp('^(?=.*?[A-Z])');
            let lowerCase = new RegExp('^(?=.*?[a-z])');
            let digit = new RegExp('^(?=.*?[0-9])');
            let special = new RegExp('^(?=.*?[#?!@@$%^&*-])');
            let minLength = new RegExp('^.{8,}');

            let pwd = $('#Password').val();
            if (!minLength.test(pwd)) {
                $('#password_input_bg').show();
                $('.minlength').show();
                $('.minlength').addClass('pass_error_style');
                valid = 0;
            } else {
                $('.minlength').show().removeClass('pass_error_style').addClass('pass_style');
                valid = 1;
            }
            if (!upperCase.test(pwd)) {
                $('#password_input_bg').show();
                $('.capital_letter').show();
                $('.capital_letter').addClass('pass_error_style');
                valid = 0;
            } else {
                $('.capital_letter').show().removeClass('pass_error_style').addClass('pass_style');
                valid = 1;
            }
            if (!lowerCase.test(pwd)) {
                $('#password_input_bg').show();
                $('.letter').show();
                $('.letter').addClass('pass_error_style');
                valid = 0;
            } else {
                $('.letter').show().removeClass('pass_error_style').addClass('pass_style');
                valid = 1;
            }
            if (!digit.test(pwd)) {
                $('#password_input_bg').show();
                $('.number').show();
                $('.number').addClass('pass_error_style');
                valid = 0;
            } else {
                $('.number').show().removeClass('pass_error_style').addClass('pass_style');
                valid = 1;
            }
            if (!special.test(pwd)) {
                $('#password_input_bg').show();
                $('.special').show();
                $('.special').addClass('pass_error_style');
                valid = 0;
            } else {
                $('.special').show().removeClass('pass_error_style').addClass('pass_style');
                valid = 1;
            }

            if ($("#FormRegister").valid()) {
                if (valid != 1) {
                    $('#password_input_bg').show();
                } else if (valid == 1) {
                    $('#password_input_bg').hide();
                }
            } else {
                $('#password_input_bg').show();
            }
        });
        $('#Facebook').click(function () {
            fbLogin();
        });

        $(".popuplogin").click(function () {

            $.ajax({
                type: 'GET',
                cache: false,
                url: '@Url.Action("Login", "Login")',
                data: {},
                success: function (response) {

                    closebox('register_view_pop_id');
                    $("#login_view_pop_id").html(response)
                    openbox(1, 'login_view_pop_id');
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        });
        $("#UserName").keypress(function (e) {

            var valid = (e.which >= 48 && e.which <= 57) || (e.which >= 65 && e.which <= 90) || (e.which >= 97 && e.which <= 122);
            if (!valid) {
                e.preventDefault();
                return false;
            }
            if (e.altKey && e.code === "KeyE") {
                return false;
            }
        });
    })
</script>
<span id="" class="col-md-12 popup_box_title clearfix">
    Create your account
    <a href="#" onClick="closebox('register_view_pop_id')" class="popup_close_bg" title="Close"></a>
</span>

<main class="middle">
    @using (Html.BeginForm("Register", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-a a", role = "form", @id = "frmReg" }))
    {
        @Html.AntiForgeryToken()

        <ul class="list-social a">
            <li class="fb"><a href="#"><i class="icon-facebook-circle"></i> Register with Facebook</a></li>
            <li class="gl"><a href="#"><i class="icon-google-plus-circle"></i> Register with Google+</a></li>
        </ul>
        <p XXXclass="hr" style="text-align:center"><span>or</span></p>
        <p>
            <label for="FullName">Full Name</label>
            <input type="text" id="FullName" name="FullName" class="text-center" maxlength="30" spellcheck="false">
        </p>
        <p>
            <label for="Email">Email address</label>
            <input type="email" id="Email" name="Email" class="text-center" spellcheck="false" maxlength="100" required>
        </p>
        <p>
            <label for="username-name">Please create your username</label>
            <input type="text" id="UserName" name="UserName" class="text-center" spellcheck="false" maxlength="30">
        </p>
        <p>
            <label for="Password">Password</label>
            <input type="password" id="Password" name="Password" class="text-center" maxlength="30" required>
        </p>
        <div id="password_input_bg" class="password_input_bg" style="display: none;">
            <div class="password_must_contain_bg clearfix">
                <p>Password must contain</p>
                <ul>
                    <li class="letter pass_error_style">
                        <i class="letter pass_error_style"></i>
                        <span>
                            A least
                            <b>one letter</b>
                        </span>
                    </li>
                    <li class="capital_letter pass_error_style">
                        <i class="capital_letter pass_error_style"></i>
                        <span>
                            A least
                            <b>one capital letter</b>
                        </span>
                    </li>
                    <li class="number pass_error_style">
                        <i class="number pass_error_style"></i>
                        <span>
                            A least
                            <b>one number</b>
                        </span>
                    </li>
                    <li class="minlength pass_error_style">
                        <i class="minlength pass_error_style"></i>
                        <span>
                            A least
                            <b>8 characters</b>
                        </span>
                    </li>
                    <li class="special pass_error_style">
                        <i class="special pass_error_style"></i>
                        <span>
                            A least
                            <b>one special character</b>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <p class="m20">
            <label for="fac">Referral Code</label>
            <input type="text" id="fac" name="fac" class="text-center" spellcheck="false" maxlength="30">
        </p>

        <div class="form-group clearfix">
            <span id="errorMsg" class="error_span"> </span>
        </div>

        <p class="submit">
            <button type="submit" id="btnregsumit">Next step</button>

            <span class="overlay-b m25">Already have an account? <a href="#" class="popuplogin" title="Login" id="loginmatchbx">Login</a></span>

            <span>By registering you confirm you accept the <br> <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></span>
        </p>
    }
</main>

<script type="text/javascript">

    $(document).ready(function () {
        var check1 = false, check2 = false;
        $('#Password').bind('keypress', function () {
            //$("#spanpswd").hide();

        });

        //$('#UserName').on('keypress paste', function (event) {

        //        var elem = $("#divusername span i");
        //        if (elem.length == 0) {
        //            $("#divusername span").prepend("<i class='fa fa-at'></i>");
        //        }

        //});

        //$("#UserName").on('keydown', function (event) {

        //    var _username = $('#UserName').val().trim();
        //    if (event.keyCode ==8) {
        //        if (_username == "" || _username==null)
        //        {
        //            $("#divusername span").empty();
        //        }

        //    }
        //})

        //privacyPolcy
        $('#PrivacyId li:first').on('click', 'label', function () {

            var checkBoxes = jQuery(this).closest('li').find('[type=checkbox]');
            checkBoxes.prop("checked", !checkBoxes.prop("checked"));
            var checkBox_Status = checkBoxes[0].checked;
            check1 = checkBox_Status;
            if (check1 && check2) {
                $('#Node_check').prop('checked', true);
                $("#frmReg").valid();
            } else {
                $('#Node_check').prop('checked', false);
                $("#frmReg").valid();
            }
        })
        //$('#PrivacyId li:last').on('click', 'label', function () {

        //    var checkBoxes = jQuery(this).closest('li').find('[type=checkbox]');
        //    checkBoxes.prop("checked", !checkBoxes.prop("checked"));
        //    var checkBox_Status = checkBoxes[0].checked;
        //    localStorage.setItem("privacy_chkBX_Status", checkBox_Status);
        //    check2 = checkBox_Status;
        //    if (check1 && check2) {
        //        $('#Node_check').prop('checked', true);;
        //        $("#frmReg").valid();
        //    } else {
        //        $('#Node_check').prop('checked', false);
        //        $("#frmReg").valid();
        //    }
        //})


    })
</script>

