
@{
    ViewBag.Title = "Analytics";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .goog-tooltip div {
        background-color: white !important;
        border: 1px solid black !important;
        color: black !important;
        font-size: 12px !important;
    }
</style>
<link rel="stylesheet" href="@Url.Content("~/Content/css/google_chart.css")" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
@*<h2>
    Analytics
</h2>*@
<script type="text/javascript">
    $(document).ready(function () {
        var pagetitle = @Html.Raw(Json.Encode(ViewBag.pageTitle));
        if(pagetitle!=null)
        {
            $('#pageTitle').text(pagetitle);
        }
    })
</script>
<div class="largebox_content_containerbg">
    <div class="container">
        <div class="container_inner middile_con_inner_bg clearfix">
            <div class="col-md-12 dash_con_top_bg clearfix">
            </div>
            <!-- // catagory_con_top_bg-->
            <div class="col-md-12 con_8_4_outer_bg clearfix">
                <div class="row con_row">
                    <div class="col-md-4 catagory_right_4 jobanalytics_right_4">
                        <div class="col-md-12 bg_color_comen dashboard_tablemenu_bg clearfix">
                            <ul class="nav nav-tabs sideMenu jobanalytics_menu">
                                <li class="active" id="jobAnalytics"><a href="#">Job Analytics</a></li>
                                <li class="" id="vanityMatrics"><a href="#">Vanity Metrics</a></li>
                                @*<li class="" id="webAnalytics"> <a href="#">Web Analytics</a></li>*@
                            </ul>
                        </div>
                        <div class="col-md-12 bg_color_comen dashboard_tablemenu_bg clearfix">

                            <div class="home_top_jobs_heding">
                                <h2>Search Filter</h2>
                            </div>
                            <ul class="nav nav-tabs sideMenu jobanalytics_filter_left">
                                <li class="">
                                    <div class="form-group clearfix">
                                        <label class="input_label_style">Date Range</label>
                                        <select id="date-range" class="form-control form_input">
                                            <option value="0">All</option>
                                            <option value="1">1 Day</option>
                                            <option value="3">3 Days</option>
                                            <option value="7">7 Days</option>
                                            <option value="14">14 Days</option>
                                            <option value="30">1 Month</option>
                                            <option value="90">3 Month</option>
                                        </select>
                                    </div>
                                    @*<button id="one_month" style="color:black">1 Month</button>
                                        <button id="three_month" style="color:black">3 Month</button>*@
                                </li>
                                <li>
                                    <div class="form-group clearfix">
                                        <label class="input_label_style">Job Categories</label>
                                        <select id="category" class="form-control form_input">
                                            <option value="all">All</option>
                                            @*@foreach (var category in Model.Categories)
                                                {
                                                    <option value="@category">@category</option>
                                                }*@
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group clearfix">
                                        <label class="input_label_style">Job Posters</label>
                                        <select id="posters" class="form-control form_input">
                                            <option value="all">All</option>
                                            @*@foreach (var poster in Model.Posters)
                                                {
                                                    <option value="@poster">@poster</option>
                                                }*@
                                        </select>
                                    </div>
                                </li>
                                <li><button id="reset" class="btn btn-default register_small_button secondary_color_bg">Reset</button></li>

                            </ul>
                        </div>
                        <!-- // Top job posters section-->
                    </div><!-- //col-md-4-->
                    <div class="col-md-8 home_left_8" id="chart-container">
                    </div><!-- //col-md-8-->
                </div><!-- //row-->
            </div>
        </div>
        <!--container_inner -->
        <!--lightbox popup section-->

    </div>
</div>
<script>
    $(function () {
        $.ajax({
            type: 'GET',
            cache: false,
            url: '@Url.Action("JobAnalytics", "Admin")',
            data: {},
            success: function (data) {
                if (data) {
                    $('#chart-container').html(data);
                }
            },
            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    });

    $(document).ready(function () {
        $('.jobanalytics_menu').on('click', 'li', function () {
            $('.jobanalytics_menu li.active').removeClass('active');
            $(this).addClass('active');
        });
        $('#jobAnalytics').click(function () {
            if (!$('#jobAnalytics').hasClass('active')) {
                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: '@Url.Action("JobAnalytics", "Admin")',
                    data: {},
                    success: function (data) {
                        if (data) {
                            $('#chart-container').html("");
                            $('#chart-container').html(data);
                        }
                    },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }
        });
        $('#vanityMatrics').click(function () {
            if (!$('#vanityMatrics').hasClass('active')) {
                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: '@Url.Action("VanityMatrics", "Admin")',
                    data: {},
                    success: function (data) {
                        if (data) {
                            $('#chart-container').html("");
                            $('#chart-container').html(data);
                        }
                    },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }
        });
        $('#webAnalytics').click(function () {
            
            if (!$('#webAnalytics').hasClass('active')) {
                $.ajax({
                    type: 'GET',
                    cache: false,
                    dataType: 'HTML',
                    url: '@Url.Action("WebAnalytics", "Admin")',
                    data: {},
                    success: function (data) {
                        if (data) {
                            $('#chart-container').html("");
                            $('#chart-container').html(data);
                        }
                    },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }
        });
    });
</script>

