<!DOCTYPE html>
<html lang="en" dir="ltr" class="theme-home">
<head>
    <title>MatchBX</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#ffffff">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, target-densitydpi=device-dpi, shrink-to-fit=no">
    <meta name="author" content="https://psdhtml.me">

    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="preload" as="style" href="~/styles/screen.css">
    <link rel="preload" as="font" href="~/styles/icons/icomoon.woff2">

    <link rel="preload" as="script" href="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="@Url.Content("~/Content/js/lightbox-form.js")" type="text/javascript"></script>

    <link rel="preload" as="script" href="~/javascript/scripts.js">
    <link rel="preload" as="script" href="~/javascript/custom.js">

    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">

    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" media="screen" href="~/styles/screen.css">

    <link rel="icon" type="image/x-icon" href="~/favicon.png">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#310e6d">
    <link rel="manifest" href="~/manifest.json">
    <link rel="preconnect" href="https://ajax.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="msapplication-config" content="browserconfig.xml">

    <meta property="og:title" content="MatchBX">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="MatchBX">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <meta name="twitter:title" content="MatchBX">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="MatchBX">
    <meta name="twitter:card" content="">
    <meta name="twitter:image" content="">

    <style>
        .client_profile_pic {
            display: inline-block;
            position: relative;
            margin-right: 15px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            vertical-align: middle;
        }

        .client_profile_pic_1 {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #fff;
            -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.43);
            -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.43);
            box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.43);
        }

        .client_profile_pic img {
            width: 40px;
            height: auto;
        }

        i.profile_pic_star {
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: 0;
            margin-right: -5px;
            margin-bottom: 2px;
            width: 16px;
            height: 16px;
            background: url(../../images/profile_pic_star.png) no-repeat center;
            background-size: 16px 16px;
            border: 1px solid #fff;
            border-radius: 50%;
        }

        a.myjob:hover {
            text-decoration: none;
        }

        p {
            color: #555555;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../javascript/jquery.js"><\/script>');</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="../../javascript/jquery-ui.js"><\/script>')</script>

    <script src="@Url.Content("~/Content/js/wow.min.js")"></script>
    <script type='text/javascript'>
        (function (d, t) {
            var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
            bh.type = 'text/javascript';
            bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=1sxow0t6swmo3wydqddx3a';
            s.parentNode.insertBefore(bh, s);
        })(document, 'script');
    </script>
    <script type="text/javascript">

        $(document).ready(function(){
            $("#anchor_home").click(function(){
                localStorage.removeItem("frmPage");

                //setCategory("B");
                //window.location.href="/Jobs/index";
                setCategoryAndLoad('B', 'job', '');
            })

            $("#ulcategory").on('click','a',function(){
                debugger;
                var _id=$(this).prop("id");
                //if(_id!="")
                //{

                //    localStorage.setItem("catid",_id);
                //    var _text=titleCase($(this).text());
                //    localStorage.setItem("cattext",_text)
                //   // resizeMenu();
                //    window.location.href="/Category/index?id="+_id;
                //}
                if(_id=="view_jobs")
                {
                    debugger;
                    //setCategory("J");
                    //window.location.href="/Jobs/index";
                    setCategoryAndLoad('J', 'job', '');
                }
                else if(_id=="view_gigs")
                {  debugger;

                    //window.location.href="/Gigs/search";
                    setCategoryAndLoad('G', 'gig', '');
                }

            })

            $("#ulcategoryfooter").on('click','a',function(){
                debugger;
                var _id=$(this).prop("id");
                localStorage.setItem("catid",_id);
                var _text=titleCase($(this).text());
                localStorage.setItem("cattext",_text)
                //setCategory("J");
                //window.location.href="/Category/index?id="+_id+"&type=1";
                setCategoryAndLoad('J', 'category', '/Category/index?id='+_id+'&type=1');
            })
            $("#ulcategoryfootergig").on('click','a',function(){
                debugger;
                var _id=$(this).prop("id");
                localStorage.setItem("catid",_id);
                var _text=titleCase($(this).text());
                localStorage.setItem("cattext",_text)
                //setCategory("G");
                //window.location.href="/Category/index?id="+_id+"&type=2";
                setCategoryAndLoad('G', 'category', '/Category/index?id='+_id+'&type=2');
            })
            $("#ulfootertopcat").on('click','a',function(){
                var _id=$(this).prop("id");
                localStorage.setItem("catid",_id);
                var _text=titleCase($(this).text());
                localStorage.setItem("cattext",_text)
                window.location.href="/Category/index?id="+_id+"&type=1";
            })
            function titleCase(str) {
                str = str.toLowerCase();
                str = str.split(' ');
                for (var i = 0; i < str.length; i++) {
                    str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
                }
                return str.join(' ');
            }
            @*function setCategory(_SortDirCat)
            {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("SetSearchCategory", "category")',
                    data: {"cat":_SortDirCat},
                    success: function (response) {

                    },
                    error: function (jqXHR, exception) {

                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }*@
            function setCategoryAndLoad(_SortDirCat, type, urls)
            {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("SetSearchCategory", "category")',
                    data: {"cat":_SortDirCat},
                    success: function (response) {
                        debugger;
                        if(type == 'job') {
                            window.location.href = "/Jobs/index";
                        } else if(type == "gig") {
                            window.location.href = "/Gigs/search";
                        } else if(type == "category" && urls != null) {
                            window.location.href = urls;
                        }
                        //SetSearchCriteria();
                    },
                    error: function (jqXHR, exception) {

                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }
            //$('.navbar-toggle').click(function(){
            //    alert("sdfsd");
            //    if($('#navbar').hasClass('in')){

            //        $(".slider").addClass("sliderMove");
            //    }else{
            //        $(".slider").removeClass("sliderMove");
            //    }
            //});


        })
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117453064-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-117453064-1');
    </script>

</head>
<body>
    <div id="root">

        <header id="top">
            <p id="logo"><a href="./" accesskey="h">MatchBX</a> <span>Hire freelancers, pay in cryptocurrency</span></p>
            <nav id="skip">
                <ul>
                    <li><a href="#up" accesskey="n">Skip to navigation (n)</a></li>
                    <li><a href="#content" accesskey="c">Skip to content (c)</a></li>
                    <li><a href="#footer" accesskey="f">Skip to footer (f)</a></li>
                </ul>
            </nav>
            <nav id="up">
                <ul>
                    <li class="btn popuplogin"><a href="#"><i class="icon-logout"></i> Login</a></li>
                    <li class="btn a signuplogin"><a href="#">Register</a></li>
                    <li>
                        <a href="#"><i class="icon-theme-light"></i> <span class="hidden">Theme</span></a>
                        <ul>
                            <li class="active"><a href="#">Light theme</a></li>
                            <li><a href="#">Dark theme</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>En<span class="hidden">glish</span></span></a>
                        <ul>
                            <li class="active"><a hreflang="en" href="#"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>English</span></a></li>
                            <li><a hreflang="de" href="#"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Deutsch</span></a></li>
                            <li><a hreflang="fr" href="#"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Français</span></a></li>
                            <li><a hreflang="no" href="#"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Norsk</span></a></li>
                            <li><a hreflang="pl" href="#"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Polski</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        @{
            string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
            string action = HttpContext.Current.Request.RequestContext.RouteData.Values["Action"].ToString();
        }
        @*
        <p>@controller</p>
        <p>@action</p>
        *@
        @*<main id="content">*@
        @if ((controller == "Jobs" && action == "Index") || (controller == "Gigs" && action == "Search"))
        {
            @*
            <article class="module-featured">
                <h1>Hire freelancers,<br> pay in cryptocurrency</h1>
                <p>Complete freelance work to earn crypto, or post a job and have great freelancers come to you</p>
                <p class="link-btn">
                    <a href="./">Get hired</a>
                    <a href="./" class="d">Hire freelancers</a>
                </p>
                <figure><img src="images/content/a.png" alt="Placeholder" width="823" height="500"></figure>
                <figure class="bg"><img src="images/content/map.png" alt="Placeholder" width="744" height="304"></figure>
            </article>
            *@
        }
        else if (controller == "Category")
        {
            <div class="top_heading_section">
                <div class="container">
                    <div id="" class="matchbx_topsection clearfix text-center">
                        <h2 id="divcategory">&nbsp;&nbsp;&nbsp; </h2>
                        @*<h2 id="divcategory"><span></span></h2>*@
                        <h3>Complete jobs to earn AXPR, or post a job and have great freelancers come to you</h3>
                    </div>
                </div>
            </div>
        }
        else if ((controller == "Jobs" && action == "Details") || (controller == "Gigs" && action == "Details"))
        {
            <div class="top_heading_section">
                <div class="container">
                    <div class="container_inner">
                        <div id="" class="matchbx_topsection matchbx_topsection_2side clearfix text-center">
                            <div class="col-md-8 text-left">
                                <h2><span>@Session["JobCategoryHeader"]</span></h2>
                            </div>
                            @*<div id="" class="matchbx_topsection clearfix text-center">
                                <h2 id="divcategory">&nbsp;&nbsp;&nbsp; </h2>
                                <h3>Complete jobs to earn AXPR, or post a job and have great freelancers come to you</h3>
                            </div>*@
                            <div class="col-md-4 text-right">
                                @if ((Convert.ToInt32(Session["UserId"]) != 0))
                                {
                                    if (Session["Expired"].ToString() != "Y")
                                    {
                                        <a href="#" class="btn button_all secondary_color_bg">EDIT JOB</a>
                                    }
                                }
                            </div>
                        </div>
                    </div><!--container_inner-->
                </div>
            </div>
        }
        else if (controller == "Profile")
        {
            <div class="top_heading_section">
                <div class="container">
                    <div class="container_inner">
                        <div id="" class="matchbx_topsection matchbx_topsection_2side clearfix text-center">
                            <div class="col-md-9 text-left">
                                <div class="profile_public_banner_text_bg">
                                    <div class="profile_public_banner_profileimage">
                                        <div class="profile_public_imgname_bg clearfix">
                                            <div class="profile_public_pic">
                                                <div class="profile_public_pic_1">
                                                    @if (Model.Profile != null)
                                                    {<img src="@Model.Profile.ProfilePic" alt="">}

                                                </div>
                                                <i class="profile_public_pic_star"></i>
                                            </div>
                                        </div>
                                    </div><!--profile_public_banner_profileimage-->
                                    @if (Model.Profile != null)
                                    {
                                        if (@Model.Profile.FullName == null || @Model.Profile.FullName == "")
                                        {
                                            <h1>
                                                @Model.Profile.UserName
                                                <span>
                                                    @if (Model.Profile.VerifiedPartner == "Y")
                                                    {
                                                        <b class="profile_verified_b"><i class="verified_user_check"></i>Verified Partner</b>
                                                    }
                                                </span>
                                            </h1>
                                        }
                                        else
                                        {
                                            <h1>
                                                @Model.Profile.FullName
                                                <span>
                                                    @Model.Profile.UserName
                                                    @if (Model.Profile.VerifiedPartner == "Y")
                                                    {
                                                        <b class="profile_verified_b"><i class="verified_user_check"></i>Verified Partner</b>
                                                    }
                                                </span>
                                            </h1>
                                        }

                                        <p>@Model.Profile.Bio</p>
                                        <div class="profile_public_banner_memberrate clearfix">
                                            <div class="profile_public_banner_member_only"><span>MEMBER NO: </span>&nbsp;<span>@String.Concat(1000 + Convert.ToInt32(Session["MemberNo"]))</span></div>
                                            <div class="profile_public_banner_rate_only">
                                                <span class="">RATING (@Model.Profile.RatingCount)</span>
                                                <ul class="clearfix">
                                                    @if (@TempData["RatingWhole"].ToString() == "1")
                                                    {
                                                        if (@TempData["RatingFraction"].ToString() == "5")
                                                        {
                                                            <li><i></i></li>
                                                            <li class="half_star"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                        }
                                                        else
                                                        {
                                                            <li><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                        }

                                                    }
                                                    else if (@TempData["RatingWhole"].ToString() == "2")
                                                    {
                                                        if (@TempData["RatingFraction"].ToString() == "5")
                                                        {
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li class="half_star"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>

                                                        }
                                                        else
                                                        {
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                        }
                                                    }
                                                    else if (@TempData["RatingWhole"].ToString() == "3")
                                                    {
                                                        if (@TempData["RatingFraction"].ToString() == "5")
                                                        {
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li class="half_star"><i></i></li>
                                                            <li class="star_gray"><i></i></li>

                                                        }
                                                        else
                                                        {
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                        }
                                                    }
                                                    else if (@TempData["RatingWhole"].ToString() == "4")
                                                    {
                                                        if (@TempData["RatingFraction"].ToString() == "5")
                                                        {
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li class="half_star"><i></i></li>


                                                        }
                                                        else
                                                        {
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                        }
                                                    }
                                                    else if (@TempData["RatingWhole"].ToString() == "5")
                                                    {
                                                        <li><i></i></li>
                                                        <li><i></i></li>
                                                        <li><i></i></li>
                                                        <li><i></i></li>
                                                        <li><i></i></li>
                                                    }
                                                    else if (@TempData["RatingWhole"].ToString() == "0")
                                                    {
                                                        if (@TempData["RatingFraction"].ToString() == "5")
                                                        {
                                                            <li class="half_star"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>


                                                        }
                                                        else
                                                        {
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                            <li class="star_gray"><i></i></li>
                                                        }
                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-3 text-right">
                                @if (Session["UserId"] != null && Convert.ToInt32(Session["UserId"]) != 0)
                                {
                                    <a href="#" class="btn button_all secondary_color_bg">SEND MESSAGE</a>
                                }

                            </div>
                        </div>
                    </div><!--container_inner-->

                </div>
            </div>
        }
        @if ((controller == "Jobs" && action == "Details") || (controller == "Profile" && action == "Index"))
        {
            @RenderBody()
            @*Scripts.Render("~/bundles/jqueryval")*@
        }
        else
        {
            @*
            <div class="largebox_content_containerbg" style="background-color:red">
                <div class="container">
                    <div class="container_inner middile_con_inner_bg clearfix">
            *@
            if (controller == "Category")
            {
                <div class="col-md-12 catagory_con_top_bg clearfix">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="pull-left">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Home","Dashboard")">MatchBX</a></li>
                                    <li class="breadcrumb-item active" id="divcategory_brdcum"></li>
                                </ol>
                            </div>
                            <div class="pull-right category_sort_by_bg category_sort_by2_bg">
                                <div class="form-group clearfix">
                                    <label for="" class="">Type:</label>
                                    <select class="form-control" id="ddlcat">
                                        <option value="J">Jobs</option>
                                        <option value="G">Services</option>
                                        <option value="B">Both</option>
                                    </select>
                                </div>
                                <div class="form-group clearfix">
                                    <label for="" class="">Sort by:</label>
                                    <select class="form-control" id="ddlpaid">
                                        <option value="H">Highest paid</option>
                                        <option value="N">Newest</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                    </div>
                </div>
            }
            @*<div class="col-md-12 con_8_4_outer_bg clearfix">*@
            @RenderBody()
            @*Scripts.Render("~/bundles/jqueryval")*@
            @*</div>*@
            @*
                    </div>
                </div>
            </div>
            *@
        }
        @*</main>*@

        <footer id="footer">
            <nav>
                <div>
                    <h3>Who We Are</h3>
                    <ul>
                        <li><a href="./">aXpire</a></li>
                        <li><a href="./">About Us</a></li>
                        <li><a href="./">Blog</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="./">Help Center</a></li>
                        <li><a href="./">Leave Feedback</a></li>
                        <li><a class="email">info//axpire/com</a></li>
                    </ul>
                </div>
                <form action="./" method="post">
                    <h3>Newsletter</h3>
                    <p>
                        <label for="na">Enter email address to join</label>
                        <input type="email" id="na" name="na" required>
                        <button type="submit">Submit</button>
                    </p>
                </form>
                <div>
                    <h3>Get social</h3>
                    <ul class="list-social">
                        <li><a href="./"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
                        <li><a href="./"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
                        <li><a href="./"><i class="icon-linkedin"></i> <span>Linkedin</span></a></li>
                        <li><a href="./"><i class="icon-youtube"></i> <span>YouTube</span></a></li>
                        <li><a href="./"><i class="icon-reddit"></i> <span>Reddit</span></a></li>
                        <li><a href="./"><i class="icon-paper-plane"></i> <span>???</span></a></li>
                        <li><a href="./"><i class="icon-medium"></i> <span>Medium</span></a></li>
                    </ul>
                </div>
            </nav>
            <div class="module-popup">
                <p class="link-icon"><a href="./"><i class="icon-bell"></i> Notifications</a></p>
                <ul class="list-popup">
                    <li>
                        <h3><i class="icon-bell"></i> Hello, Jonathan Doe</h3>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</p>
                    </li>
                    <li>
                        <h3><i class="icon-bell"></i> Hello, Jonathan Doe</h3>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</p>
                    </li>
                </ul>
            </div>
            <ul>
                <li><a href="./">Privacy Policy</a></li>
                <li><a href="./">Term of Use</a></li>
                <li><a href="./">Contact</a></li>
                <li><a href="#root">Back to <span>Top</span></a></li>
            </ul>
            <p>Copyright &copy; <span class="date">2019</span> aXpire. All Rights Reserved.</p>
        </footer>
    </div>

    <!--lightbox popup section-->
    <div id="shadowing" class="shadowing_overlay myshadow myshadow"></div>
    <div id="login_view_pop_id" class="popup_box clearfix myshadow"> </div>
    <div id="register_view_pop_id" class="popup_box clearfix myshadow"></div>
    <div id="forgotpassword_view_pop_id" class="popup_box clearfix myshadow"></div>
    <div id="onboarding_view_pop_id" class="popup_box clearfix myshadow"></div>
    <div id="resendemail_view_pop_id" class="popup_box clearfix myshadow"></div>
    <div id="termsCondition_view_pop_id" class="popup_box clearfix myshadow"></div>
    <div id="privacy_view_pop_id" class="popup_box clearfix myshadow"></div>
    @*<div id="privacy_view_pop_user" class="popup_box clearfix myshadow"></div>*@
    <input type="hidden" id="hdnHubId" value="0" />

    <!-- // lightbox popup section-->
    <script>
        wow = new WOW({}).init();

        $(document).on('click', 'a[href^="#"].smothscroll', function (event) {
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 700);
        });

        $(document).ready(function () {
            debugger;
            /*("#dublepopup").click(function(){
                alert("dfsf");
                $("#Purchase_id").addClass(".hhdh");
             });*/

        });

        /* // email placeholder*/
        /*Header menu Responsive*/

        $(function () {
            $(window).resize(function () {
                /*
                $("#ulcategory").append($("#ulcategory li.hideshow ul").html());
                $("#ulcategory li.hideshow").remove();
                if ($(window).width() >= 751 && $(window).width() <= 1199.98) {

                    console.log($(window).width());
                    //alignMenu();
                }
                */
            });
        });
        /*
        function alignMenu() {

            var w = 0;
            var mw = $("#ulcategory").width() - 50;
            var i = -1;
            var menuhtml = '';

            jQuery.each($("#ulcategory").children(), function () {
                i++;
                w += $(this).outerWidth(true);
                if (mw < w) {
                    menuhtml += $('<div>').append($(this).clone()).html();
                    $(this).remove();
                }
            });
            $("#ulcategory").append(
                '<li  style="position:relative;" href="#" class="hideshow">'
                + '<a href="#">More '
                + '<i class="fa fa-angle-down" aria-hidden="true"></i>'
                + '</a><ul>' + menuhtml + '</ul></li>');
            $("#ulcategory li.hideshow ul").css("top",
                $("#ulcategory li.hideshow").outerHeight(true) + "px");
            setTimeout(function () {
                $("#ulcategory").css("opacity", "1");

            }, 400);

            $("#ulcategory li.hideshow").click(function () {
                $(this).children("ul").toggle();
            });
        }
        */

        $(document).ready(function () {
            if ($(window).width() >= 767.98 && $(window).width() <= 1199.98) {
                //alignMenu();
            }
        })

        $(document).click(function (event) {
            /*
            if (!$(event.target).closest('.hideshow').length) {
                if ($('.hideshow ul').is(":visible")) {
                    $('.hideshow ul').hide();
                }
            }
            */
        });
        //$(window).resize(onResize_menu);
        /* // Header menu Responsive*/
    </script>
    <script>
        $(document).ready(function () {
            /*nicescroll */
            //$("#topskilles_scroll").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });
            //$("#populartag_scroll").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });
            /* // nicescroll */
        });
        $(".medLink").click(function mediumurl() {

            window.open("https://medium.com/@@aXpire/");
        })
    </script>

    <script>
        //alert('1-->' + $);
    </script>

    <script>
        $(document).ready(function () {

            $(".popuplogin").click(function() {
                OpenLogin();
            });

            $(".signuplogin").click(function() {
                openSignUp();
            })

        });

        var messageSender=@Html.Raw(Json.Encode(Model.messageSender));
        if(messageSender!=0){
            OpenLogin();
        }

        function OpenLogin() {
            $.ajax({
                type: 'GET',
                cache: false,
                url: '@Url.Action("Login", "Login")',
                dataType:'html',
                data: {},
                success: function (response) {

                    //openbox(1, 'login_view_pop_id');
                    $("#login_view_pop_id").html(response)
                    openbox(1, 'login_view_pop_id');
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });

            debugger;
        }

        function openSignUp()
        {
            $.ajax({
                type: 'GET',
                cache: false,
                url: '@Url.Action("Register", "Login")',
                data: {},
                success: function (response) {
                    $("#register_view_pop_id").html(response)
                    openbox(1, 'register_view_pop_id');
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }

    </script>
    <!-----Assign Message id -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(document).on('click', '.shadowing_overlay', function () {

            closeboxOutSide();
        });
        //$(function () {
        //    $.connection.hub.start().done(function () {
        //        $('#btnLoginPopUp').click(function () {
        //            var _hubidSend = $.connection.hub.id;
        //            if (_hubidSend) {
        //                $("#hdnHubId").val(_hubidSend);
        //            }
        //        });
        //        });
        //});
    </script>
    @*
        <script src="@Url.Content("~/Content/js/typed.js")"></script>
    *@
    <script>
        (function () {
            //var el = document.querySelector('.site-navigation');
            //function addClassToHeader() {
            //    if (window.scrollY > 100 && !el.classList.contains('--scrolling')) {
            //        el.classList.add('--scrolling');
            //    } else if (window.scrollY < 100) {
            //        el.classList.remove('--scrolling');
            //    }
            //}
            //window.addEventListener('scroll', addClassToHeader)
            /* Title animation
            var typed = new Typed('.tlt', {
                strings:
                    [
                        "Hire freelancers, pay in cryptocurrency"
                    ],
                typeSpeed: 15,
                smartBackspace: true,
                backSpeed: 15,
                loop: true,
                backDelay: 1800,
                startDelay: 500,
                loop: false
            });
            */
        })()
    </script>
    <!---Message end-->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5c6a521b77e0730ce0436bb9/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <script>
        //alert('2-->' + $);
    </script>

    <script defer src="~/javascript/scripts.js"></script>
    <script defer src="~/javascript/custom.js"></script>
</body>
</html>