@model Business.Gig

@{
    Layout = Layout;
}

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Content/js/wow.min.js")"></script>

<script src="@Url.Content("~/Content/js/bootstrap-datepicker.min.js")"></script>
<script src="@Url.Content("~/Content/js/chosen.jquery.js")" type="text/javascript" charset="utf-8"></script>
<script src="@Url.Content("~/Content/js/init.js")" type="text/javascript" charset="utf-8"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dropzone.js")"></script>
<script type="text/javascript">
    $(function () {
        $("#FormSubscription").validate({
          
            errorClass: "error_span",
            errorElement: "span",
            rules: {
            
                bidmessage: {
                    required: true,
                                   
                },
                GigCompletionDate: {
                    required: true,
                    dateFormat : true,
                },
                GigTitle:{
                    required: true,
                
                }
            },
            messages: {
                bidmessage: {
                    required: "Please provide a job description",
                    //minlength: "Your password must be at least 5 characters long"
                },
                GigCompletionDate:{
                                   
                    required:"Please tell us your job completion date",
                   
                    dateFormat:"Please enter a valid date"

                },
                GigTitle:{
                    required:"Please tell us your job title",
                
                }
               
            },
            highlight: function(element, errorClass) {
                $(element).removeClass(errorClass);
            },
           
            submitHandler: function (form) {
                debugger;
                $("#ui-datepicker-div").css("display", "none")
                var _hubidSend=  $.connection.hub.id;
                var gigtitle = hdngigtitle.value;
                $("#span_gig_subs").text(gigtitle + ' GIG?');
                openbox(1, 'gig_subscription_id');

            },
            invalidHandler: function(event, validator) {
                debugger;
                $("#ui-datepicker-div").css("display", "none")
            }
        });

        $.validator.addMethod(
    "dateFormat",
    function(value, element) {
        debugger;
        var check = false;
        var re = /^\d{1,2}\/\d{1,2}\/\d{4}$/;
        if( re.test(value)){
            var adata = value.split('/');
            var dd = parseInt(adata[0],10);
            var mm = parseInt(adata[1],10);
            var yyyy = parseInt(adata[2],10);
            var xdata = new Date(yyyy,mm-1,dd);
            if ( ( xdata.getFullYear() === yyyy ) && ( xdata.getMonth () === mm - 1 ) && ( xdata.getDate() === dd ) ) {
                check = true;
            }
            else {
                check = false;
            }
        } else {
            check = false;
        }
        return this.optional(element) || check;
    },
    "Wrong date format"
);
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#jobcompletionDate").click(function(){

            $("#ui-datepicker-div").css("display", "block")
        })
        $("#anchor_home").click(function () {

            localStorage.removeItem("frmPage");
            window.location.href = "/Dashboard/Home";
        })
        $("#ulcategory").on('click', 'a', function () {


            var _id = $(this).prop("id");
            localStorage.setItem("catid", _id);
            var _text = titleCase($(this).text());
            localStorage.setItem("cattext", _text)
            window.location.href = "/Category/index?id=" + _id;
        })

        $("#ulcategoryfooter").on('click', 'a', function () {
            var _id = $(this).prop("id");
            localStorage.setItem("catid", _id);
            var _text = titleCase($(this).text());
            localStorage.setItem("cattext", _text)
            window.location.href = "/Category/index?id=" + _id;
        })
        $("#ulfootertopcat").on('click', 'a', function () {
            var _id = $(this).prop("id");
            localStorage.setItem("catid", _id);
            var _text = titleCase($(this).text());
            localStorage.setItem("cattext", _text)
            window.location.href = "/Category/index?id=" + _id;
        })
        function titleCase(str) {
            str = str.toLowerCase();
            str = str.split(' ');
            for (var i = 0; i < str.length; i++) {
                str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
            }
            return str.join(' ');
        }

        $("#anchor_home").click(function () {

            localStorage.removeItem("frmPage");
            window.location.href = "/Dashboard/Home";
        })

        

        $(".attachments").click(function () {
            
            loadSubscriptionDoc();
        })


        if("@Session["JobCategoryName"]"==null || "@Session["JobCategoryName"]"=="")
        {
            $("#category").remove();
            var _catheader="@Session["JobCategoryHeader"]";
            $("#spanheder").text(_catheader);
        }
        else
        {
            var _cat = "@Session["JobCategoryName"]";

            var _catid="@Session["JobCategoryId"]";

            var _catheader="@Session["JobCategoryHeader"]";




            // localStorage.setItem("frmPageCatId", _catid);
            //var _cat=  localStorage.getItem("cattext")
            $("#spanheder").text(_catheader);
            //var _catid=  localStorage.getItem("catid");
            var categoryurl="<a  id="+_catid+" class='details' href='/Category/Index?id="+_catid+"'>"+_cat+"</a>";

            $("#category").html(categoryurl);
        }

        debugger;
        var GigSubscriptionId = @Html.Raw(Json.Encode(TempData["GigSubscriptionId"]));
        if(GigSubscriptionId>0)
        {

            $("#headbid").html("Edit Subscription");
            $("#btnsubscribe").val("Update Subscription");
            $("#span_sub_tit").text("Update confirmation");
            $("#span_sub_tit_msg").text("Are you sure you want to update this ");                    
        }
        else
        {
            //$('#BidAmountinDollar').html("0.00");
            $("#headbid").html("Subscribe GIG");
            $("#btnsubscribe").val("Subscribe");
            $("#span_sub_tit").text("Subscription confirmation");
            $("#span_sub_tit_msg").text("Are you sure you want to subscribe this ");            
        }

        $('#sandbox-container input').datepicker({
            startDate: "dateToday",
            minDate : "dateToday",
            dateFormat: 'dd/mm/yy',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            todayHighlight:'TRUE',
            autoclose: true,
        }).on('changeDate', function(e){
            $('#frm').validate();
        });

        //$("#btnsubscribe").click(function () {
        //    var gigtitle = hdngigtitle.value;
        //    $("#span_gig_subs").text(gigtitle + ' Gig?');
        //    openbox(1, 'gig_subscription_id');
        //});
    })

    function removeDoc()
    {
        var id=$('#hdndelconfirmdocid').val();
        closebox('gig_subscriptiondocdelete');
        debugger
        $.ajax({
            url: '@Url.Action("DeleteGigSubcriptionDocuments", "Gigs")',
            data: {
                "GigSubscriptionDocId": id
            },
            type: "POST",
            success: function (response) {
                
                if(response != "Failed")
                {
                    $("#view_attachment_ul").empty();
                    $.each(response, function (key, value) {
                        var _documentName = response[key].DocumentName;
                        var subdocid=response[key].GigSubscriptionDocumentId;
                            
                        $("#view_attachment_ul").append('<li><a href="/Dashboard/DownloadFile?FileName=' + _documentName + '" id ="'+ _documentName +'"><span class="tab">'+_documentName+'</span></a>&nbsp;&nbsp;<a href="#" onclick="ConfirmDeletion(this.id)" id ="'+ subdocid+'"><span class="tab"><i class="fa fa-trash-o text-danger"></i></span></a></li>');
                    });
                    
                    openbox(1,'attachement_pop_id');
                }
                else
                {
                    $('#divviewattachment').remove();
                    $("#view_attachment_ul").empty();
                    $("#view_attachment_ul").append('<li class="nofiles"><span class="tab">No more files to delete</span></li>')
                    openbox(1,'attachement_pop_id');
                }
            },
            error: function () {

            }
        });
    }
    function loadSubscriptionDoc()
    {
        var _GigSubscriptionId = @Html.Raw(Json.Encode(TempData["GigSubscriptionId"]));
        $.ajax({
            url: '@Url.Action("GigSubcriptionDocuments", "Gigs")',
            data: {
                "GigSubscriptionId": _GigSubscriptionId
            },
            type: "POST",
            success: function (response) {
                if(response != "Failed")
                {
                    $("#view_attachment_ul").empty();
                    $.each(response, function (key, value) {
                        var _documentName = response[key].DocumentName;
                        var subdocid=response[key].GigSubscriptionDocumentId;
                            
                        $("#view_attachment_ul").append('<li><a href="/Dashboard/DownloadFile?FileName=' + _documentName + '" id ="'+ _documentName +'"><span class="tab">'+_documentName+'</span></a>&nbsp;&nbsp;<a href="#" onclick="ConfirmDeletion(this.id)" id ="'+ subdocid+'"><span class="tab"><i class="fa fa-trash-o text-danger"></i></span></a></li>');
                    });
                        
                    openbox(1,'attachement_pop_id');
                }
                else
                {
                    $('#divviewattachment').remove();
                }
            },
            error: function () {

            }
        });
    }
    function cancelDel()
    {
        closebox('gig_subscriptiondocdelete')
        loadSubscriptionDoc();
    }
    function ConfirmDeletion(id)
    {
        $('#hdndelconfirmdocid').val(id);
        closebox('attachement_pop_id');
        openbox(1,'gig_subscriptiondocdelete');
    }
    function MakeSubscription()
    {
        debugger;
        var gigdescription = $("#bidmessage").val();
        var gigid = $("#hdnGigId").val();
        var gigsubscriptionid = $("#hdnGigSubscriptionId").val();
        var jobposterid = "@Session["UserId"]";
        var gigtitle=$("#hdngigtitle").val();
        var jobseekerid=$("#hdnseekerid").val();
        var jobcompletiondate = $("#jobcompletionDate").val()
        var _Title=$("#GigTitle").val();
        //if (gigsubscriptionid == "") {
        //    gigsubscriptionid = 0;
        //}
        //else
        //{
        //    $("#spnOffer").html("Offer updated!");
        //    $("#spnCongrats").html("Congrats! You have updated the offer on job ");
        //}

        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("SaveGigSubscription", "Gigs")',
            beforeSend: function() {
                $("#loaderDiv").show();
            },
            data: {
                "GigId": gigid,
                "JobPosterId": jobposterid,
                "Description": gigdescription,
                "JobCompletionDate": jobcompletiondate  ,
                "Title":_Title,
                "GigSubscriptionId":gigsubscriptionid
            },
            success: function (data) {
                $("#loaderDiv").hide();
                var notification = $.connection.notificationHub;
                var _sendUserId = "@Session["UserId"]";
                var _fullname =  "@Session["FullName"]";
                var _receiverUserId = jobseekerid;
                debugger;
                var _notification  = ""+ _Title +" has been subscribed by " + _fullname;
                var _header = "GIG subscription";
                //if(gigsubscriptionid == 0)
                //{
                //    _notification  = ""+ $("#hdngigtitle").val() +" has been subscribed by " + _fullname;
                //    _header = "Gig subscription";
                //}
                //else
                //{
                //    _notification  = "Subscription for gig " + $("#hdngigtitle").val() + "  has been updated by " + _fullname;
                //    _header = "Gig Subscription updated";
                //}
                notification.server.send(_sendUserId, _receiverUserId, _fullname, _notification, _header,'');
                closebox('gig_subscription_id');
                openbox(1, 'Subscription_placed_id');
            },
            error: function (jqXHR, exception) {
                $("#loaderDiv").hide();
                console.log(jqXHR.status);
                console.log(exception);
            }
        });

    }

</script>
@using (Html.BeginForm("SaveGigSubscription", "Gigs", null, FormMethod.Post, new { @id = "FormSubscription" }))
{

<div class="largebox_content_containerbg">
    <div class="">

        <div id="loaderDiv" class="loaderDivclass " style="display:none"></div>
        <div class="container_inner middile_con_inner_bg clearfix">

            <div class="col-md-12 catagory_con_top_bg clearfix">
                <div class="row">
                    <div class="col-md-8">
                        <div class="pull-left">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Home", "Dashboard")">MatchBX</a></li>
                                <li class="breadcrumb-item" id="category"></li>
                                <li class="breadcrumb-item active">@Model.GigTitle</li>
                            </ol>
                        </div>

                    </div>
                    <div class="col-md-4">
                        &nbsp;
                    </div>
                </div><!--row-->
            </div>
            <!-- // catagory_con_top_bg-->


            <div class="col-md-12 con_8_4_outer_bg clearfix">
                <div class="row con_row">
                    @if (Model.GigId > 0)
                    {
                        <div class="col-md-8 home_left_8">

                            <div class="col-md-12 home_user_box_1_bg bg_color_comen padd_left_right_o clearfix">
                                <div class="box_paddleftright_15 clearfix">
                                    @Html.Hidden("hdnGigId", Model.GigId, new { @id = "hdnGigId" })
                                    <h3>@Model.GigTitle</h3>
                                    <input type="hidden" id="hdngigtitle" value="@Model.GigTitle" />
                                    <input type="hidden" id="hdnseekerid" value="@Model.UserId" />
                                    <div class="timeframe_budget_small clearfix">
                                        @if (Model.GigDuration > 1)
                                        {
                                            <div class="timeframe_only"><span>Duration: </span>&nbsp;<span>@Model.GigDuration Days</span></div>
                                        }
                                        else
                                        {
                                            <div class="timeframe_only"><span>Duration: </span>&nbsp;<span>@Model.GigDuration Days</span></div>
                                        }
                                        @*<div class="timeframe_only posted_day">
                                            <span>Posted: </span>&nbsp;
                                            <span>@Model.PostedDays</span>
                                            @if (Model.PostedDays > 1)
                                            { <span> days ago</span>}
                                            else
                                            { <span> day ago</span>}
                                        </div>*@
                                        <div class="timeframe_only"><span>Subscribed: </span>&nbsp;<span>@Model.GigsCompleted Times</span></div>
                                        <div class="budget_only"><span>Cost: </span>&nbsp;<span>@String.Concat(Model.BudgetASP.ToString("#,##0"), " AXPR ", "($", (Math.Round(Model.DollarCount, 2)).ToString("#,##0.00"), ")")</span></div>
                                        <div class="axp_star_only">
                                            <ul>
                                                @if (Model.BadgeCount == 1)
                                                {
                                                    <li><i></i></li>
                                                }
                                                else if (Model.BadgeCount == 2)
                                                {
                                                    <li><i></i></li>
                                                    <li><i></i></li>
                                                }
                                                else if (Model.BadgeCount == 3)
                                                {
                                                    <li><i></i></li>
                                                    <li><i></i></li>
                                                    <li><i></i></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div><!--box_paddleftright_15-->
                                <div class="border_buttom_only job_details_linewithspace"></div>
                                <div class="box_paddleftright_15 clearfix">
                                    <div class="home_client_discription_small clearfix">
                                        <h5 class="job_skill_textshow">
                                            <span>SKILL SET: </span>
                                            @foreach (var item in Model.GigSkillsMappingList)
                                            {
                                                <span>
                                                    @if (Model.GigSkillsMappingList.IndexOf(item) == Model.GigSkillsMappingList.Count - 1)
                                                    {
                                                        @item.Description
                                                    }
                                                    else
                                                    {
                                                        @item.Description<span>, </span>
                                                    }
                                                </span>
                                            }
                                        </h5>
                                        <h3 class="gig_dis_h3">
                                            <span>About this GIG </span>
                                        </h3>
                                        <p>@Model.GigDescription</p>

                                        <div class="gig_deliverable_box">
                                            <div class="gig_deliverable_box_inn clearfix">
                                                <h3 class="">What will you get by subscribing this GIG</h3>
                                                <p>@Model.Deliverables</p>
                                            </div>
                                        </div>


                                        <div class="job_tags_textshow" id="detailTagList">
                                            <div class="home_trending_tags clearfix">
                                                <span class="job_tags_textlabel">Tags:</span>
                                                @foreach (var item in Model.GigTrendingTagsMappingList)
                                                {
                                                    if (Model.GigTrendingTagsMappingList.IndexOf(item) == Model.GigTrendingTagsMappingList.Count - 1)
                                                    {
                                                        @item.Description
                                                    }
                                                    else
                                                    {
                                                        @item.Description<span>, </span>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div><!--box_paddleftright_15-->
                                <div class="border_buttom_only job_details_linewithspace"></div>
                                <div class="box_paddleftright_15 clearfix">
                                    <div class="client_profile_imgname_bg clearfix">
                                        <div class="pull-left">
                                            <div class="client_profile_pic">
                                                <div class="client_profile_pic_1">
                                                    <img src="@Model.ProfilePic" alt="">
                                                </div>
                                                <i class="profile_pic_star"></i>
                                            </div>
                                            <div class="client_profile_name">
                                                <a href="@Url.Action("Index", "Profile", new { @id = @Model.UserId })">
                                                    <h4>@Model.FullName</h4>
                                                </a>
                                                <input type="hidden" id="hdnuserid" value="@Model.UserId" />
                                                <span>@Model.JobsCompleted jobs completed</span>
                                            </div>
                                        </div><!--pull-left-->
                                        <div class="pull-right text-right">
                                            <div class="company_profile_refedit">
                                                @*<div><span>Job reference:&nbsp;</span><span>@Model.JobReferanceId</span></div>*@
                                                @*<div><span>Last edited:&nbsp;</span><span>@Model.LastEdited</span></div>*@
                                                <div class="profile_public_banner_rate_only">
                                                    <span class="">RATING (@TempData["Rating"])</span>
                                                    <ul class="clearfix">
                                                        @if (@TempData["RatingWhole"].ToString() == "1")
                                                        {
                                                            if (@TempData["RatingFraction"].ToString() == "5")
                                                            {
                                                                <li><i></i></li>
                                                                <li class="half_star"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                            }
                                                            else
                                                            {
                                                                <li><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                            }

                                                        }
                                                        else if (@TempData["RatingWhole"].ToString() == "2")
                                                        {
                                                            if (@TempData["RatingFraction"].ToString() == "5")
                                                            {
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li class="half_star"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>

                                                            }
                                                            else
                                                            {
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                            }
                                                        }
                                                        else if (@TempData["RatingWhole"].ToString() == "3")
                                                        {
                                                            if (@TempData["RatingFraction"].ToString() == "5")
                                                            {
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li class="half_star"><i></i></li>
                                                                <li class="star_gray"><i></i></li>

                                                            }
                                                            else
                                                            {
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                            }
                                                        }
                                                        else if (@TempData["RatingWhole"].ToString() == "4")
                                                        {
                                                            if (@TempData["RatingFraction"].ToString() == "5")
                                                            {
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li class="half_star"><i></i></li>


                                                            }
                                                            else
                                                            {
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                            }
                                                        }
                                                        else if (@TempData["RatingWhole"].ToString() == "5")
                                                        {
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                            <li><i></i></li>
                                                        }
                                                        else if (@TempData["RatingWhole"].ToString() == "0")
                                                        {
                                                            if (@TempData["RatingFraction"].ToString() == "5")
                                                            {
                                                                <li class="half_star"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>


                                                            }
                                                            else
                                                            {
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                                <li class="star_gray"><i></i></li>
                                                            }
                                                        }

                                                    </ul>

                                                </div>
                                            </div>
                                        </div><!--pull-right-->
                                    </div>
                                </div><!--box_paddleftright_15-->
                            </div>
                            <!-- // box-->
                        </div><!-- //col-md-8-->
                    }

                    @if ((Convert.ToInt32(Session["UserId"]) != Model.UserId) && (Convert.ToInt32(Session["UserId"]) != 0))
                    {
                        //if ((Session["UserType"].ToString() != "1"))
                        //{
                            <div class="col-md-4 job_detail_right_4">

                                <div class="col-md-12 bg_color_comen home_top_jobs_bg job_detail_right_bg clearfix">
                                    <div class="home_top_jobs_heding heading_border_buttom">
                                        <h2 id="headbid"></h2>  
                                        @Html.Hidden("hdnGigSubscriptionId", @TempData["GigSubscriptionId"], new { @id = "hdnGigSubscriptionId" })                                                                             
                                    </div>

                                    <div class="job_detail_bidforjob_form_bg clearfix">
                                        <div class="form-group clearfix">
                                            <label for="" class="input_label_style">Give your job a title </label>
                                            @Html.TextBox("GigTitle", TempData["GigTitle"].ToString(), new { @class = "form-control form_input form_textarea", @name = "GigTitle", @maxlength="200" })
                                        </div>


                                        <div class="form-group clearfix">
                                            <label for="" class="input_label_style">Tell us what you are looking for </label>
                                                @Html.TextArea("bidmessage", TempData["BidMessage"].ToString(), new { @class = "form-control form_input form_textarea", @name = "bidmessage" })
                                        </div>
                                        <div class="form-group clearfix">
                                            <label for="" class="input_label_style">Project documents</label>

                                            <div class="demo_container dropzone_bg">
                                                <div class="dropzone" id="my-dropzone"></div>

                                            </div>
                                            @if (Convert.ToInt32(TempData["NoofDocuments"]) > 0)
                                            {
                                                <div class="home_trending_tags job_review_attach clearfix attachments" id="divviewattachment">
                                                    <a href="#" title="View Attachment" id="view_attachment"><span class="job_tags_textlabel">View Attachment</span></a>
                                                </div>
                                            }
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="input_label_style">When do you need the job completed by? </label>
                                            <div class='date' id='sandbox-container'>
                                                @Html.TextBox("GigCompletionDate", TempData["JobCompletionDateDisplay"], new { @id = "jobcompletionDate", @placeholder = "Enter date", @class = "form-control form_input ", autocomplete = "off", @name = "GigCompletionDate" })                                                                                                
                                            </div>
                                            @*@Html.ValidationMessageFor("GigCompletionDate", "", new { @class = "error_span" })*@
                                        </div>
                                        <div class="form-group heading_border_buttom clearfix">
                                            <label for="" class="input_label_style"><span>GIG Fees: ($</span><span id="BidAmountinDollar">@TempData["BidAmountinDollar"]</span><span>)</span></label>

                                            @Html.TextBox("bidamount", TempData["GigAmount"], new { @readonly = "readonly", @class = "form-control form_input " })                                                                                        

                                            <span id="errorMsg" class="error_span"></span>
                                            <label class="input_label_style display_block small_fobtsize"><span id="axprfee" class="font_w_700">@TempData["AXPRFeeAmt"]</span><span> AXPR is taken from this and burnt (3% burn)</span></label>
                                            <label class="input_label_style display_block"><span class="add_job_cost">Your job will cost: <span id="IdtotalBudget" class="font_w_700">@TempData["AXPRFeeTotAmt"]</span> AXPR</span></label>
                                        </div>                                        
                                        <div class="form-group clearfix">
                                            @*<a href="#header" class="btn btn_banner secondary_color_bg button_fluid smothscroll" id="btnsubscribe"></a>*@
                                            <input type="submit"  class="btn btn_banner secondary_color_bg button_fluid button_width100 smothscroll" id="btnsubscribe" />
                                        </div>
                                    </div>
                                </div>
                                <!-- // Top job posters section-->
                            </div><!-- //col-md-4-->
                        //}

                    }

                </div><!-- //row-->
            </div>
        </div>
        <!--container_inner -->
    </div>
    <!--/#container-->
</div>

<div id="shadowing" class="shadowing_overlay myshadow"></div>

<div id="gig_subscription_id" class="popup_box clearfix myshadow popup_fixed_middle">
    <span id="" class="col-md-12 popup_box_title clearfix"><span id="span_sub_tit"></span><a href="#" class="popup_close_bg" title="Close" onclick="closebox('gig_subscription_id')"></a> </span>@*@Url.Action("Details", "Jobs", new { @id = @Session["JobId"] })*@
    <div class="col-md-12 pop_container_bg text-center">
        <div class="form-group clearfix">
            <label for="" class="input_label_style"><span id="span_sub_tit_msg"></span><span id="span_gig_subs"></span></label>
            <a href="#" id="btnConfirmGig" class="btn btn_banner secondary_color_bg maxwidth325" title="Yes subscribe" >Yes subscribe</a>
        </div>
        <div class="form-group register_small_already_reg delete_job_link clearfix">
            @*<p><a href="#" onclick="closebox('gig_subscription_id')">NO, CANCEL OFFER</a></p>*@@*@Url.Action("Details", "Jobs",new { @id = @Session["JobId"]})*@
            <p><a href="@Url.Action("Details", "Gigs",new { @id = @Session["GigId"],@subid = @Session["SubGigId"]})">NO, CANCEL OFFER</a></p>
        </div>
    </div>
</div>

<div id="Subscription_placed_id" class="popup_box clearfix myshadow popup_fixed_middle">
    <span id="" class="col-md-12 popup_box_title clearfix">
        <span id="spnOffer">Subscription placed!</span>
        <a href="@Url.Action("Details", "Gigs", new { @id = @Session["GigId"] })" class="popup_close_bg" title="Close"></a>
    </span>
    <div class="col-md-12 pop_container_bg text-center">
        <div class="form-group clearfix">
            <label for="" class="input_label_style"><span id="spnCongrats">Congrats! You just subscribed to the GIG: </span>@Model.GigTitle</label>
            <a href="@Url.Action("Search", "Gigs", null)" class="btn btn_banner secondary_color_bg maxwidth325" title="Search for another GIG">Search for another GIG</a>
        </div>
        @*<div class="form-group register_small_already_reg delete_job_link clearfix">
            <p><a href="@Url.Action("Details", "Jobs",new { @id = @Session["JobId"]})">VIEW AND EDIT OFFER</a></p>
        </div>*@
    </div>
</div>

<div id="attachement_pop_id" class="popup_box clearfix myshadow popup_fixed_middle">
    <span id="" class="col-md-12 popup_box_title clearfix"> Attachment <a href="#" onClick="closebox('attachement_pop_id')" class="popup_close_bg" title="Close"></a> </span>
    <div class="col-md-12 pop_container_bg">
        <div class="form-group clearfix">
            <div class="home_trending_tags job_review_attach clearfix">
                <ul id="view_attachment_ul"></ul>
            </div>
        </div>

        <div class="form-group clearfix">

            <a href="#" onClick="closebox('attachement_pop_id')" class="btn btn-default register_small_button secondary_color_bg" title="Close">Close</a>
        </div>
    </div>
</div>




    <div id="gig_subscriptiondocdelete" class="popup_box clearfix myshadow popup_fixed_middle">
        <span id="" class="col-md-12 popup_box_title clearfix"> Attachment <a href="#" class="popup_close_bg" title="Close" onclick="closebox('gig_subscriptiondocdelete')"></a> </span>
        <div class="col-md-12 pop_container_bg text-center">
            <div class="form-group clearfix">
                <label for="" class="input_label_style">Are you sure you want to delete this document?</label>
                <a href="#" id="btnConfirmDeletion" onclick="removeDoc()" class="btn btn_banner secondary_color_bg maxwidth325" title="Yes Delete">Yes Delete</a>
                <input type="hidden" id="hdndelconfirmdocid" />
            </div>
            <div class="form-group register_small_already_reg delete_job_link clearfix">
                <p><a href="#" onclick="cancelDel()">NO, CANCEL</a></p>
            </div>
        </div>
    </div>



}
<script>
    (function() {

        $(".dropzone").dropzone({
            maxFiles: 3,
            url: '/Gigs/UploadSubscriptionDocuments',
            margin: 20,
            params:{
                'action': 'save'
            },
            init: function () {

                thisDropzone = this;
                var DocumentList = @Html.Raw(Json.Encode(Model.GigDocumentsList));
                $.each(DocumentList, function(i, item){
                    var mockFile = {
                        name: item.DocumentName,
                        accepted: true,
                        size:item.Filesize ,
                        kind: "*"
                    };
                    thisDropzone.emit("addedfile", mockFile);
                    thisDropzone.options.thumbnail.call(thisDropzone, mockFile, window.location.origin+'/Documents/'+item.name);
                    thisDropzone.emit("complete", mockFile);
                });
                this.on("maxfilesexceeded", function (data) {
                    var res = eval('(' + data.xhr.responseText + ')');

                });
                this.on("addedfile", function (file) {

                    // Create the remove button
                    var removeButton = Dropzone.createElement("<button class='file_remove_bu'><i class='fa fa-close'></i></button>");
                    // Capture the Dropzone instance as closure.
                    var _this = this;
                    // Listen to the click event
                    removeButton.addEventListener("click", function (e) {
                        // Make sure the button click doesn't submit the form:
                        e.preventDefault();
                        e.stopPropagation();
                        // Remove the file preview.
                        _this.removeFile(file);
                        // If you want to the delete the file on the server as well,
                        // you can do the AJAX request here.
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                });
                this.on()
            },
            success: function(res, index){
                console.log(res, index);
            }
        });

    }());
    
</script>