<link href="@Url.Content("~/Content/css/chosen.css")" rel="stylesheet">
<script src="@Url.Content("~/Content/js/chosen.jquery.js")" type="text/javascript" charset="utf-8"></script>
<script src="@Url.Content("~/Content/js/init.js")" type="text/javascript" charset="utf-8"></script>
@*<script src="https://code.jquery.com/jquery-2.2.4.js"></script>*@

@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
@*<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>*@
@*<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">*@
<script src="@Url.Content("~/Content/js/jquery.imgareaselect.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.awesome-cropper.js")"></script> 
<link href="@Url.Content("~/Content/css/imgareaselect-default.css")" rel="stylesheet" media="screen">
<link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.awesome-cropper.css")">

<script>

    $(document).ready(function(){
        var Url='@(System.Configuration.ConfigurationManager.AppSettings["BaseURL"].ToString())'
        $('#sample_input').awesomeCropper(
        { width: 150, height: 150, debug: true,baseurl:Url }
        );

        //$('#uploaderdiv').on("click", function() {
        //    $('#file').trigger("click");
        //});

        $('#username').on('keypress', function (event) {
            var regex = new RegExp("^[a-zA-Z0-9]+$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
            var valid = (e.which >= 48 && e.which <= 57) || (e.which >= 65 && e.which <= 90) || (e.which >= 97 && e.which <= 122);
            if (!valid) {
                e.preventDefault();
                return false;
            }
            if (e.altKey && e.code === "KeyE") {
                return false;
            }
        });

        $("#errorUserName").empty();

        $('#SkillsId').chosen().change(function(){
            debugger;
            var value = $("#SkillsId").chosen().val();
            if(value != null && value[0] == "" && $('#SkillsId_chosen .chosen-choices li.search-choice:last').text() == '--Select --') {
                $('#SkillsId_chosen .chosen-choices li.search-choice:last').remove();
                $('.chosen-drop .chosen-results li:first').removeClass('result-selected').addClass('active-result');
                $("#SkillsId").chosen().val().shift();
                //$('#SkillsId option[value=""]').attr("selected", "selected");
            } 
            //else {
            //    $('.chosen-drop .chosen-results li:first').removeClass('result-selected').addClass('active-result');
            //}
            $("#SkillsId_chosen").find('.chosen-search-input').val("");
        });
        //.chosen-search-input
        $('#SkillsId_chosen').click(function() {
            $('.chosen-drop .chosen-results li:first').removeClass('result-selected').addClass('active-result');
        });

        SkillsLoading();
        function SkillsLoading(){
            var objSkillsMappingList = [];
            var objSelectedSkillsList = [];

            objSkillsMappingList=@Html.Raw(Json.Encode(Model.Skills));
            objSelectedSkillsList = @Html.Raw(Json.Encode(Model.UserSkills));

            var _ddlSkills = $("#SkillsId")
            $("#SkillsId").empty();
            var Skilllist = $("#SkillsId_chosen ul ")
            _ddlSkills.append('<option value="">' + '--Select --' + '</option>');
            for (var k = 0; k < objSkillsMappingList.length; k++)
            {
                _ddlSkills.append('<option value=' + objSkillsMappingList[k].SkillsId + ' >' +objSkillsMappingList[k].Description + '</option > ');

            }
            //used to apply select "div.chosen-drop" when edit mode
            $("#SkillsId > option").each(function() {
                var _optionValue = $(this).text().trim();
                for(var j=0;j<objSelectedSkillsList.length;j++)
                {
                    var Tagindex=j+1;
                    if(_optionValue == objSelectedSkillsList[j].Description)
                        $(this).attr('selected','selected');
                }
            });
            $("#SkillsId").trigger("chosen:updated");
        }

        $chosen = $("#SkillsId").chosen();

        var chosen = $chosen.data("chosen");
        var _fn = chosen.result_select;
        chosen.result_select = function(evt) {    
            evt["metaKey"] = true;
            evt["ctrlKey"] = true;
            chosen.result_highlight.addClass("result-selected");
            return _fn.call(chosen, evt);
        };


        @*$(':file').change(function () {


            //var ext = this.value.match(/\.(.+)$/)[1].toLowerCase();


            var ext=this.value.substr((this.value.lastIndexOf('.') + 1)).toLowerCase();
            var arr = ['jpg','jpeg','png','gif'];
            var FileSize = (this.files[0].size)/1024/1024;


            if(jQuery.inArray( ext, arr )==-1)
            {
                //alert('This is not an allowed file type');
                openbox(1, 'profilepictype');
                $('#btnSave').click(function(e) { e.preventDefault(); });
                this.value = '';
            }
            else
            {
                if (FileSize > 2) {
                    //alert('File size exceeds 2 MB');
                    openbox(1, 'profilepicsize');
                    $('#btnSave').click(function(e) { e.preventDefault(); });
                    this.value = '';
                }
                else if (window.FormData !== undefined)
                {

                    var fileUpload = $("#file").get(0);
                    var files = fileUpload.files;
                    var fileData = new FormData();
                    fileData.append(files[0].name, files[0]);

                    $.ajax({
                        url: '@Url.Action("UploadProfilePic", "Profile")',
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: fileData,
                        success: function (result) {
                            if(result!="failed")
                            {
                                var src="/ProfilePic/"+result;
                                $("#imgprofilepic").attr("src",src);
                            }
                        },
                        error: function (err) {

                        }
                    });
                }

            }
        });*@

        $("#btnSave").click(function(){

            $("#errorUserName").empty();
            var hdnusername=$("#hdnusername").val();
            var UserName=$("#username").val();
            var FullName=$("#fullname").val();
            var Bio=$("#bio").val();
            var objSkillsMappingList = [];
            var arraySkills = [];

            $("#SkillsId_chosen ul:first li.search-choice").each(function (index) {
                var valSkills = $(this).text().trim();
                arraySkills.push(valSkills);
            });

            $("#SkillsId option").each(function () {

                var selVal = $(this).val();
                if (arraySkills.indexOf($(this).text()) > -1) {

                    objSkillsMappingList.push(selVal);
                }
            });

            if(UserName!="")
            {
                if(UserName!=hdnusername)
                {

                    $.ajax({
                        type: 'POST',
                        cache: false,
                        url: '@Url.Action("CheckUserNameAvailabilty", "Dashboard")',
                        data: { "UserName": UserName},
                        success: function (data) {

                            if(data=="True")
                            {
                                $("#errorUserName").html("Sorry, someone's already picked that!");

                            }
                            else
                            {

                                $("#errorUserName").empty();
                                $.ajax({
                                    type: 'POST',
                                    cache: false,
                                    url: '@Url.Action("UpdateProfile", "Dashboard")',
                                    data: { "UserName": UserName,"FullName":FullName,"Bio":Bio,"skills":objSkillsMappingList},
                                    success: function (data) {

                                        if(data[1].Value=="Success")
                                        {
                                            openbox(1, 'profileupdatesuccess');
                                            var src=data[0].Value;
                                            $("#imgUserPic").attr("src",src);

                                        }
                                    },
                                    error: function () {
                                        console.log(jqXHR.status);
                                        console.log(exception);
                                    }
                                });
                            }
                        },
                        error: function (jqXHR, exception) {
                            console.log(jqXHR.status);
                            console.log(exception);
                        }

                    });
                }
                else
                {

                    $.ajax({
                        type: 'POST',
                        cache: false,
                        url: '@Url.Action("UpdateProfile", "Dashboard")',
                        data: { "UserName": UserName,"FullName":FullName,"Bio":Bio,"skills":objSkillsMappingList},
                        success: function (data) {

                            if(data[1].Value=="Success")
                            {

                                openbox(1, 'profileupdatesuccess');
                                var src=data[0].Value;
                                $("#imgUserPic").attr("src",src);
                            }
                        },
                        error: function () {
                            console.log(jqXHR.status);
                            console.log(exception);
                        }
                    });
                }
            }
            else
            {
                $("#errorUserName").html("Please tell us your username");
            }


        });




        $("#username").blur(function(){

            $("#errorUserName").empty();
            var hdnusername=$("#hdnusername").val();
            var UserName=$("#username").val();
            if(UserName!=hdnusername)
            {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("CheckUserNameAvailabilty", "Dashboard")',
                    data: { "UserName": UserName},
                    success: function (data) {
                        if(data=="True")
                        {
                            $("#errorUserName").html("Sorry, someone's already picked that!");
                            $("#btnSave").submit(function(e){
                                e.preventDefault();
                            });
                        }
                        else
                        {
                            $("#errorUserName").empty();
                        }
                    },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR.status);
                        console.log(exception);
                    }

                });
            }
        });


    });
    function popUpClose()
    {
        closebox('profileupdatesuccess');
        $("#jobprofile").trigger( "click" );
    }
    function popUpSizeClose()
    {
        closebox('profilepicsize');
        $("#jobprofile").trigger( "click" );
    }
    function popUpTypeClose()
    {
        closebox('profilepictype');
        $("#jobprofile").trigger( "click" );
    }
</script>

<form enctype="multipart/form-data" role="form">
    <div id="Your_profile_id_dash" class="tab-pane fade clearfix active in">
        <div class="col-md-12 dash_tab_con_heading_bg padd_left_right_o">
            <h3 class="dash_tab_con_heading_h3">Your profile</h3>
        </div>
        <div class="col-md-12 dash_jobs_box_1_bg bg_color_comen clearfix">
            <div class="profile_dash_changeprofile_pic clearfix">
                <div class="profile_changeprofile_pic">
                    @if (Model.User != null)
                    {
                        <img src="@Model.User.ProfilePic" alt="" id="imgprofilepic">
                    }

                </div>
                @*<div class="profile_changeprofile_name" id="uploaderdiv">
                    <div class="fileUpload btn button_all secondary_color_bg">
                        <span>CHANGE PICTURE</span>
                        <input type="file" class="upload" name="file" id="file" accept='image/*'>
                    </div>
                </div>*@
                <input id="sample_input" type="hidden" name="test[image]">
            </div>
            <div class="profile_dash_form_box clearfix">
                <div class="col-md-12 dash_you_profile_bg clearfix">

                    <div class="form-group clearfix">
                        <label for="" class="input_label_style">Full name</label>
                        <input type="text" class="form-control form_input" id="fullname" value="@Model.User.FullName" maxlength="30">
                    </div>
                    <div class="form-group clearfix">
                        <label for="" class="input_label_style">Username</label>


                        <div class="user_rg_at_bg">
                            <span class="user_rg_at_span"><i class="fa fa-at"></i></span>
                            <input type="text" class="form-control form_input" id="username" value="@Model.User.UserName" maxlength="30">
                        </div>
                        <input type="hidden" id="hdnusername" value="@Model.User.UserName" />
                        <span id="errorUserName" class="error_span"></span>
                    </div>
                    @*@if (Convert.ToInt32(Session["UserType"]) != 2)
                    {*@
                        <div class="form-group clearfix">
                            <label for="" class="input_label_style">Top skills</label>
                            @Html.DropDownList("ddlSkills", new SelectList((IEnumerable<Business.Skills>)Model.Skills, "SkillsId", "Description"), "--Select--", new { @placeholder = "Select Skills...", @multiple = "multiple", @tabindex = "4", @class = "chosen-select", @id = "SkillsId",@title="Select top skills" })
                        </div>
                   @* }*@

                    <div class="form-group clearfix">
                        <label for="" class="input_label_style">Bio (Must not exceed 135 characters)</label>
                        <textarea id="bio" class="form_input form_textarea display_block" placeholder="Write a short sentence or two about yourself..." maxlength="135">@Model.User.Bio</textarea>
                    </div>
                    <div class="form-group clearfix">
                        <a href="javascript:;" class="btn btn-default register_small_button secondary_color_bg" title="Save changes" id="btnSave">Save changes</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</form>









<!--lightbox popup section-->
@*<div id="shadowing" class="shadowing_overlay"></div>*@
@*<div id="profileupdatesuccess" class="popup_box clearfix">
    <span id="" class="col-md-12 popup_box_title clearfix"> Profile <a href="#" onclick="popUpClose()" class="popup_close_bg" title="Close"></a> </span>
    <div class="col-md-12 pop_container_bg text-center">
        <div class="form-group clearfix">
            <label for="" class="input_label_style">Profile details updated</label>
            <a href="#" onclick="popUpClose()" class="btn btn_banner secondary_color_bg maxwidth325" title="Okay">OK</a>
        </div>
    </div>
</div>*@
