@{
    Layout = null;
    var html = ""; var h = "";
}

@if (Model.Request != null)
{
    <div id="gigs_id_dash" class="tab-pane fade clearfix active in">
        <div class="col-md-12 dash_tab_con_heading_bg padd_left_right_o">
            <h3 class="dash_tab_con_heading_h3">GIGs Subscription Request <span id="spancount">(@TempData.Peek("SubRequest"))</span></h3>
        </div>
        <div id="divgigs">
            @foreach (var item in Model.Request)
            {

                <div class="col-md-12 dash_jobs_box_1_bg bg_color_comen clearfix">
                    <div class="dash_jobs_box_1_inner">
                        <a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = 0 })">
                            <h3>@item.GigTitle</h3>
                        </a>
                        <div class="timeframe_budget_small clearfix">
                            <div class="timeframe_only"><span>Duration:</span>&nbsp;<span>@item.GigDuration Days</span></div>
                            <div class="budget_only"><span>Cost: </span>&nbsp;<span>@String.Concat(@item.BudgetASPInt.ToString("#,##0"), " AXPR ", "($", @item.DollarCount.ToString("N2"), ")")</span></div>
                            <div class="axp_star_only">
                                <ul>
                                    @if (item.BadgeCount == 1)
                                    {
                                        <li><i></i></li>
                                    }
                                    else if (item.BadgeCount == 2)
                                    {
                                        <li><i></i></li>
                                        <li><i></i></li>
                                    }
                                    else if (item.BadgeCount == 3)
                                    {
                                        <li><i></i></li>
                                        <li><i></i></li>
                                        <li><i></i></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="home_client_discription_small clearfix">
                            @*<p>@item.GigDescription</p>*@
                            <div class="readmoretext">
                                @if (item.GigDescription.Length > 100)
                                {
                                    html = item.GigDescription.Substring(0, 100);
                                    h = item.GigDescription.Substring(100 - 1, item.GigDescription.Length - 100);
                                }
                                else
                                {
                                    html = item.GigDescription;
                                }

                                @html
                                @if (item.GigDescription.Length > 100)
                                {
                                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span>@h</span>&nbsp;&nbsp;<a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = 0 })" class="moreUrl">Read More</a></span>
                                }
                            </div>
                        </div>
                        @*<div class="client_profile_imgname_bg clearfix">
                                <div class="client_profile_pic">
                                    <div class="client_profile_pic_1">
                                        <img src="@Url.Content("~/"+@item.PosterProfilePic.ToString().Replace("..",""))" alt="" />
                                    </div>
                                    <i class="profile_pic_star"></i>
                                </div>
                                <a href="@Url.Action("Index", "Profile",new { @id=item.JobPosterId })">
                                    <div class="client_profile_name">
                                        <h4>@item.PosterFullName</h4>
                                        <span>@item.JobsCompleted jobs completed</span>
                                    </div>
                                </a>
                            </div>*@
                    </div>
                    <div class="border_buttom_only"></div>

                    <!--CURRENT OFFERS 1-->
                    @if (item.GigSubscriptionList.Count > 0)
                    {
                        <div class="dash_timeremain_corrent_offer_box_bg clearfix">
                            <h4 class="dash_time_corrent_offh3 clearfix">CURRENT OFFERS</h4>
                            @foreach (var itemloop in item.GigSubscriptionList)
                            {
                                <div id="div_offers_accept" class="col-md-12 padd_left_right_o dash_time_corrent_off_proilebox clearfix">
                                    <div class="pull-left">
                                        <div class="client_profile_imgname_bg client_profile_imgname_bg_inline clearfix">
                                            <div class="client_profile_pic">
                                                <div class="client_profile_pic_1">
                                                    <img src="@Url.Content("~/" + itemloop.PosterProfilePic.ToString().Replace("..", ""))" alt="">
                                                </div>
                                                <i class="profile_pic_star"></i>
                                            </div>
                                            <a href="@Url.Action("Index", "Profile",new { @id=itemloop.JobPosterId })">
                                                <div class="client_profile_name">

                                                    <h4>@itemloop.PosterFullName</h4>
                                                    <span>@itemloop.JobsCompleted jobs completed</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pull-right dash_time_allmenus">                                     
                                        <a href="#" onclick="LoadMessages('GigsRequest',@itemloop.JobPosterId,'@itemloop.PosterFullName','@item.PosterProfilePic' )" class="dash_time_right_menu">Send message</a>
                                        <a href="#" id="btnDecline" class="dash_time_right_menu decenabled" title="Decline offer">Decline</a>
                                        <a href="#" id="btnAccept" class="btn button_all secondary_color_bg acptenabled">Accept</a>

                                        <input type="hidden" id="hfGigSubId_@itemloop.GigSubscriptionId" value="@itemloop.GigSubscriptionId" />
                                        <input type="hidden" id="hfGigId_@item.GigId" value="@item.GigId" />
                                        <input type="hidden" id="hfReqName_@itemloop.PosterFullName" value="@itemloop.PosterFullName" />
                                        <input type="hidden" id="hfReqId_@itemloop.JobPosterId" value="@itemloop.JobPosterId" />
                                    </div>
                                    <div class="col-md-12 col-xs-12 padd_left_right_o dash_time_corrent_off_message clearfix">
                                        <div class="timeframe_budget_small clearfix">
                                            <div class="timeframe_only">
                                                <span class="dash_time_span_label">Subscribed on: @itemloop.SubscribedDateDisplay</span>&nbsp;&nbsp;
                                                <span class="dash_time_span_label">Job completion date: @itemloop.JobCompletionDateDisplay</span>
                                            </div>
                                        </div>
                                        <h4 class="gig_sub_titleh4">@itemloop.Title</h4>
                                        @*<div class="readmoretext comment more clearfix">@itemloop.Description</div>*@
                                        <div class="readmoretext comment more clearfix">
                                            @if (itemloop.Description.Length > 100)
                                            {
                                                html = itemloop.Description.Substring(0, 100);
                                                h = itemloop.Description.Substring(100 - 1, itemloop.Description.Length - 100);
                                            }
                                            else
                                            {
                                                html = itemloop.Description;
                                            }

                                            @html
                                            @if (itemloop.Description.Length > 100)
                                            {
                                                <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span>@h</span>&nbsp;&nbsp;<a href="#" class="morelink">Read More</a></span>
                                            }
                                        </div>
                                        <div class="coment_readmore_bgg">
                                            <input type="hidden" id="hfbidmessage_@itemloop.Description" value="@itemloop.Description" />
                                            @*@if (itemloop.Description != "" && itemloop.Description != null)
                                            {
                                                // <a href="#" id="btnMsg" onclick="LoadMessageJobsIP('JobsInProgress',@itemloop.UserId,'@itemloop.BidUserName','@itemloop.BidUserProfilePic' )" class="coment_readmore_link coment_readmore_link_show">Read message</a>
                                            }*@
                                        </div>
                                    </div>
                                    </div>

                                <div class="col-md-12 border_buttom_only job_details_linewithspace padd_left_right_o"></div>
                            }
                        </div>
                    }
                    <div class="pull-left">
                        <input type="hidden" id="hfGigTitle_@item.GigTitle" value="@item.GigTitle" />
                        <input type="hidden" id="hfGigId_@item.GigId" value="@item.GigId" />
                    </div>
                </div>
            }
            @if (Model.Request != null && Model.Request.Count == 0)
            {
                <div class="nojob_diplytable" id="divmsg">
                    <div class="col-md-12 category_nojob_bg clearfix">
                        <h3>You don't have any GIG subscription requests</h3>
                    </div>
                </div>
            }
        </div>
        @if (Model.Request != null && Model.Request.Count > 0 && Model.Request[0].Isloadmore == 1)
            {
                <div class="col-md-12 category_loadmore_bg clearfix" id="divloadmore">
                    <a href="javascript:" class="btn button_all secondary_color_bg" id="btnloadmore">Load more</a>
                </div>
            }

    </div>
}



<script type="text/javascript">
    var _Id, _SubId, _ReqUser, _ReqId, _UserId = "@Session["UserId"]", _UserName = "@Session["FullName"]";
    var notification = $.connection.notificationHub;
    $(document).ready(function () {
        var _count = $("#spancount").text();
        $("#gigsubrequest span").text(_count);

        $("#gigs_id_dash").on("click", "#btnloadmore", function () {
            var _Id = $('#gigs_id_dash div.pull-left').last().find('input[id^="hfGigId_"]').val();
            LoadMore(_Id);
        })

        function LoadMore(id) {
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("LoadMoreGigs", "Dashboard")',
                data: { 'type': 'subreq', 'id': id },
                success: function (response) {
                    $("#divloadmore").remove();
                    $('#gigs_id_dash').append(response);
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }

        $("#gigs_id_dash").on("click", "#btnDecline", function () {
            debugger
            _Id = $(this).parent().find('input[id^="hfGigId_"]').val();
            _SubId = $(this).parent().find('input[id^="hfGigSubId_"]').val();
            _ReqUser = $(this).parent().find('input[id^="hfReqName_"]').val();
            _ReqId = $(this).parent().find('input[id^="hfReqId_"]').val();
            $('#gigAccept_title').text('Decline GIG subscription');
            $('#gigAccept_msg').html('Do you want to decline this GIG subscription request?');
            $('#gigAcceptOk').hide();
            $('#gigDeclineOk').show().data('gigId', _Id).data('reqId', _SubId).data('reqUser', _ReqUser);
            openbox(1, 'gigAccept_pop');
        })

        $("#gigs_id_dash").on("click", "#btnAccept", function () {
            _Id = $(this).parent().find('input[id^="hfGigId_"]').val();
            _SubId = $(this).parent().find('input[id^="hfGigSubId_"]').val();
            _ReqUser = $(this).parent().find('input[id^="hfReqName_"]').val();
            _ReqId = $(this).parent().find('input[id^="hfReqId_"]').val();
            $('#gigAccept_title').text('Accept GIG request');
            $('#gigAccept_msg').html('Do you want to accept this GIG subscription request?');
            $('#gigDeclineOk').hide();
            $('#gigAcceptOk').show().data('gigId', _Id).data('reqId', _SubId).data('reqUser', _ReqUser);
            openbox(1, 'gigAccept_pop');
        })

        //var showChar = 100;
        //var ellipsestext = "...";
        //var moretext = "Read More";
        //var lesstext = "Read less";
        //$('.more').each(function () {
        //    var content = $(this).html();
        //    if (content.length > showChar) {
        //        var c = content.substr(0, showChar);
        //        var h = content.substr(showChar - 1, content.length - showChar);
        //        var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="#" class="morelink">' + moretext + '</a></span>';
        //        $(this).html(html);
        //    }
        //});

        $("#gigs_id_dash").on("click", ".morelink", function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    });

    function LoadMessages(_from, _prmSendUserId, _prmJobSeeker, _prmBidUserProfilePic) {
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("ChatForSendMessage", "Home")',
            data: { "_prmSendUserId": _prmSendUserId, "from": _from, "_prmJobSeeker": _prmJobSeeker, "_prmBidUserProfilePic": _prmBidUserProfilePic },
            success: function (response) {
                $("#divChat").html(response);
                openbox(1, 'divChat');
            },
            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }

    $.connection.hub.start().done(function () {
        $('#gigDeclineOk').on('click', function () {
            closebox('gigAccept_pop');
            // AcceptGigRequest(_Id, _SubId, _ReqUser, 'D');
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AcceptGigRequest", "Gigs")',
                data: { 'type': 'D', 'gigId': _Id, 'reqId': _SubId, "address": "" },
                beforeSend: function () {
                    $("#loaderDiv").show();
                },
                success: function (response) {
                    var _notification = "";
                    var _header = "";
                    var _Url = "";
                    if (response == "success") {
                        $("#loaderDiv").hide();
                        $('#gigRequest_title').text('Declined GIG request');
                        $('#gigRequest_msg').html('You have declined the GIG request from ' + _ReqUser);
                        _notification = _UserName + " has declined your GIG subscription"
                        _header = "GIG subscription declined";
                        notification.server.send(_UserId, _ReqId, _ReqUser, _notification, _header, _Url);
                        openbox(1, 'gigRequest_pop');
                        //window.location.reload();
                    } else {
                        $("#loaderDiv").hide();
                        $('#gigRequest_title').text('Cannot complete operation');
                        $('#gigRequest_msg').text('Something went wrong. Please try again.');
                        openbox(1, 'gigRequest_pop');
                    }
                },
                error: function (jqXHR, exception) {
                    $("#loaderDiv").hide();
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        })

        $('#gigAcceptOk').on('click', function () {
            closebox('gigAccept_pop');
            AcceptGigRequest(_Id, _SubId, _ReqUser, 'A');
        })

        $('#gigRequestOk').on('click', function () {
            closebox('gigRequest_pop');
            $('#gigsubrequest').trigger('click');
        })
        
        function AcceptGigRequest(id, reqid, reqUser, type) {
            function callback(address) {
                debugger
                if (address == 'error' || address == '') {
                    openbox(1, 'metamask_comfirmation_id');
                    closebox('offer_comfirmation_id');
                }
                else {
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        url: '@Url.Action("AcceptGigRequest", "Gigs")',
                        data: { 'type': type, 'gigId': id, 'reqId': reqid, "address": address },
                        beforeSend: function () {
                            $("#loaderDiv").show();
                        },
                        success: function (response) {
                            var _notification = "";
                            var _header = "";
                            var _Url = "";
                            if (response == "success") {
                                $("#loaderDiv").hide();
                                if (type == 'D') {
                                    $('#gigRequest_title').text('Declined GIG request');
                                    $('#gigRequest_msg').html('You have declined the GIG request from ' + reqUser);
                                    _notification = _UserName + " has declined your GIG subscription"
                                    _header = "GIG subscription declined";
                                    notification.server.send(_UserId, _ReqId, _ReqUser, _notification, _header, _Url);
                                } else {
                                    $('#gigRequest_title').text('Accepted GIG request');
                                    $('#gigRequest_msg').html('You have accepted the GIG request from ' + reqUser);
                                    _notification = _UserName + " has accepted your GIG subscription";
                                    _header = "GIG subscription accepted";
                                    notification.server.send(_UserId, _ReqId, _ReqUser, _notification, _header, _Url);
                                }
                                openbox(1, 'gigRequest_pop');
                                //window.location.reload();
                            } else {
                                $("#loaderDiv").hide();
                                $('#gigRequest_title').text('Cannot complete operation');
                                $('#gigRequest_msg').text('Something went wrong. Please try again.');
                                openbox(1, 'gigRequest_pop');
                            }
                        },
                        error: function (jqXHR, exception) {
                            $("#loaderDiv").hide();
                            console.log(jqXHR.status);
                            console.log(exception);
                        }
                    });
                }
            }
            App.getUserAddress(callback);
        }
    })
</script>

