@{
    Layout = null;
    var html = ""; var h = "";
}

@if (Model.Pending != null)
{
    <div id="gigs_id_dash" class="tab-pane fade clearfix active in">
        <div class="col-md-12 dash_tab_con_heading_bg padd_left_right_o">
            <h3 class="dash_tab_con_heading_h3">GIGs In Pending <span id="spancount">(@TempData.Peek("Pending"))</span></h3>
        </div>
        <div id="divgigs">
            @foreach (var item in Model.Pending)
            {

                <div class="col-md-12 dash_jobs_box_1_bg bg_color_comen clearfix">
                    <div class="dash_jobs_box_1_inner">
                        <a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = 0 })">
                            <h3>@item.GigTitle</h3>
                        </a>
                        <div class="timeframe_budget_small clearfix">
                            <div class="timeframe_only"><span>Duration:</span>&nbsp;<span>@item.GigDuration Days</span></div>
                            <div class="budget_only"><span>Cost: </span>&nbsp;<span>@String.Concat(@item.BudgetASPInt.ToString("#,##0"), " AXPR ", "($", @item.DollarCount.ToString("N2"), ")")</span></div>
                            <div class="axp_star_only">
                                <ul>
                                    @if (item.BadgeCount == 1)
                                    {
                                        <li><i></i></li>
                                    }
                                    else if (item.BadgeCount == 2)
                                    {
                                        <li><i></i></li>
                                        <li><i></i></li>
                                    }
                                    else if (item.BadgeCount == 3)
                                    {
                                        <li><i></i></li>
                                        <li><i></i></li>
                                        <li><i></i></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="home_client_discription_small clearfix">
                            @*<p>@item.GigDescription</p>*@
                            <div class="readmoretext more">
                                @if (item.GigDescription.Length > 100)
                                {
                                    html = item.GigDescription.Substring(0, 100);
                                    h = item.GigDescription.Substring(100 - 1, item.GigDescription.Length - 100);
                                }
                                else
                                {
                                    html = item.GigDescription;
                                }

                                @html
                                @if (item.GigDescription.Length > 100)
                                {
                                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span>@h</span>&nbsp;&nbsp;<a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = 0 })" class="morelink">Read More</a></span>
                                }
                            </div>
                        </div>
                        @*<div class="client_profile_imgname_bg clearfix">
                                <div class="client_profile_pic">
                                    <div class="client_profile_pic_1">
                                        <img src="@Url.Content("~/"+@item.PosterProfilePic.ToString().Replace("..",""))" alt="" />
                                    </div>
                                    <i class="profile_pic_star"></i>
                                </div>
                                <a href="@Url.Action("Index", "Profile",new { @id=item.JobPosterId })">
                                    <div class="client_profile_name">
                                        <h4>@item.PosterFullName</h4>
                                        <span>@item.JobsCompleted jobs completed</span>
                                    </div>
                                </a>
                            </div>*@
                    </div>
                    <div class="border_buttom_only"></div>
                    @*<div class="dash_timeremaining_box_bg clearfix">
                        <div class="pull-right dash_time_allmenus">
                            <a href="#" class="dash_time_right_menu" id="@item.GigId" onclick="EditGig(@item.GigId);">Edit GIG</a>
                        </div>
                        <div class="pull-left dash_time_allmenus">
                            <div class="btn-group gig_swich_bg" id="status" data-toggle="buttons">
                                <label class="btn btn-default btn-on btn-sm active">
                                    <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Enable
                                </label>
                                <label class="btn btn-default btn-off btn-sm ">
                                    <input type="radio" value="0" name="multifeatured_module[module_id][status]">Disable
                                </label>
                            </div>
                        </div>
                    </div>*@
                    <div class="pull-left">
                        <input type="hidden" id="hfGigTitle_@item.GigTitle" value="@item.GigTitle" />
                        <input type="hidden" id="hfGigId_@item.GigId" value="@item.GigId" />
                    </div>
                </div>
            }
            @if (Model.Pending != null && Model.Pending.Count == 0)
            {
                <div class="nojob_diplytable" id="divmsg">
                    <div class="col-md-12 category_nojob_bg clearfix">
                        <h3>You don't have any GIGs pending Approval</h3>
                    </div>
                </div>
            }
        </div>
        @if (Model.Pending != null && Model.Pending.Count > 0 && Model.Pending[0].Isloadmore == 1)
            {
                <div class="col-md-12 category_loadmore_bg clearfix" id="divloadmore">
                    <a href="javascript:" class="btn button_all secondary_color_bg" id="btnloadmore">Load more</a>
                </div>
            }

    </div>
}



<script type="text/javascript">
    $(document).ready(function () {
        var _count = $("#spancount").text();
        $("#gigpending span").text(_count);

        $("#gigs_id_dash").on("click", "#btnloadmore", function () {
            var _Id = $('#gigs_id_dash div.pull-left').last().find('input[id^="hfGigId_"]').val();
            LoadMore(_Id);
        })

        function LoadMore(id) {
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("LoadMoreGigs", "Dashboard")',
                data: { 'type': 'pending', 'id': id },
                success: function (response) {
                    $("#divloadmore").remove();
                    $('#gigs_id_dash').append(response);
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }
    })
</script>
