<!DOCTYPE html>
<html lang="en" dir="ltr" class="theme-a">
<head>
    <title>MatchBX</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#ffffff">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, target-densitydpi=device-dpi, shrink-to-fit=no">
    <meta name="author" content="https://psdhtml.me">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="preload" as="style" href="~/styles/screen.css">

    <link rel="preload" as="font" href="~/styles/icons/icomoon.woff2">

    <link rel="preload" as="script" href="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="@Url.Content("~/Content/js/lightbox-form.js")" type="text/javascript"></script>

    <link rel="preload" as="script" href="~/javascript/scripts.js">
    <link rel="preload" as="script" href="~/javascript/custom.js">

    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">

    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" media="screen" href="~/styles/screen.css">

    <link rel="icon" type="image/x-icon" href="~/favicon.png">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#310e6d">
    <link rel="manifest" href="~/manifest.json">
    <link rel="preconnect" href="https://ajax.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="msapplication-config" content="browserconfig.xml">

    <meta property="og:title" content="MatchBX">
    <meta property="og:type" content="website">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="MatchBX">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <meta name="twitter:title" content="MatchBX">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="MatchBX">
    <meta name="twitter:card" content="">
    <meta name="twitter:image" content="">

    <style>
        .hidden {
            display: none;
        }

        .client_profile_pic {
            display: inline-block;
            position: relative;
            margin-right: 15px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            vertical-align: middle;
        }

        .client_profile_pic_1 {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #fff;
            -webkit-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.43);
            -moz-box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.43);
            box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.43);
        }

        .client_profile_pic img {
            width: 40px;
            height: auto;
        }

        i.profile_pic_star {
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: 0;
            margin-right: -5px;
            margin-bottom: 2px;
            width: 16px;
            height: 16px;
            background: url(../../images/profile_pic_star.png) no-repeat center;
            background-size: 16px 16px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
        
        a.myjob:hover {
            text-decoration: none;
        }
        /*
        p {
            color: #555555;
        }
        */
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascript/jquery.js"><\/script>');</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="javascript/jquery-ui.js"><\/script>')</script>

    <script src="@Url.Content("~/Content/js/wow.min.js")"></script>

    <script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
    <script src="~/Content/js/web3.min.js"></script>
    <script src="~/Content/js/truffle-contract.js"></script>
    <script src="~/App/main.js"></script>

    <script type="text/javascript">
        @*$(function () {
            $(window).load(function () {

                var Url='@(System.Configuration.ConfigurationManager.AppSettings["BaseURL"].ToString())'
                var userid = '@Session["UserId"].ToString()'
                App.init(Url,userid);
            });
        });*@
        var iddleTimeoutWarning = null;
        var iddleTimeout = null;
        var IsloggedOut=false;
        $(document).ready(function(){
            InitializeTimers();
            function InitializeTimers() {
                IsloggedOut=false;
                if (iddleTimeoutWarning != null)
                    clearTimeout(iddleTimeoutWarning);
                if (iddleTimeout != null)
                    clearTimeout(iddleTimeout);
                var _TimeOutWarning = '@(System.Configuration.ConfigurationManager.AppSettings["SessionTimeoutWarning"].ToString())';
                var millisecTimeOutWarning = parseInt(_TimeOutWarning) * 60 * 1000 ;
                var _TimeOut =  '@(System.Configuration.ConfigurationManager.AppSettings["SessionTimeout"].ToString())';
                var millisecTimeOut =  parseInt(_TimeOut) * 60 * 1000 ;
                iddleTimeoutWarning = setTimeout("DisplayIddleWarning()", millisecTimeOutWarning);
                //iddleTimeout = setTimeout("TimeoutPage()", millisecTimeOut);
            }
            $("a.timeoutpop_button ").click(function(){
                location.reload();
            })
            $("#TimeOutPopup_id").on('click','a',function(){
                location.reload();

            });
            $('body').on('keypress keydown  click dblclick', function(e) {
                if( IsloggedOut==true)
                {
                    location.reload();
                }
                else{

                    clearInterval(iddleTimeoutWarning);
                    clearTimeout(iddleTimeoutWarning);
                    InitializeTimers();
                }

            });
            //$("#ulcategoryfootergig").on('click','a',function(){

            //    setCategory('G');
            //})
            //$("#ulcategoryfooter").on('click','a',function(){

            //    setCategory('J');

            //})
            //$("#view_jobs").click(function(){

            //    setCategory('J');
            //});
            //$("#view_gigs").click(function(){

            //    setCategory('G');
            //});
            function setCategory(_SortDirCat)
            {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("SetSearchCategory", "category")',
                    data: {"cat":_SortDirCat},
                    success: function (response) {
                        SetSearchCriteria();
                    },
                    error: function (jqXHR, exception) {

                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }

        });
        function DisplayIddleWarning() {

            CallTimer();

        }
        function CallTimer()
        {
            openbox(1, 'TimeOutPopup_id');
            var _SessionOut = '@(System.Configuration.ConfigurationManager.AppSettings["SessionTimeoutWarning"].ToString())';
            var _TimeOutWarning = '@(System.Configuration.ConfigurationManager.AppSettings["SessionSlidingExpiration"].ToString())';
            var time_in_minutes = _TimeOutWarning;
            $("#timeout").text(_SessionOut);
            var current_time = Date.parse(new Date());
            var deadline = new Date(current_time + time_in_minutes*60*1000);
            function time_remaining(endtime){
                var t = Date.parse(endtime) - Date.parse(new Date());
                var seconds = Math.floor( (t/1000) % 60 );
                var minutes = Math.floor( (t/1000/60) % 60 );
                var hours = Math.floor( (t/(1000*60*60)) % 24 );
                var days = Math.floor( t/(1000*60*60*24) );
                return {'total':t, 'days':days, 'hours':hours, 'minutes':minutes, 'seconds':seconds};
            }
            function run_clock(endtime){
                function update_clock(){
                    var t = time_remaining(endtime);

                    $('#divm').text(t.minutes);

                    $('#divs').text(t.seconds);
                    if(t.total<=0){

                        clearInterval(timeinterval);
                        IsloggedOut=true
                        closebox('TimeOutPopup_id');
                        TimeoutPage();
                    }
                }
                update_clock(); // run function once at first to avoid delay
                var timeinterval = setInterval(update_clock,1000);
            }
            run_clock(deadline);
        }
        function TimeoutPage() {
            if(IsloggedOut==true)
            {
                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: '@Url.Action("LogOff", "Login")',
                    success: function (response) {
                        var Backlen=history.length;
                        if (Backlen > 0) history.go(-Backlen);
                        if(window.history.forward(1) != null)
                            window.history.forward(1);
                        //window.location.href="/Jobs/Index";
                        window.location.href = "../../";
                    },
                    error: function (jqXHR, exception) {

                    }
                });
            }

        }

    </script>
    <script type='text/javascript'>
        (function (d, t) {
            var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
            bh.type = 'text/javascript';
            bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=1sxow0t6swmo3wydqddx3a';
            s.parentNode.insertBefore(bh, s);
        })(document, 'script');
    </script>
    <script type="text/javascript">

        $(document).ready(function(){
            var Url='@(System.Configuration.ConfigurationManager.AppSettings["BaseURL"].ToString())'
            var userid = '@Session["UserId"].ToString()'
            var usertype = '@Session["UserType"].ToString()'
            App.init(Url,userid,usertype);
            $("#anchor_home").click(function(){

                localStorage.removeItem("frmPage");

                setCategoryAndLoad('B', 'job', '');
                //setCategory('B');
                //window.location.href="/Jobs/index";
            })
            @*function setCategory(_SortDirCat)
            {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("SetSearchCategory", "category")',
                    data: {"cat":_SortDirCat},
                    success: function (response) {
                        SetSearchCriteria();
                    },
                    error: function (jqXHR, exception) {

                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }*@
            function setCategoryAndLoad(_SortDirCat, type, urls)
            {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("SetSearchCategory", "category")',
                    data: {"cat":_SortDirCat},
                    success: function (response) {

                        window.location.href = "/Dashboard/index";

                        debugger;
                        if(type == 'job') {
                            ////window.location.href = "/Jobs/index";

                        } else if(type == "gig") {
                            ////window.location.href = "/Gigs/search";

                        } else if(type == "category" && urls != null) {
                            ////window.location.href = urls;

                        }
                        //SetSearchCriteria();
                    },
                    error: function (jqXHR, exception) {

                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }
            $("#ulcategory").on('click','a',function(){

                var _id=$(this).prop("id");
                //if(_id!="")
                //{

                //    var _id=$(this).prop("id");
                //    localStorage.setItem("catid",_id);
                //    var _text=titleCase($(this).text());
                //    localStorage.setItem("cattext",_text)
                //    window.location.href="/Category/index?id="+_id;
                //}
                if(_id=="view_jobs")
                {
                    //setCategory('J');
                    //window.location.href="/Jobs/index";
                    setCategoryAndLoad('J', 'job', '');
                }
                else if(_id=="view_gigs")
                {
                    //setCategory('G');
                    //window.location.href="/Gigs/search";
                    setCategoryAndLoad('G', 'gig', '');
                }
            })
            $('.get_hired').click(function() {
                //setCategory('J');
                //window.location.href="/Jobs/index";
                setCategoryAndLoad('J', 'job', '');
            })

            $("#ulcategoryfooter").on('click','a',function(){
                var _id=$(this).prop("id");
                localStorage.setItem("catid",_id);
                var _text=titleCase($(this).text());
                localStorage.setItem("cattext",_text)
                //setCategory('J');
                //window.location.href="/Category/index?id="+_id+"&type=1";
                setCategoryAndLoad('J', 'category', '/Category/index?id='+_id+'&type=1');
            })
            $("#ulcategoryfootergig").on('click','a',function(){
                var _id=$(this).prop("id");
                localStorage.setItem("catid",_id);
                var _text=titleCase($(this).text());
                localStorage.setItem("cattext",_text)
                //setCategory('G');
                //window.location.href="/Category/index?id="+_id+"&type=2";
                setCategoryAndLoad('G', 'category', '/Category/index?id='+_id+'&type=2');
            })
            $("#ulfootertopcat").on('click','a',function(){
                var _id=$(this).prop("id");
                localStorage.setItem("catid",_id);
                var _text=titleCase($(this).text());
                localStorage.setItem("cattext",_text)
                window.location.href="/Category/index?id="+_id+"&type=1";
            })
            function titleCase(str) {
                str = str.toLowerCase();
                str = str.split(' ');
                for (var i = 0; i < str.length; i++) {
                    str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
                }
                return str.join(' ');
            }
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117453064-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-117453064-1');
    </script>

</head>

<body>
    <div id="root">

        <header id="top">
            <p id="logo"><a href="../../" accesskey="h">MatchBX</a> <span>Hire freelancers, pay in cryptocurrency</span></p>
            <nav id="skip">
                <ul>
                    <li><a href="#nav" accesskey="n">Skip to navigation (n)</a></li>
                    <li><a href="#content" accesskey="c">Skip to content (c)</a></li>
                    <li><a href="#footer" accesskey="f">Skip to footer (f)</a></li>
                </ul>
            </nav>
            <nav id="up">
                <ul>
                    <li class="active"><a href="./"><i class="icon-wallet"></i> <span>Setup MetaMask</span></a></li>
                    <li><a href="./"><i class="icon-bell"></i> <span>Notifications</span></a></li>
                    <li class="new">
                        <a href="./"><i class="icon-chat"></i> <span>Messages</span></a>
                        <div class="tabs">
                            <ul>
                                <li><a href="./"><i class="icon-bell"></i> Notifications</a></li>
                                <li><a href="./"><i class="icon-envelope"></i> Inbox</a></li>
                            </ul>
                            <div>
                                <div>
                                    <ul class="list-notifications">
                                        <li>
                                            <figure><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"></figure>
                                            <figure class="text-right"><img src="http://placehold.it/30" alt="Placeholder" width="30" height="30"></figure>
                                            <h3><a href="./">Lorem ipsum dolor sit amet, con sectetur adipiscing elit.</a></h3>
                                            <p class="small">2 days, 4 hours ago</p>
                                        </li>
                                        <li>
                                            <figure><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"></figure>
                                            <figure class="text-right"><img src="http://placehold.it/30" alt="Placeholder" width="30" height="30"></figure>
                                            <h3><a href="./">Lorem ipsum dolor sit amet, con sectetur adipiscing elit.</a></h3>
                                            <p class="small">2 days, 4 hours ago</p>
                                        </li>
                                        <li>
                                            <figure><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"></figure>
                                            <figure class="text-right"><img src="http://placehold.it/30" alt="Placeholder" width="30" height="30"></figure>
                                            <h3><a href="./">Lorem ipsum dolor sit amet, con sectetur adipiscing elit.</a></h3>
                                            <p class="small">2 days, 4 hours ago</p>
                                        </li>
                                        <li>
                                            <figure><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"></figure>
                                            <figure class="text-right"><img src="http://placehold.it/30" alt="Placeholder" width="30" height="30"></figure>
                                            <h3><a href="./">Lorem ipsum dolor sit amet, con sectetur adipiscing elit.</a></h3>
                                            <p class="small">2 days, 4 hours ago</p>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="list-notifications">
                                        <li>
                                            <figure><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"></figure>
                                            <h3><a href="./">Keyra Knightley</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipis</p>
                                            <p class="small">2 days, 4 hours ago</p>
                                        </li>
                                        <li>
                                            <figure><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"></figure>
                                            <h3><a href="./">Keyra Knightley</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipis</p>
                                            <p class="small">2 days, 4 hours ago</p>
                                        </li>
                                        <li>
                                            <figure><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"></figure>
                                            <h3><a href="./">Keyra Knightley</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipis</p>
                                            <p class="small">2 days, 4 hours ago</p>
                                        </li>
                                        <li>
                                            <figure><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"></figure>
                                            <h3><a href="./">Keyra Knightley</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipis</p>
                                            <p class="small">2 days, 4 hours ago</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#"><i class="icon-user"></i> <span class="mobile-hide">Hello, @Session["UserName"]</span> <span class="mobile-only">Profile</span></a>
                        <ul>
                            <li><a href="#">My Profile</a></li>
                            <li class="active"><a href="#">Setting</a></li>
                            <li><a href="/Profile/CryptoExchange">Crypto Exchange</a></li>
                            <li><a href="#">Refer a Friend</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="/Profile/Arbitration">Arbitration</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="@Url.Action("LogOff", "Login")">Logout</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="./"><i class="icon-theme-light"></i> <span class="hidden">Theme</span></a>
                        <ul>
                            <li class="active"><a href="./">Light theme</a></li>
                            <li><a href="./">Dark theme</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>En<span class="hidden">glish</span></span></a>
                        <ul>
                            <li class="active"><a hreflang="en" href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>English</span></a></li>
                            <li><a hreflang="de" href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Deutsch</span></a></li>
                            <li><a hreflang="fr" href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Français</span></a></li>
                            <li><a hreflang="no" href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Norsk</span></a></li>
                            <li><a hreflang="pl" href="./"><img src="http://placehold.it/16x11" alt="Placeholder" width="16" height="11"> <span>Polski</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <nav id="nav" aria-label="Navigation">
            <ul>
                <li><a href="./"><i class="icon-dashboard"></i> <span class="hidden">Dashboard</span></a></li>
                <li class="active"><a accesskey="1" href="./"><i class="icon-zoom"></i> <span class="hidden">Search</span></a> <em>(1)</em></li>
                <li><a accesskey="2" href="./"><i class="icon-plus-circle"></i> <span class="hidden">Add</span></a> <em>(2)</em></li>
                <li><a accesskey="3" href="./"><i class="icon-cup"></i> <span class="hidden">Awards</span></a> <em>(3)</em></li>
                <li><a accesskey="4" href="./"><i class="icon-user"></i> <span class="hidden">Profile</span></a> <em>(4)</em></li>
                <li><a accesskey="5" href="./"><i class="icon-cog"></i> <span class="hidden">Settings</span></a> <em>(5)</em></li>
                <li><a accesskey="6" href="./"><i class="icon-flag"></i> <span class="hidden">Notifications</span></a> <em>(6)</em></li>
            </ul>
        </nav>

        @RenderBody()

        <footer id="footer">
            <nav>
                <div>
                    <h3>Who We Are</h3>
                    <ul>
                        <li><a href="./">aXpire</a></li>
                        <li><a href="./">About Us</a></li>
                        <li><a href="./">Blog</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="./">Help Center</a></li>
                        <li><a href="./">Leave Feedback</a></li>
                        <li><a class="email">info//axpire/com</a></li>
                    </ul>
                </div>
                <form action="./" method="post">
                    <h3>Newsletter</h3>
                    <p>
                        <label for="na">Enter email address to join</label>
                        <input type="email" id="na" name="na" required>
                        <button type="submit">Submit</button>
                    </p>
                </form>
                <div>
                    <h3>Get social</h3>
                    <ul class="list-social">
                        <li><a href="./"><i class="icon-twitter"></i> <span>Twitter</span></a></li>
                        <li><a href="./"><i class="icon-facebook"></i> <span>Facebook</span></a></li>
                        <li><a href="./"><i class="icon-linkedin"></i> <span>Linkedin</span></a></li>
                        <li><a href="./"><i class="icon-youtube"></i> <span>YouTube</span></a></li>
                        <li><a href="./"><i class="icon-reddit"></i> <span>Reddit</span></a></li>
                        <li><a href="./"><i class="icon-paper-plane"></i> <span>???</span></a></li>
                        <li><a href="./"><i class="icon-medium"></i> <span>Medium</span></a></li>
                    </ul>
                </div>
            </nav>
            <div class="module-popup">
                <p class="link-icon"><a href="./"><i class="icon-bell"></i> Notifications</a></p>
                <ul class="list-popup">
                    <li>
                        <h3><i class="icon-bell"></i> Hello, Jonathan Doe</h3>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</p>
                    </li>
                    <li>
                        <h3><i class="icon-bell"></i> Hello, Jonathan Doe</h3>
                        <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</p>
                    </li>
                </ul>
            </div>
            <ul>
                <li><a href="./">Privacy Policy</a></li>
                <li><a href="./">Term of Use</a></li>
                <li><a href="./">Contact</a></li>
                <li><a href="#root">Back to <span>Top</span></a></li>
            </ul>
            <p>Copyright &copy; <span class="date">2019</span> aXpire. All Rights Reserved.</p>
        </footer>

    </div>
    <!--notifications pop -->
    <!--lightbox popup section-->
    <div id="shadowing" class="shadowing_overlay myshadow"></div>
    <div id="divChat" class="popup_box popup_box_message clearfix myshadow popup_fixed_middle"></div>
    <div id="postjob_view_pop_id" class="popup_box clearfix myshadow">
    </div>
    <div id="creategig_view_pop_id" class="popup_box clearfix myshadow">
    </div>
    <div id="TimeOutPopup_id" class="popup_box clearfix myshadow">
        <span class="col-md-12 popup_box_title timeout_popup_title popup_box_title_small admin_primary_color_bg clearfix">
            Logging you out
            <a href="#" class="popup_close_bg" title="Close"></a>
        </span>
        <div class="col-md-12 pop_container_bg logout_popbg text-center">
            <div class="form-group timeout_popup_style clearfix">
                <!-- {{idleState}} -->
                <!-- <img src="assets/images/seession_expired_icon.png" alt="" /> -->
                <label class="input_label_style"> For security, you will be logged out after <b id="timeout"></b> minutes of inactivity.</label>
                <p>
                    Logging you out in

                </p><div id="divtimer" class="demo4" style="color:red">
                    <span class="mainsp"><span>minutes: </span><span id="divm"></span></span>
                    <span class="mainsp"><span>seconds: </span><span id="divs"></span></span>
                </div>
                <p></p>
                <a href="#" class="btn btn_banner secondary_color_bg maxwidth325 timeoutpop_button">Stay logged in</a>
            </div>
        </div>

    </div>

    <!--lightbox popup section-->
    <!--
    @*</div>*@
    @*<div id="postjob_confirm_pop_id" class="popup_box clearfix">
        <span id="" class="col-md-12 popup_box_title clearfix">
        <h3>Job Status</h3><a href="#" onClick="closebox('postjob_confirm_pop_id')" class="popup_close_bg" title="Close"></a>
        </span>
        <div class="col-md-12 pop_container_bg text-center">
        <a href="#" onClick="closebox('postjob_confirm_pop_id')" class="popup_close_bg" title="Close"></a>
        <p class="popup_box_title_p jobMsg">
        <h4></h4>
        </p>

        <br />
        <div class="form-group clearfix">

        <a href="#" id="btncancel" class="btn button_all secondary_color_2_bg">OK </a>
        </div>
        <div class="form-group register_small_already_reg delete_job_link clearfix">

        </div>
        </div>

        </div>*@
    -->
    <div id="postjob_confirm_pop_id" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">Job Status<a href="#" id="btnjobconfirmClose" class="popup_close_bg" title="Close"></a> </span>
        <div class="col-md-12 pop_container_bg text-center">
            <div class="form-group clearfix">
                <h4><label for="" class="input_label_style jobMsg"> </label></h4>
                <br />
                <a href="#" id="btnjobconfirmYes" class="btn btn_banner secondary_color_bg maxwidth325" title="OK">OK</a>
            </div>
            <div class="form-group register_small_already_reg delete_job_link clearfix">
                @*<p><a onclick="closebox('postjob_confirm_pop_id')" href="#">Cancel </a></p>*@
            </div>
        </div>
    </div>
    <!--
    @*<div id="confirm_message_pop_id" class="popup_box clearfix">
            <span id="" class="col-md-12 popup_box_title clearfix">
                <h3>Do you want to save this job?</h3><a href="#" onClick="closebox('confirm_message_pop_id')" class="popup_close_bg" title="Close"></a>
            </span>
            <div class="col-md-12 pop_container_bg text-center">
                <a href="#" id="postjobcancel" class="popup_close_bg" title="Close"></a>
                <p class="popup_box_title_p">
                    <h4></h4>
                </p>

                <br />
                <div class="form-group clearfix">
                    <a href="#" id="btnjobok" class="btn button_all secondary_color_2_bg">OK</a>
                    <a href="#" id="btnjobcancel" class="btn button_all secondary_color_bg">CANCEL </a>
                </div>
                <div class="form-group register_small_already_reg delete_job_link clearfix">

                </div>
            </div>

        </div>*@
    -->
    <div id="confirm_message_pop_id" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">
            <span id="divmsg"></span>
            <a href="#" id="btnclosecoinfirm" class="popup_close_bg" title="Close"></a>
        </span>
        <div class="col-md-12 pop_container_bg text-center">
            <div class="form-group clearfix">
                <h4><label for="" class="input_label_style" id="lblmsg"></label></h4>
                <a href="#" id="btnjobok" class="btn btn_banner secondary_color_bg maxwidth325" title=""></a>
            </div>
            <div class="form-group register_small_already_reg delete_job_link clearfix">
                <p><a id="btnjobcancel" href="#">No, cancel job</a></p>
            </div>
        </div>
    </div>
    <div id="confirm_message_del_pop_id" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">Do you want to delete this job? Once deleted this can’t be undone<a href="#" onClick="closebox('confirm_message_del_pop_id')" class="popup_close_bg" title="Close"></a> </span>
        <div class="col-md-12 pop_container_bg text-center">
            <div class="form-group clearfix">
                <h4><label for="" class="input_label_style">Are you sure you want to delete this job?</label></h4>
                <a href="#" id="btndeleteok" class="btn btn_banner secondary_color_bg maxwidth325" title="Yes delete job">Yes delete job</a>
            </div>
            <div class="form-group register_small_already_reg delete_job_link clearfix">
                <p><a id="btndeletecancel" href="#">No, cancel delete</a></p>
            </div>
        </div>
    </div>

    @*GIG*@
    <div id="creategig_confirm_pop_id" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">Service Status<a href="#" id="btngigconfirmClose" class="popup_close_bg" title="Close"></a> </span>
        <div class="col-md-12 pop_container_bg text-center">
            <div class="form-group clearfix">
                <h4><label for="" class="input_label_style gigMsg"> </label></h4>
                <br />
                <a href="#" id="btngigconfirmYes" class="btn btn_banner secondary_color_bg maxwidth325" title="OK">OK</a>
            </div>
            <div class="form-group register_small_already_reg delete_gig_link clearfix">
                @*<p><a onclick="closebox('postjob_confirm_pop_id')" href="#">Cancel </a></p>*@
            </div>
        </div>
    </div>
    <div id="confirm_gig_pop_id" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">
            <span id="divmsg"></span>
            <a href="#" id="btnclosecoinfirm" class="popup_close_bg" title="Close"></a>
        </span>
        <div class="col-md-12 pop_container_bg text-center">
            <div class="form-group clearfix">
                <h4><label for="" class="input_label_style" id="lblmsg"></label></h4>
                <a href="#" id="btngigok" class="btn btn_banner secondary_color_bg maxwidth325" title=""></a>
            </div>
            <div class="form-group register_small_already_reg delete_gig_link clearfix">
                <p><a id="btngigcancel" href="#">No, cancel service</a></p>
            </div>
        </div>
    </div>
    <div id="confirm_gig_del_pop_id" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">Do you want to delete this service? Once deleted this can’t be undone<a href="#" onClick="closebox('confirm_gig_del_pop_id')" class="popup_close_bg" title="Close"></a> </span>
        <div class="col-md-12 pop_container_bg text-center">
            <div class="form-group clearfix">
                <h4><label for="" class="input_label_style">Are you sure you want to delete this service?</label></h4>
                <a href="#" id="btngigdeleteok" class="btn btn_banner secondary_color_bg maxwidth325" title="Yes delete gig">Yes delete service</a>
            </div>
            <div class="form-group register_small_already_reg delete_gig_link clearfix">
                <p><a id="btngigdeletecancel" href="#">No, cancel delete</a></p>
            </div>
        </div>
    </div>
    @*<div id="confirm_message_del_pop_id" class="popup_box clearfix">
            <span id="" class="col-md-12 popup_box_title clearfix">
                <h3>Do you want to delete this job? Once deleted this can’t be undone</h3><a href="#" onClick="closebox('confirm_message_del_pop_id')" class="popup_close_bg" title="Close"></a>
            </span>
            <div class="col-md-12 pop_container_bg text-center">
                <a href="#" id="deletejobcancel" class="popup_close_bg" title="Close"></a>
                <p class="popup_box_title_p">
                    <h4></h4>
                </p>

                <br />
                <div class="form-group clearfix">
                    <a href="#" id="btndeleteok" class="btn button_all secondary_color_2_bg">OK</a>
                    <a href="#" id="btndeletecancel" class="btn button_all secondary_color_bg">CANCEL </a>
                </div>
                <div class="form-group register_small_already_reg delete_job_link clearfix">

                </div>
            </div>

        </div>*@

    <div id="metamask_pop_id" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">Getting started with MetaMask<a href="#" onclick="closebox('metamask_pop_id')" class="popup_close_bg" title="Close"></a> </span>
        <div class="col-md-12 pop_container_bg text-center">
            <div class="form-group clearfix">
                <label for="" class="input_label_style">To use MatchBX you need to install and run MetaMask. <br /></label>
                @*<label for="" class="input_label_style" style="align-content:center"> 1) Download MetaMask from MetaMask website <br />
                        2) Make sure your MetaMask is linked to your AXPR wallet address when using MatchBX <br />
                        3) Get started on MatchBx
                    </label>*@
                <ol class="metamask_infoul text-left">
                    <li style="">Download MetaMask from MetaMask <a target="_blank" class="blue_color_text" href="https://metamask.io/">website</a></li>
                    <li>Make sure your MetaMask is linked to your AXPR wallet address when using MatchBX</li>
                    <li>Get started on MatchBX</li>
                </ol>
                <a href="https://metamask.io/" target="_blank" onclick="closebox('metamask_pop_id')" class="btn btn_banner secondary_color_bg maxwidth325" title="Set Up MetaMask">Set Up MetaMask</a>
            </div>

        </div>
    </div>

    <div id="metamaskempty" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">Getting started with MetaMask<a href="#" onclick="closebox('metamaskempty')" class="popup_close_bg" title="Close"></a> </span>
        <div class="col-md-12 pop_container_bg text-center">
            <div class="form-group clearfix">
                <label for="" class="input_label_style">
                    &nbsp;&nbsp;Sorry, you do not have enough AXPR tokens in your MetaMask wallet. Please add some more to make the transaction.
                </label>
                <a href="#" onclick="closebox('metamaskempty')" class="btn btn_banner secondary_color_bg maxwidth325" title="Okay">OK</a>
            </div>
        </div>
    </div>

    <div id="ethempty" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">Getting started with MetaMask<a href="#" onclick="closebox('ethempty')" class="popup_close_bg" title="Close"></a> </span>
        <div class="col-md-12 pop_container_bg text-center">
            <div class="form-group clearfix">
                <label for="" class="input_label_style">
                    &nbsp;&nbsp;Sorry, you do not have enough Ether in your MetaMask wallet. Please add some more to make the transaction.
                </label>
                <a href="#" onclick="closebox('ethempty')" class="btn btn_banner secondary_color_bg maxwidth325" title="Okay">OK</a>
            </div>
        </div>
    </div>

    <div id="add_job_gig_pop_id" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">Post Job/Offer Service<a href="#" onClick="closebox('add_job_gig_pop_id')" class="popup_close_bg" title="Close"></a> </span>
        <div class="col-md-12 pop_container_bg text-center">
            <div class="form-group clearfix">
                <label for="" class="input_label_style">What would you like to do?</label>
            </div>
            <div class="form-group clearfix text-center">
                @if (Session["UserType"] != null && Session["UserType"].ToString() != "4")
                {
                    <a href="#" id="jobPostAdd" class="btn button_all secondary_color_bg button_min_w_155">POST A JOB</a>
                    <span>OR</span>
                    <a href="#" id="createGig" class="btn button_all secondary_color_bg button_min_w_155">CREATE A SERVICE</a>
                }
            </div>
            <div class="form-group register_small_already_reg delete_job_link clearfix">
                <!--<p><a href="#">I DONʼT WANT TO LEAVE A REVIEW</a></p>--><br />
            </div>
        </div>
    </div>

    <div id="enable_2FA_auth_pop_id" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">Enable 2FA<a href="#" onClick="closebox('enable_2FA_auth_pop_id')" class="popup_close_bg" title="Close"></a> </span>
        <div class="col-md-12 pop_container_bg text-center">

            <div class="form-group clearfix">
                <label for="" class="input_label_style">Go to Google's Authenticator APP and scan this QRcode</label>
            </div>

            <div class="form-group clearfix"><img src="@ViewBag.qrcode" /></div>

            <div class="form-group clearfix">
                <label for="" class="input_label_style">or copy this code into Google Authenticator</label>
            </div>

            <div class="form-group clearfix">
                <label for="" class="input_label_style"><b>@ViewBag.manualcode</b></label>
            </div>

            <div align="center" class="form-group clearfix">
                <input type="number" class="form-control form_input" id="txtEna_2FA" style="width:200px; text-align:center; font-size:18px; font-weight:bold">
            </div>

            <div class="form-group clearfix text-center">
                @if (Session["UserType"] != null && Session["UserType"].ToString() != "4")
                {
                    <a href="#" id="enable2FA" class="btn button_all secondary_color_bg button_min_w_155">VALIDATE 2FA CODE</a>
                    @*
                        <span>OR</span>
                        <a href="#" id="createGig" class="btn button_all secondary_color_bg button_min_w_155">CREATE A OAUTH2</a>
                    *@
                }
            </div>
            <div class="form-group register_small_already_reg delete_job_link clearfix">
                @*<p><a href="#">I DONʼT WANT TO LEAVE A REVIEW</a></p>-->*@<br />
            </div>
        </div>
    </div>

    <div id="disable_2FA_auth_pop_id" class="popup_box clearfix myshadow">
        <span id="" class="col-md-12 popup_box_title clearfix">Disable 2FA<a href="#" onClick="closebox('disable_2FA_auth_pop_id')" class="popup_close_bg" title="Close"></a> </span>
        <div class="col-md-12 pop_container_bg text-center">
            @*
                <div class="form-group clearfix">
                    <label for="" class="input_label_style">Go to Google's Authenticator APP and scan this QRcode</label>
                </div>

                <div class="form-group clearfix"><img src="@ViewBag.qrcode" /></div>

                <div class="form-group clearfix">
                    <label for="" class="input_label_style">or copy this code into Google Authenticator</label>
                </div>

                <div class="form-group clearfix">
                    <label for="" class="input_label_style"><b>@ViewBag.manualcode</b></label>
                </div>
            *@
            <div align="center" class="form-group clearfix">
                <input type="number" class="form-control form_input" id="txtDis_2FA" style="width:200px; text-align:center; font-size:18px; font-weight:bold">
            </div>
            <div class="form-group clearfix text-center">
                @if (Session["UserType"] != null && Session["UserType"].ToString() != "4")
                {
                    <a href="#" id="disable2FA" class="btn button_all secondary_color_bg button_min_w_155">DISABLE 2FA</a>
                    @*
                        <span>OR</span>
                        <a href="#" id="createGig" class="btn button_all secondary_color_bg button_min_w_155">CREATE A OAUTH2</a>
                    *@
                }
            </div>
            <div class="form-group register_small_already_reg delete_job_link clearfix">
                @*<p><a href="#">I DONʼT WANT TO LEAVE A REVIEW</a></p>-->*@<br />
            </div>
        </div>
    </div>



    <input type="hidden" id="hdnMsg" value="" />

    <!-- // notifications pop -->
    <!-- // lightbox popup section-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @*<script src="@Url.Content("~/Content/js/jquery.js")"></script>*@
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/wow.min.js")"></script>
    <!--<script src="js/lightbox.min.js"></script> -->
    <script src="@Url.Content("~/Content/js/lightbox-form.js")" type="text/javascript"></script>
    <!-- nicescroll -->
    <script src="@Url.Content("~/Content/js/jquery.nicescroll.min.js")"></script>
    <!-- // nicescroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/js/price_range_script.js")" type="text/javascript"></script>*@


    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.css" rel="stylesheet">-->*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" type="text/javascript"></script>-->*@


    <script>



    wow = new WOW({}).init();


    $(document).on('click', 'a[href^="#"].smothscroll', function (event) {
        event.preventDefault();

        $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 700);
    });



    $(document).ready(function () {




        $(document).on('click', '.shadowing_overlay', function() {

            closeboxOutSide();
        });

        var UserSkillsMapping= @Html.Raw(Json.Encode(Session["UserSkillsMapping"]));

        @*if(UserSkillsMapping=="Y")
        {
            var JobId = 0;
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("PostJob", "Jobs")',
                data: { "id": JobId },
                success: function (response) {
                    $("#postjob_view_pop_id").html(response)
                    openbox(1, 'postjob_view_pop_id');
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }*@


    });




    /* // email placeholder*/

    function LoadMessageJobsIP(_from,_prmSendUserId,_prmJobSeeker,_prmBidUserProfilePic){
        var userId=_prmSendUserId;
        var _prmJobID=0;
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("ChatForSendMessage", "Home")',
            data: { "_prmSendUserId": userId, "from": _from,"_prmJobSeeker": _prmJobSeeker ,"_prmBidUserProfilePic": _prmBidUserProfilePic,"_prmJobID":_prmJobID },
            success: function (response) {
                $("#divChat").html(response);
                openbox(1, 'divChat');

            },
            error: function (jqXHR, exception) {

                console.log(jqXHR.status);
                console.log(exception);
            }
        });

    }

    </script>
    <script>
    $(document).ready(function () {

        /*nicescroll */

        $("#topskilles_scroll").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });
        $("#populartag_scroll").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });

        /* // nicescroll */

        var metamask = '<a href="#" onclick="openbox(1, "metamask_pop_id")" class="header_loged_menua header_loged_menua_metamask">'+
                '<span class="header_loged_menua_ispan" > <i class="header_axp_icon"></i></span >'+
                '<span class="header_loged_menua_textspan"><span>set up</span><span>metamask</span></span></a >'
        var mailMessagId ='@Session["mailMessagId"]';

        if(typeof(mailMessagId) !== "undefined" )
        {
            if(mailMessagId>0){
                LoadMessageFromMail(mailMessagId);
            }


        }



    });

    function LoadMessage(_from){


        var userId=@Session["UserId"];
        try
        {

        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("ChatPartial", "Home")',
            data: { "prmUserId": userId, "from": _from },
            beforeSend: function() {
                $("#loaderDiv").show();
            },
            success: function (response) {

                $("#loaderDiv").hide();
                $("#divChat").html(response);
                openbox(1, 'divChat');
            },
            error: function (jqXHR, exception) {
                $("#loaderDiv").hide();
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
        }
    catch(e) {
        //alert("You messed something up!");
    }
    }

    function LoadMessageFromMail(_mailMessagId){
        var userId=_mailMessagId;
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("ChatFromMail", "Home")',
            data: { "_prmSendUserId": userId },
            success: function (response) {

                $("#divChat").html(response);
                openbox(1, 'divChat');

            },
            error: function (jqXHR, exception) {

                console.log(jqXHR.status);
                console.log(exception);
            }
        });

    }

    function SaveTransactionDetail(jobid, userid, transactiontype, processtype, hash, bidamount, address) {
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("SaveTransactionDetail", "Dashboard")',
            data: { 'JobId': jobid, 'UserId': userid, 'TransactionType': transactiontype, 'ProcessType': processtype, 'Hash': hash, 'BidAmount': bidamount, 'Address' : address},
            success: function (response) {

            },
            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }

    function UpdateApprovalTransaction(userid, address) {
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("UpdateApprovalTransaction", "Dashboard")',
            data: { 'UserId': userid, 'Address' : address},
            success: function (response) {

            },
            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }

    $(document).ready(function () {

        /*("#dublepopup").click(function(){
			alert("dfsf");
            $("#Purchase_id").addClass(".hhdh");
            });*/

        /*Messages view slide*/

        //$( ".message_chat_pop_screen_slide" ).hide();
        // $(".message_chat_pop_screen_slide").addClass('message_chat_pop_screen_hide');

        //var popupwidth = $(".popup_box").width()
        //$(".popup_box_message_slide_all").width(popupwidth * 2 + 15);
        //$(".message_and_note_slide").css("maxWidth", popupwidth + "px");
        //$(".message_chat_pop_screen_slide").css("maxWidth", popupwidth + "px");


        //$("#message_list_link").click(function () {
        //    //$( ".message_and_note_slide" ).toggle( "slide" );
        //    $(".message_and_note_slide").css('margin-left', -popupwidth + "px");
        //    $(".message_chat_pop_screen_slide").addClass('message_chat_pop_screen_show');

        //    //$( ".message_chat_pop_screen_slide" ).fadeIn();

        //});


        $("#jobPostEdit").click(function () {
            $("#loaderDiv").show();
            var JobId = @Convert.ToInt32(Session["JobId"]);
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("PostJob", "Jobs")',
                dataType:'html',
                data: { "id": JobId },
                success: function (response) {
                    $("#creategig_view_pop_id").empty();
                    $("#postjob_view_pop_id").html(response);
                    $("#loaderDiv").hide();
                    openbox(1, 'postjob_view_pop_id');
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        });

        $("#servicePostEdit").click(function () {
            $("#loaderDiv").show();
            var GigId = @Convert.ToInt32(Session["GigId"]);
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("CreateGig", "Gigs")',
                dataType:'html',
                data: { "id": GigId },
                success: function (response) {
                    $("#postjob_view_pop_id").empty();
                    $("#creategig_view_pop_id").html(response);
                    $("#loaderDiv").hide();
                    openbox(1, 'creategig_view_pop_id');
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        });

        $("#enable_2FA_auth_pop_id").on('click', '#enable2FA', function () {
            Validate2FA($("#txtEna_2FA").val(), false);
        });
        $("#disable_2FA_auth_pop_id").on('click', '#disable2FA', function () {
            Validate2FA($("#txtDis_2FA").val(), true);
        });
        function Validate2FA(code, disable)
        {
            $.ajax({
                @*
                type: "POST",
                url: '@Url.Action("VerifyAuth", "Profile")',
                data: JSON.stringify({
                    "code": code
                }),
                cache: false,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    $("#loaderDiv").hide();
                    var parsed = JSON.parse(res.d);

                    console.log(parsed);

                },
                error: function (jqXHR, exception) {
                    $("#loaderDiv").hide();

                    console.log(jqXHR);

                    console.log(jqXHR.status);
                    console.log(exception);
                }
                *@
                type: 'POST',
                cache: false,
                url: '@Url.Action("VerifyAuth", "Profile")',
                data: { "code": code },
                beforeSend: function() {
                    $("#loaderDiv").show();
                },
                success: function (bool) {
                    $("#loaderDiv").hide();
                    debugger;

                    console.log(bool);

                    if (bool == 'True') {
                        console.log('SUCCESS!');

                        if (disable == true) {
                            closebox('disable_2FA_auth_pop_id');
                            JSalert("Warning:", "Your account is NOT protected with 2FA...", "warning");

                        } else {
                            closebox('enable_2FA_auth_pop_id');
                            JSalert("Congratulations!", "Your account is now protected with 2FA!", "success");
                            @* Url.Action("Index", "Profile") *@
                        }
                        //document.location.reload();
                    }
                    else
                    {
                        console.log('2FA validation code failed');
                        if (disable) {
                            $("#txtDis_2FA").val('');
                            $("#txtDis_2FA").focus();
                        } else {
                            $("#txtEna_2FA").val('');
                            $("#txtEna_2FA").focus();
                        }
                    }
                    /*
                    $("#creategig_view_pop_id").empty();
                    $("#postjob_view_pop_id").html(response)
                    openbox(1, 'postjob_view_pop_id');
                    */
                },
                error: function (jqXHR, exception) {
                    $("#loaderDiv").hide();
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }

        function JSalert(title, label, result) {
            swal(title, label, result
                //, function () {
                //document.location.reload();
                //}
            );
            document.location.reload();
        }

        //$("#jobPostAdd").click(function () {
        //    CreateJob();
        //});
        $("#add_job_gig_pop_id").on('click','#jobPostAdd',function(){
            closebox('add_job_gig_pop_id');
            CreateJob();
        });
        $("#divJobPoster").on('click','#jobPostAdd',function(){
            CreateJob();

        });
        function CreateJob()
        {
            var JobId = 0;
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("PostJob", "Jobs")',
                dataType:'html',
                data: { "id": JobId },
                beforeSend: function() {
                    $("#loaderDiv").show();
                },
                success: function (response) {

                    $("#loaderDiv").hide();
                    $("#creategig_view_pop_id").empty();
                    $("#postjob_view_pop_id").html(response)
                    openbox(1, 'postjob_view_pop_id');
                },
                error: function (jqXHR, exception) {
                    $("#loaderDiv").hide();
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }

        $("#divJobPoster").on('click','#createGig',function(){

            CreateGig();
        })
        //$("#createGig").click(function () {
        //    CreateGig();
        //});
        $("#add_job_gig_pop_id").on('click','#createGig',function(){
            closebox('add_job_gig_pop_id');
            CreateGig();;
        });
        function CreateGig()
        {
            debugger;
            var GigId = 0;
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("CreateGig", "Gigs")',
                dataType:'html',
                data: { "id": GigId },
                beforeSend: function() {
                    $("#loaderDiv").show();
                },
                success: function (response) {

                    $("#loaderDiv").hide();
                    $("#postjob_view_pop_id").empty();
                    $("#creategig_view_pop_id").html(response)
                    openbox(1, 'creategig_view_pop_id');
                },
                error: function (jqXHR, exception) {
                    $("#loaderDiv").hide();
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }

        @*$("#jobPostEdit").click(function () {

            var JobId = @Convert.ToInt32(Session["JobId"]);
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("PostJob", "Jobs")',
                data: { "id": JobId },
                success: function (response) {
                    $("#postjob_view_pop_id").html(response)
                    openbox(1, 'postjob_view_pop_id');
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        });*@

        @*$("#jobPostAdd").click(function () {

            var JobId = 0;
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("PostJob", "Jobs")',
                data: { "id": JobId },
                success: function (response) {
                    $("#postjob_view_pop_id").html(response)
                    openbox(1, 'postjob_view_pop_id');
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);

                }
            });
        });*@





    });





    /*Header menu Responsive*/


    $(function () {
        $(window).resize(function () {
            $("#ulcategory").append($("#ulcategory li.hideshow ul").html());
            $("#ulcategory li.hideshow").remove();
            if ($(window).width() >= 751 && $(window).width() <= 1199.98) {
                console.log($(window).width());
                alignMenu();
            }
        });


    });
    function alignMenu() {
        var w = 0;
        var mw = $("#ulcategory").width() - 50;
        var i = -1;
        var menuhtml = '';
        jQuery.each($("#ulcategory").children(), function () {
            i++;
            w += $(this).outerWidth(true);
            if (mw < w) {
                menuhtml += $('<div>').append($(this).clone()).html();
                $(this).remove();
            }
        });
        $("#ulcategory").append(
                '<li  style="position:relative;" href="#" class="hideshow">'
                        + '<a href="#">More '
                        + '<i class="fa fa-angle-down" aria-hidden="true"></i>'
                        + '</a><ul>' + menuhtml + '</ul></li>');
        $("#ulcategory li.hideshow ul").css("top",
                $("#ulcategory li.hideshow").outerHeight(true) + "px");
        setTimeout(function(){
            $("#ulcategory").css("opacity","1");

        }, 400);
        $("#ulcategory li.hideshow").click(function () {
            $(this).children("ul").toggle();
        });
    }

    $(document).ready(function () {
        if ($(window).width() >= 767.98 && $(window).width() <= 1199.98) {
            alignMenu();
        }
    })

    $(document).click(function (event) {
        if (!$(event.target).closest('.hideshow').length) {
            if ($('.hideshow ul').is(":visible")) {
                $('.hideshow ul').hide();
            }
        }
    });
    //$(window).resize(onResize_menu);

    /* // Header menu Responsive*/
    $(".medLink").click(function mediumurl() {

        window.open("https://medium.com/@@aXpire/");

    })
    </script>
    <!-----Notification start-->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

    $(function () {
        var chat = $.connection.chatHub;
        var notification = $.connection.notificationHub;
        //   var _hubid=  $.connection.hub.id;


        debugger;
        chat.client.addNewMessageToPage = function ( message, receiverUserId, sendUserId,type,OnlineStatus,roomId,Messagetype,filesize,filename,profilePic) {

            debugger;
            var _ReceiverId =@Session["UserId"];
            var _hdnRoomId=$("#hdnRoomId").val();
            const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            if(_hdnRoomId==roomId){
                if(receiverUserId==_ReceiverId ||  sendUserId==_ReceiverId){
                    if(type=="Chat"){


                        var d = new Date();
                        // var _ReceiverId = 10;
                        var month = d.getMonth();
                        var day = d.getDate();
                        var mint="0";
                        if(d.getMinutes()<10){
                            mint="0"+d.getMinutes();
                        }
                        else{
                            mint=d.getMinutes();
                        }

                        var time = d.getHours() + ":" +mint  + ":" + d.getSeconds();

                        var CurrentDatetime=day+' '+monthNames[month]+' '+ d.getFullYear()+' '+time;
                        var _ReceiverId =@Session["UserId"];

                        if(Messagetype == "J" || Messagetype == "AJ") {
                            PrintMessage(sendUserId, htmlEncode(message), CurrentDatetime, receiverUserId,true,Messagetype,filesize,filename,profilePic);
                            //if(sendUserId==receiverUserId){
                            //    $(".header_message_icon").addClass('notify_indication');
                            //}
                        } else {
                            PrintMessage(sendUserId, htmlEncode(message), CurrentDatetime, _ReceiverId,true,Messagetype,filesize,filename,profilePic);
                            //if(sendUserId==_ReceiverId){
                            //    $(".header_message_icon").addClass('notify_indication');
                            //}
                        }
                        //PrintMessage(sendUserId, htmlEncode(message), CurrentDatetime, _ReceiverId,true,Messagetype,filesize,filename,profilePic);
                        // LoadAllMessageForUser()
                        $('#divChat_Message_FromUser').scrollTop($('#divChat_Message_FromUser').get(0).scrollHeight);
                        $("#spanUserStatus").html(OnlineStatus);
                        //debugger;
                        if(receiverUserId==_ReceiverId){
                            // alert('dd');
                            $(".header_message_icon").addClass('notify_indication');
                        }
                    }
                    else if (type=="Status" &&  receiverUserId==_ReceiverId){

                        $("#spanUserStatus").html("typing...");

                    }
                    else if(type=="Online" &&  receiverUserId==_ReceiverId){

                        $("#spanUserStatus").html(OnlineStatus);


                    }


                }
            }

        };

        notification.client.addNewMessageToPage = function ( message, receiverUserId, sendUserId,type,OnlineStatus,roomId) {

            var _ReceiverId =@Session["UserId"];
            var _hdnRoomId=$("#hdnRoomId").val();

            if(receiverUserId==_ReceiverId){
                if(type=="Notification"){

                    var d = new Date();
                    // var _ReceiverId = 10;
                    var month = d.getMonth()+1;
                    var day = d.getDate();
                    var mint="0";
                    if(d.getMinutes()<10){
                        mint="0"+d.getMinutes();
                    }
                    else{
                        mint=d.getMinutes();
                    }

                    var time = d.getHours() + ":" +mint  + ":" + d.getSeconds();
                    var CurrentDatetime = d.getFullYear() + '/' +
                        (month<10 ? '0' : '') + month + '/' +
                        (day < 10 ? '0' : '') + day + ' ' + time;
                    var _ReceiverId =@Session["UserId"];
                    $(".header_notification_icon").addClass('notify_indication');

                    LoadAllNotificationForUser();
                }
            }

        };
        function LoadAllNotificationForUser() {
            var divHtml = '<div class="col-md-12 notification_pop_box_bg unread_file clearfix">'+
                            '<div class="noti_pop_pro_name_and_text_out clearfix">'+
                            '<div class="noti_pop_pro_name_and_text"><span class="noti_pop_time"></span>'+
                            '<h4>not-head</h4><a id="not-link" class="msg" href="#">not-msg</a>'+
                            '<p>not-time</p>'+
                            '</div></div></div>'
            var divHtmlunread = '<div class="col-md-12 notification_pop_box_bg clearfix">'+
                            '<div class="noti_pop_pro_name_and_text_out clearfix">'+
                            '<div class="noti_pop_pro_name_and_text"><span class="noti_pop_time"></span>'+
                            '<h4>not-head</h4><a id="not-link" class="msg" href="#">not-msg</a>'+
                            '<p>not-time</p>'+
                            '</div></div></div>'
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("GetNotification", "Home")',
                data: "{ }",
                success: function (response) {

                    var data = response;
                    notificationList = data;
                    $("#notification_tab_con").empty();
                    $('#notifCount').html('(' + data[1].Value + ')');
                    if(data[0].Value.length != 0 )
                    {
                        $.each(data[0].Value, function (key, value) {
                            if(data[0].Value[key].ReadStatus == 0)
                            {
                                var notify = divHtmlunread.replace('not-head', data[0].Value[key].Header).replace('not-msg', data[0].Value[key].Notification).replace('not-time', data[0].Value[key].CreatedTimeDisplay).replace('not-link', data[0].Value[key].Url);
                                $("#notification_tab_con").append(notify);

                            }
                            else
                            {
                                var notify = divHtml.replace('not-head', data[0].Value[key].Header).replace('not-msg', data[0].Value[key].Notification).replace('not-time', data[0].Value[key].CreatedTimeDisplay).replace('not-link', data[0].Value[key].Url);
                                $("#notification_tab_con").append(notify);}
                        });}
                    else
                    {
                        $("#notification_tab_con").append("<div class='nojob_diplytable'><div class='col-md-12 category_nojob_bg clearfix'><h3>You have not received any notification yet</h3></div></div>")
                    }

                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }


        $.connection.hub.start().done(function () {
            $('#btnConfirm').click(function () {
                var _hubidSend=  $.connection.hub.id;
                makeoffer();
                //notification.server.send(_sendUserId, _receiverUserId, _fullname, _notification, _header);
            });

            $('#btnConfirmGig').click(function () {
                var _hubidSend=  $.connection.hub.id;

                MakeSubscription();

                notification.server.send(_sendUserId, _receiverUserId, _fullname, _notification, _header);
            });

            $('#metamask').click(function () {

                if($('#metamask').hasClass("header_loged_menua_metamask"))
                {
                    debugger;
                    var check = localStorage.getItem("Metamask");
                    if(check == "S")
                    {
                        var _sendUserId = @Session["UserId"];
                        var _receiverUserId = @Session["UserId"];
                        var _fullname = "@@" + "@Session["UserName"]";
                        var _header = "Set Up MetaMask";
                        var _notification = "Please make sure your metamask is linked to your AXPR wallet address when using MatchBX";
                        notification.server.send(_sendUserId, _receiverUserId, _fullname, _notification, _header,'');
                        openbox(1, "metamask_pop_id");
                    }
                    else if (check == "A")
                    {

                        var userid = @Session["UserId"];
                        var Hash = localStorage.getItem("Address");

                        function callback(addr) {
                            if (addr == 'error' || addr == '') {
                                openbox(1, 'metamask_comfirmation_id');
                            } else {

                                function balCallBack(res) {
                                    if (res == 'empty') {
                                        openbox(1, "metamaskempty");
                                    } else if (res == 'ethempty') {
                                        openbox(1, "ethempty");
                                    } else if (res == 'isbalance') {
                                        function callback(result) {
                                            if (result == 'cancelled') {
                                                UpdateApprovalTransaction(userid, Hash);
                                                $('#metamask').addClass('header_loged_menua_metamask');
                                                $('.balance').html('<span>Authorize</span><span>MetaMask</span>');
                                                localStorage.setItem("Metamask", "A");
                                            }
                                            else {

                                            }
                                        }
                                        $('#metamask').addClass('header_loged_menua_metamask');
                                        $('.balance').html('<span>Authorisation </span><span>pending</span>');
                                        $('#metamask').attr('onclick', '');
                                        localStorage.setItem("Metamask", "P");
                                        SaveTransactionDetail(0, userid, 'A', 'A', '', 0, Hash);
                                        App.handleApprove(callback);
                                    } else if (res == 'isApproved') {
                                        $('#metamask').addClass('header_loged_menua_metamask');
                                        $('.balance').html('<span>Reset</span><span>Wallet</span>');
                                        App.resetApproveBalance(function (result) {
                                            console.log(result);
                                        });
                                    }
                                }


                                App.checkBalance(balCallBack);

                            }
                        }

                        App.getUserAddress(callback);

                    }
                    else
                    {

                    }
                }
                else
                {

                }
            });

            //function SetHubId(){
            //    alert('ddddd');
            //}

            //$('#btnLogin').click(function () {

            //    var _hubidSend=  $.connection.hub.id;

            //    alert('fff'+_hubidSend);
            //  //  chat.server.send(_senduserId, _receiverId, _hubidSend);

            //});
            @*$("#message").keypress(function(){
                var _senduserId=@Session["UserId"];
                var _receiverId=$("#hdnSendUserId").val();
                var _name=$("#hdnSendUserName").val();
                chat.server.send(_senduserId, _receiverId, _name);
            })
            $("#message").keydown(function(){
                $("#spanUserStatus").html("Online");
            })*@

        });

    });
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }
    </script>
    <script src="@Url.Content("~/Content/js/typed.js")"></script>
    <script>
        (function () {
            debugger

            //var el = document.querySelector('.site-navigation');
            //function addClassToHeader() {
            //    if (window.scrollY > 100 && !el.classList.contains('--scrolling')) {
            //        el.classList.add('--scrolling');
            //    } else if (window.scrollY < 100) {
            //        el.classList.remove('--scrolling');
            //    }
            //}
            //window.addEventListener('scroll', addClassToHeader)
            if ($('.tlt').length) {
                var typed = new Typed('.tlt', {
                    strings:
                        [
                            "Hire freelancers, pay in cryptocurrency"
                        ],
                    typeSpeed: 15,
                    smartBackspace: true,
                    backSpeed: 15,
                    loop: true,
                    backDelay: 1800,
                    startDelay: 500,
                    loop: false
                });
            }

        })()</script>
    <!---Notification end-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5c6a521b77e0730ce0436bb9/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.css" rel="stylesheet">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" type="text/javascript"></script>

    @*
    <script defer src="~/javascript/scripts.js"></script>
    <script defer src="~/javascript/custom.js"></script>
    *@

</body>

</html>
