@{
    Layout = null;
    var html = ""; var h = "";
}

@if (Model.SubPending != null)
{
    <div id="gigs_id_dash" class="tab-pane fade clearfix active in">
        <div class="col-md-12 dash_tab_con_heading_bg padd_left_right_o">
            <h3 class="dash_tab_con_heading_h3">GIGs Subscription Pending <span id="spancount">(@TempData.Peek("SubPending"))</span></h3>
        </div>
        <div id="divgigs">
            @foreach (var item in Model.SubPending)
            {

                <div class="col-md-12 dash_jobs_box_1_bg bg_color_comen clearfix">
                    <div class="dash_jobs_box_1_inner">
                        <a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = item.GigSubscriptionId })">
                            <h3>@item.GigTitle</h3>
                        </a>
                        <div class="timeframe_budget_small clearfix">
                            <div class="timeframe_only"><span>Duration:</span>&nbsp;<span>@item.GigDuration Days</span></div>
                            <div class="budget_only"><span>Cost: </span>&nbsp;<span>@String.Concat(@item.BudgetASPInt.ToString("#,##0"), " AXPR ", "($", @item.DollarCount.ToString("N2"), ")")</span></div>
                            <div class="axp_star_only">
                                <ul>
                                    @if (item.BadgeCount == 1)
                                    {
                                        <li><i></i></li>
                                    }
                                    else if (item.BadgeCount == 2)
                                    {
                                        <li><i></i></li>
                                        <li><i></i></li>
                                    }
                                    else if (item.BadgeCount == 3)
                                    {
                                        <li><i></i></li>
                                        <li><i></i></li>
                                        <li><i></i></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="home_client_discription_small clearfix">
                            @*<p>@item.Description</p>*@
                            <div class="readmoretext more">
                                @if (item.Description.Length > 100)
                                {
                                    html = item.Description.Substring(0, 100);
                                    h = item.Description.Substring(100 - 1, item.Description.Length - 100);
                                }
                                else
                                {
                                    html = item.Description;
                                }

                                @html
                                @if (item.Description.Length > 100)
                                {
                                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span>@h</span>&nbsp;&nbsp;<a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = 0 })" class="morelink">Read More</a></span>
                                }
                            </div>
                        </div>
                        @*<div class="client_profile_imgname_bg clearfix">
                                <div class="client_profile_pic">
                                    <div class="client_profile_pic_1">
                                        <img src="@Url.Content("~/"+@item.PosterProfilePic.ToString().Replace("..",""))" alt="" />
                                    </div>
                                    <i class="profile_pic_star"></i>
                                </div>
                                <a href="@Url.Action("Index", "Profile",new { @id=item.JobPosterId })">
                                    <div class="client_profile_name">
                                        <h4>@item.PosterFullName</h4>
                                        <span>@item.JobsCompleted jobs completed</span>
                                    </div>
                                </a>
                            </div>*@
                    </div>
                    <div class="border_buttom_only"></div>
                    <div class="dash_timeremaining_box_bg clearfix">
                        <div class="pull-right dash_time_allmenus">
                            <a href="#" class="dash_time_right_menu" id="cancelSub">Cancel Subscription</a>
                            <a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = item.GigSubscriptionId })" class="dash_time_right_menu" id="editSub" >Edit Subscription</a>
                        </div>
                    </div>
                    <div class="pull-left">
                        <input type="hidden" id="hfGigTitle_@item.GigTitle" value="@item.GigTitle" />
                        <input type="hidden" id="hfGigId_@item.GigId" value="@item.GigId" />
                        <input type="hidden" id="hfGigSubId_@item.GigSubscriptionId" value="@item.GigSubscriptionId" />
                    </div>
                </div>
            }
            @if (Model.SubPending != null && Model.SubPending.Count == 0)
            {
                <div class="nojob_diplytable" id="divmsg">
                    <div class="col-md-12 category_nojob_bg clearfix">
                        <h3>You don't have any GIG subscriptions pending</h3>
                        <a href="@Url.Action("Search","Gigs")" class="btn button_all secondary_color_bg">HIRE FREELANCER</a>
                    </div>
                </div>
            }
        </div>
        @if (Model.SubPending != null && Model.SubPending.Count > 0 && Model.SubPending[0].Isloadmore == 1)
        {
            <div class="col-md-12 category_loadmore_bg clearfix" id="divloadmore">
                <a href="javascript:" class="btn button_all secondary_color_bg" id="btnloadmore">Load more</a>
            </div>
        }

    </div>
}



<script type="text/javascript">
    $(document).ready(function () {
        var _Id, _SubId;
        var _count = $("#spancount").text();
        $("#gigsubpending span").text(_count);

        $("#gigs_id_dash").on("click", "#btnloadmore", function () {
            var _Id = $('#gigs_id_dash div.pull-left').last().find('input[id^="hfGigSubId_"]').val();
            LoadMore(_Id);
        });

        $("#gigs_id_dash").on("click", "#cancelSub", function () {
            _Id = $('#gigs_id_dash div.pull-left').last().find('input[id^="hfGigId_"]').val();
            _SubId = $('#gigs_id_dash div.pull-left').last().find('input[id^="hfGigSubId_"]').val();
            openbox(1, 'gigSubscriptionCancel_pop');
        });

        $("#gigCancelSubOk").click(function () {
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("CancelSubscription", "Dashboard")',
                data: { 'gigId': _Id, 'subId': _SubId },
                success: function (response) {
                    closebox('gigSubscriptionCancel_pop');
                    window.location.reload();
                    openbox(1, 'gigSubscriptionCancelSuccess');
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        });

        function LoadMore(id) {
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("LoadMoreGigs", "Dashboard")',
                data: { 'type': 'subpen', 'id': id },
                success: function (response) {
                    $("#divloadmore").remove();
                    $('#gigs_id_dash').append(response);
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }
    })
</script>
