@model Business.MatchBXMessage
@{
    ViewBag.Title = "Chat";
    var from = ViewBag.From;
}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="@Url.Content("~/Content/js/jquery.nicescroll.min.js")"></script>
    <script src="@Url.Content("~/Content/js/lightbox-form.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet">*@
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/Content/js/jquery.nicescroll.min.js")"></script>

<script src="@Url.Content("~/Content/js/ChatBlockingScript.js")"></script>
<script>
    $(document).ready(function () {
        var notificationList = new Object();
        // LoadAllChatFromUser();
        $("#divChat_Message_FromUser").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });
        $("#message_tab_con").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });
        $("#notification_tab_con").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });
        var popupwidth = $(".popup_box").width()
        $(".popup_box_message_slide_all").width(popupwidth * 2 + 15);
        $(".message_and_note_slide").css( "maxWidth", popupwidth + "px" );
        $(".message_chat_pop_screen_slide").css( "maxWidth", popupwidth + "px" );
        var MatchBXMessage= @Html.Raw(Json.Encode(@Model));
        if(MatchBXMessage!=null && MatchBXMessage.SendUserId!=null)
        {
            SlideMenu(MatchBXMessage.SendUserId,MatchBXMessage.JobSeeker,MatchBXMessage.BidUserProfilePic,0);
            $("#message_chat_back_buttonid").hide();
        }
        else{
            LoadAllMessageForUser();
            LoadAllNotificationForUser();
            $("#notification_tab_con").empty();
            $("#notification_tab").click(function() {
                var count = $('#notifCount').text();
                if(count != '(0)') {
                    setNotificationReadStatus();
                }
            });
        }

        $("#divLandingMessage").empty();
        $("#divChat_Message_FromUser").empty();
        var tempval = @Html.Raw(Json.Encode(TempData["FromMsg"]));
        if( tempval=='message')
        {
            $("#liMsg").addClass('active');
            $("#liNot").removeClass('active');
            $("#message_tab_con").addClass('fade in active');
            $("#notification_tab_con").removeClass('fade in active');
        }
        else
        {
            $("#liMsg").removeClass('active');
            $("#liNot").addClass('active');
            $("#message_tab_con").removeClass('fade in active');
            $("#notification_tab_con").addClass('fade in active');
            setNotificationReadStatus();
        }

        $("#message_chat_back_buttonid").click(function () {
            $(".message_and_note_slide").css('margin-left', 0 + "px");
            $(".message_chat_pop_screen_slide").removeClass('message_chat_pop_screen_show');
            $("#divLandingMessage a").show();
            $("#divLandingMessage").empty();
            LoadAllMessageForUser();
        });
    });

    function myFunction() {
        $("#divChat_Message_FromUser").getNiceScroll().hide();
        setTimeout(function(){
            $("#divChat_Message_FromUser").getNiceScroll().resize();
            $("#divChat_Message_FromUser").getNiceScroll().show();
        }, 1000);

        setTimeout(function(){ $("#message_tab_con").getNiceScroll().resize();
            $("#ascrail2001").css({ opacity: 1 });
        }, 1000);
    }


    function SlideMenu(_SendUserId,_SendUserName,_profilepic,_hubId) {
        //alert("chat2");
        $("#message_tab_con").niceScroll({ cursoropacitymin: 0, cursoropacitymax: 0, autohidemode: true});
        //$(".nicescroll-rails.nicescroll-rails-vr").css({ opacity: 0 });
        $("#divChat_Message_FromUser").empty();
        var popupwidth = $(".popup_box").width();
        $(".popup_box_message_slide_all").width(popupwidth * 2 + 15);
        $(".message_and_note_slide").css("maxWidth", popupwidth + "px");
        $(".message_chat_pop_screen_slide").css("maxWidth", popupwidth + "px");
        $(".message_and_note_slide").css('margin-left', -popupwidth + "px");
        $(".message_chat_pop_screen_slide").addClass('message_chat_pop_screen_show');
        $("#divLandingMessage a").hide();
        // $("#message_tab_con").getNiceScroll().hide();
        //    $("#message_tab_con").getNiceScroll().resize();
        //$("#message_tab_con").getNiceScroll().resize();
        //$('#divChat_Message_FromUser').scrollTop($('#divChat_Message_FromUser').get(0).scrollHeight);
        //$("#divChat_Message_FromUser").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });
        // $("#divChat_Message_FromUser").getNiceScroll().resize();
        // $("#divChat_Message_FromUser .maessage_chat_pop_view_con_box").hide();
        // myFunction();
        //function myFunction() {
        //    setTimeout(function(){ $("#divChat_Message_FromUser").getNiceScroll().resize();
        //    }, 1000);
        //}
        LoadAllChatFromUser(_SendUserId);
        $("#spanName").html(_SendUserName);
        $("#hdnSendUserName").val(_SendUserName);
        $('#imgChatHeader').attr("src",_profilepic);
        $("#hdnHubIdChat").val(_hubId);
        //$("#message_tab_con").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });
    }

    function PrintMessage(_SendUserId, Message, CreatedDateTime, _ReceiverId,_liveChat,_type,_filesize,_filename) {
        var elem = "";
        if (_SendUserId != _ReceiverId ) {
            elem = '<div class="maessage_chat_pop_view_con_box chat_me clearfixx"> ';
            elem = elem + '<div class="maessage_chat_pop_view_pro_name_and_text_out clearfix">';
            elem = elem + '<div class="maessage_chat_pop_view_pro_name_and_text">';
            elem = elem + ' <div class="pop_chat_text_bg">';
            if(_type == "M")
            {
                elem = elem + ' <p>';
                elem = elem + " " + Message;
                elem = elem + ' </p>';
            }
            else
            {
                //elem = elem + '@@Html.ActionLink("","DownloadFile","Dashboard", new { FileName = "'+_filename+'"})';
                elem = elem + '<div class="attachment_chat_conbg">';
                //elem = elem + '<a href="Dashboard/DownloadFile/FileName="'+_filename id ='+ _filename +' class="msg">'+ Message;
                elem = elem + '<a href="/Dashboard/DownloadFile?FileName=' + _filename + '" id ='+ _filename +' class="msg1">'+ Message;
                elem = elem + '<span class="filesize_sp">'+_filesize+ 'kb</span>';
                elem = elem + '</a>';
                elem = elem + '</div>';
            }
            elem = elem + ' </div></div> <span class="maessage_chat_pop_view_time">' + CreatedDateTime + '</span></div></div>';
        }
        else {
            $('#msg_err').css("display", "none");
            elem = '<div class="maessage_chat_pop_view_con_box chat_you clearfix"> ';
            elem = elem + '<div class="maessage_chat_pop_view_pro_name_and_text_out clearfix">';
            elem = elem + '<div class="maessage_chat_pop_view_profile_pic">';
            elem = elem + ' <div class="maessage_chat_pop_view_profile_pic_1">';
            elem = elem + '<img sr="~/Content/images/user.png" alt="">';
            elem = elem + '</div> </div>';
            elem = elem + '<div class="maessage_chat_pop_view_pro_name_and_text">';
            elem = elem + '<div class="pop_chat_text_bg">';
            if(_type == "M")
            {
                elem = elem + ' <p>';
                elem = elem + " " + Message;
                elem = elem + ' </p>';
            }
            else
            {
                @*elem = elem + '@Html.ActionLink("","DownloadFile","Dashboard", new { FileName = "'+_filename+'"})';*@
                elem = elem + '<div class="attachment_chat_conbg">';
                //elem = elem + '<a href="#">'+ Message;
                elem = elem + '<a href="/Dashboard/DownloadFile?FileName=' + _filename + '" id ='+ _filename +' class="msg1">'+ Message;
                elem = elem + '<span class="filesize_sp">'+_filesize+ 'kb</span>';
                elem = elem + '</a>';
                elem = elem + '</div>';
            }
            elem = elem + ' </div></div> <span class="maessage_chat_pop_view_time">' + CreatedDateTime + '</span></div></div>';
        }
        // elem="";
        $("#divChat_Message_FromUser").append(elem);
    }

    function PrintLandingMessage(_SendUserName, Message, CreatedDateTime, _ReceiverId, _profilepic,_SendUserId,_hubId,readStatus) {
        var elem = "";
        if(readStatus == 0)
        {
            elem = '<a href="#"  onclick="SlideMenu('+_SendUserId+','+"'"+_SendUserName+"','"+_profilepic+"','"+_hubId+"'"+');" id="message_list_link" class="col-md-12 maessage_pop_box_bg clearfix">';
        }
        else
        {
            elem = '<a href="#"  onclick="SlideMenu('+_SendUserId+','+"'"+_SendUserName+"','"+_profilepic+"','"+_hubId+"'"+');" id="message_list_link" class="col-md-12 maessage_pop_box_bg unread_file clearfix">';
        }
        elem = elem + '<span class="maessage_pop_pro_name_and_text_out clearfix">';
        elem = elem + ' <span class="maessage_pop_profile_pic">';
        elem = elem + ' <span class="maessage_pop_profile_pic_1">';
        elem = elem + ' <img src='+_profilepic+' alt="">';
        elem = elem + '</span>  </span>';
        elem = elem + ' <span class="maessage_pop_pro_name_and_text">';
        elem = elem + ' <span class="maessage_pop_time">' + CreatedDateTime + '</span>';
        elem = elem + '<h4>' + _SendUserName + '</h4>';
        elem=elem+'<p>'+Message+'</p> </span></span></a>';
        $("#divLandingMessage").append(elem);
    }

    // load  private chat
    function LoadAllChatFromUser(_SendUserId) {
        $("body").getNiceScroll().hide();
        $("#ascrail2001").css({ opacity: 0 });
        $("#hdnSendUserId").val(_SendUserId);
        var _ReceiverId = @Session["UserId"];
        var _SendUserId = _SendUserId;
        if(_ReceiverId==null)
        {
            _ReceiverId=0;
        }
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("LoadAllChat", "Home")',
            data: { "prmReceiverId": _ReceiverId, "prmSendUserId": _SendUserId },
            success: function (data) {
                if (data != null) {
                    $.each(data, function (key, value) {
                        var SendUserId = data[key].SendUserId;
                        var Message=data[key].Message;
                        var CreatedDateTime=data[key].CreatedDateTime;
                        var IsOnline=data[key].IsOnline;
                        var RoomId=data[key].RoomId;
                        var type = data[key].MessageType;
                        var filesize = data[key].FileSize;
                        var filename = data[key].FileName;
                        PrintMessage(SendUserId, Message, CreatedDateTime, _ReceiverId, false,type,filesize,filename);
                        $("#spanUserStatus").html(data[key].IsOnline);
                        $("#hdnRoomId").val(RoomId);
                    });
                    removeMsgDot();
                    myFunction();
                    $('#divChat_Message_FromUser').scrollTop($('#divChat_Message_FromUser').get(0).scrollHeight);
                    //$("#divChat_Message_FromUser").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });
                }
            },
            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }
    // end load privat chat

    function removeMsgDot() {
        var _ReceiverId = @Session["UserId"];
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("CheckAllMsgRead", "Home")',
            data: { "prmReceiverId": _ReceiverId },
            success: function (data) {
                debugger;
                if (data != null) {
                    if(data == 0){
                        $(".header_message_icon").removeClass('notify_indication');
                    }
                }
            },
            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }

    // load Message landing page
    function LoadAllMessageForUser() {
        $("body").getNiceScroll().hide();
        $("#ascrail2001").css({ opacity: 0 });
        var _ReceiverId =@Session["UserId"];
        var _msgCount=0;
        var _msgCountDisp=0;
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("LoadChatLandingDetails", "Home")',
            data: { "prmReceiverId": _ReceiverId },
            success: function (data) {
                if (data != null) {
                    $.each(data, function (key, value) {
                        debugger
                        var SendUserId = data[key].SendUserId;
                        var Message = data[key].Message;
                        var CreatedDateTime = data[key].CreatedDateTime;
                        var _profilepic = data[key].ProfilePic;
                        var _hubId=data[key].HubId;
                        _msgCountDisp=data[key].UnreadCount;
                        var readStatus = data[key].ReadStatus;
                        PrintLandingMessage(data[key].SendUserName, Message, CreatedDateTime, _ReceiverId,  _profilepic,SendUserId,_hubId,readStatus);
                        _msgCount=_msgCount+1;
                    });
                    //$("#message_tab_con").niceScroll({ cursorborder: "", cursorcolor: "#ced1d7", cursoropacitymax: 1, boxzoom: false, autohidemode: false });
                }
                $("#spanMsgCount").html('('+_msgCountDisp+')');
                if(_msgCountDisp==0){
                    $(".header_message_icon").removeClass('notify_indication');
                }
                else
                {
                    $(".header_message_icon").addClass('notify_indication');
                }
                if(_msgCount == 0)
                {
                    $("#divLandingMessage").append("<div class='nojob_diplytable'><div class='col-md-12 category_nojob_bg clearfix'><h3>You have not received any messages yet</h3></div></div>")
                }
                myFunction()
            },
            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }

    $("div").on('click','a.msg',function(){
        var $buttonClicked = $(this);
        var Header = $(this).siblings("h4").text();
        if(Header == 'Job submitted' || Header == 'Job updated')
        {
            @*$.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("JobsListedWithoutExchangeRate", "Dashboard")',
                data: "{ }",
                success: function (response) {
                    var htm = response;
                    $("#divcontent").html(response)
                },
                error: function (jqXHR, exception) {

                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });*@
            //window.location.href="/Dashboard/Index";
        }
        else
        {
            var Url = $(this).prop("id");
            window.location.href=Url;
        }
    })

    $('#notification_tab').on('click', function() {
        $(".header_notification_icon").removeClass('notify_indication');
        setNotificationReadStatus();
    })

    function LoadAllNotificationForUser() {
        var divHtml = '<div class="col-md-12 notification_pop_box_bg unread_file clearfix">'+
                       '<div class="noti_pop_pro_name_and_text_out clearfix">'+
                       '<div class="noti_pop_pro_name_and_text"><span class="noti_pop_time"></span>'+
                       '<h4>not-head</h4><a id="not-link" class="msg" href="#">not-msg</a>'+
                       '<p>not-time</p>'+
                       '</div></div></div>'
        var divHtmlunread = '<div class="col-md-12 notification_pop_box_bg clearfix">'+
                       '<div class="noti_pop_pro_name_and_text_out clearfix">'+
                       '<div class="noti_pop_pro_name_and_text"><span class="noti_pop_time"></span>'+
                       '<h4>not-head</h4><a id="not-link" class="msg" href="#">not-msg</a>'+
                       '<p>not-time</p>'+
                       '</div></div></div>'
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("GetNotification", "Home")',
            data: "{ }",
            success: function (response) {
                var data = response;
                notificationList = data;
                $("#notification_tab_con").empty();
                $('#notifCount').html('(' + data[1].Value + ')');
                if(data[0].Value.length != 0 )
                {
                    $.each(data[0].Value, function (key, value) {
                        if(data[0].Value[key].ReadStatus == 0)
                        {
                            var notify = divHtmlunread.replace('not-head', data[0].Value[key].Header).replace('not-msg', data[0].Value[key].Notification).replace('not-time', data[0].Value[key].CreatedTimeDisplay).replace('not-link', data[0].Value[key].Url);
                            $("#notification_tab_con").append(notify);

                        }
                        else
                        {
                            var notify = divHtml.replace('not-head', data[0].Value[key].Header).replace('not-msg', data[0].Value[key].Notification).replace('not-time', data[0].Value[key].CreatedTimeDisplay).replace('not-link', data[0].Value[key].Url);
                            $("#notification_tab_con").append(notify);}
                    });
                }
                else
                {
                    $("#notification_tab_con").append("<div class='nojob_diplytable'><div class='col-md-12 category_nojob_bg clearfix'><h3>You have not received any notification yet</h3></div></div>")
                }
            },
            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }

    function setNotificationRead() {
        $.each(notificationList[0].Value, function(key, value) {
            notificationList[0].Value[key].ReadStatus = 1;
        });
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("SetNotificationsRead", "Home")',
            data: { notifications: notificationList[0].Value},
            success: function (response) {
                if(response) {
                    //$('#notifCount').html('(0)');
                }
            },
            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }

    function setNotificationReadStatus() {
        var _ReceiverId =@Session["UserId"];
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("SetNotificationsReadStatus", "Home")',
            data: { "ReceiverId":_ReceiverId},
            success: function (response) {
                if(response) {
                    //$('#notifCount').html('(0)');
                    $(".header_notification_icon").removeClass('notify_indication');
                }
            },
            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }

    function NotificationClose(){
        closebox('notifications_pop_id');
        //$(".header_notification_icon").removeClass('notify_indication');
        //setNotificationReadStatus();
    }
    //

</script>

@*@section scripts {*@
<script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>

    $(function () {
        var chat = $.connection.chatHub;



        @*chat.client.addNewMessageToPage = function ( message, receiverUserId, sendUserId,type,OnlineStatus) {

                var _ReceiverId =@Session["UserId"];

                if(receiverUserId==_ReceiverId ||  sendUserId==_ReceiverId){
                    if(type=="Chat"){

                        var d = new Date();
                        // var _ReceiverId = 10;
                        var month = d.getMonth()+1;
                        var day = d.getDate();
                        var time = d.getTime();
                        var CurrentDatetime = d.getFullYear() + '/' +
                            (month<10 ? '0' : '') + month + '/' +
                            (day < 10 ? '0' : '') + day + ' ' + time;
                        var _ReceiverId =@Session["UserId"];


                        PrintMessage(sendUserId, htmlEncode(message), CurrentDatetime, _ReceiverId,true);
                       // LoadAllMessageForUser()
                        $('#divChat_Message_FromUser').scrollTop($('#divChat_Message_FromUser').get(0).scrollHeight);
                        $("#spanUserStatus").html(OnlineStatus);
                        if(sendUserId==_ReceiverId){
                            $(".header_message_icon").addClass('notify_indication');
                        }
                    }
                    else if (type=="Status" &&  receiverUserId==_ReceiverId){

                        $("#spanUserStatus").html("typing...");

                    }
                    else if(type=="Online" &&  receiverUserId==_ReceiverId){

                        $("#spanUserStatus").html(OnlineStatus);


                    }


                }

            };*@

        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {
                var _senduserId=@Session["UserId"];
                var _receiverId=$("#hdnSendUserId").val();
                // var _hubidSend=$("#hdnHubIdChat").val();
                var _hdnRoomId=$("#hdnRoomId").val();

                var _formatText=addNewlines($('#message').val());
                var _formatText=$('#message').val();
                if(_formatText != "" && _formatText != null)
                {
                    var IsemailExist=checkIfEmailInString(_formatText)  ;
                    var IsphoneExists=CheckPhone(_formatText) ;
                    var IsFilterTextExists =FilterText(_formatText) ;
                    if( IsemailExist==false && IsphoneExists==false && IsFilterTextExists == false)
                    {
                        chat.server.send(_senduserId, _receiverId, _hdnRoomId,_formatText,'M',0,'');
                    }
                    else
                    {
                        $('#msg_err').css("display", "block");
                        $("#msg_err").text('Sorry, you are not allowed to share contact details');
                    }
                    $('#message').val("");
                }
            });


            //alert(checkIfEmailInString(test))
            $("#message").keypress(function(e){
                var _senduserId=@Session["UserId"];
                var _receiverId=$("#hdnSendUserId").val();
                var _hdnRoomId=$("#hdnRoomId").val();
                $('#msg_err').css("display", "none");
                //chat.server.send(_senduserId, _receiverId,_hdnRoomId,"Status","",'M');
                // alert(this.value.length);
                if(this.value.length>1000){
                    //alert(this.value.length);
                    e.preventDefault();
                }

                // $("#message").val(_formatText);
            })
            $("#message").change(function(){
                var _senduserId=@Session["UserId"];
                var _receiverId=$("#hdnSendUserId").val();
                var _hdnRoomId=$("#hdnRoomId").val();
                $('#msg_err').css("display", "none");
                //chat.server.send(_senduserId, _receiverId,_hdnRoomId,"Online","",'M');

            })

            $('#chat_attach_file').change(function() {
                //alert($('#chat_attach_file').val());
                $('#msg_err').css("display", "none");
                debugger
                if ($('#chat_attach_file').get(0).files.length === 0)
                {
                    //alert("no files")
                }
                else
                {
                    var imgsave = $('#chat_attach_file').get(0);
                    //$('#message').append($('#chat_attach_file').val());
                    var files = imgsave.files;
                    var fileData = new FormData();
                    var filename = files[0].name;
                    var filesize = (files[0].size/1024).toFixed(2);
                    if(filesize <= 4096)
                    {
                        fileData.append(files[0].name, files[0]);
                        $.ajax({
                            type: 'POST',
                            url: '/Dashboard/UploadDocuments',
                            contentType: false,
                            processData: false,
                            data: fileData,
                            success: function (result) {
                                if(result!="failed")
                                {

                                    var _senduserId=@Session["UserId"];
                                    var _receiverId=$("#hdnSendUserId").val();
                                    var _hdnRoomId=$("#hdnRoomId").val();
                                    chat.server.send(_senduserId, _receiverId,_hdnRoomId,filename,'A',filesize,result);
                                }
                            },
                            error: function (err) {

                            }
                        });
                    }
                    else
                    {
                        $('#msg_err').css("display", "block");
                        $("#msg_err").text('File size should not exceed 4mb.');
                    }
                }
            })

        });
    });
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }
    function addNewlines(str) {
        var result = '';
        while (str.length > 0) {
            var strchk = str.substring(0, 47)
            if(hasWhiteSpace(strchk))
            {
                result = str;
                str = '';
            }
            else
            {
                result += str.substring(0, 47) + '\n';
                str = str.substring(47);
            }
        }
        return result;
    }

    function hasWhiteSpace(str) {
        return /\s/g.test(str);
    }
</script>
@*}*@


<input type="hidden" id="hdnSendUserId" value="0" />
<input type="hidden" id="hdnSendUserName" value="0" />
<input type="hidden" id="hdnHubIdChat" value="0" />
<input type="hidden" id="hdnRoomId" value="0" />

<!--notifications pop -->

<div id="notifications_pop_id" class="popup_box popup_box_message clearfix" style="display:block">
    <span id="" class="col-md-12 popup_box_title popup_box_title_notext clearfix"><a href="#" onClick="NotificationClose()" class="popup_close_bg" title="Close"></a> </span>
    <div class="col-md-12  padd_left_right_o pop_container_bg">
        <div class="popup_box_message_slide_all">
            <div class="message_and_note_tab_bg message_and_note_slide clearfix">
                <ul class="nav nav-tabs">
                    <li id="liMsg"><a data-toggle="tab" href="#message_tab_con">Messages <span id="spanMsgCount"></span></a></li>
                    <li id="liNot" class="active"><a id="notification_tab" data-toggle="tab" href="#notification_tab_con">Notifications <span id="notifCount"></span></a></li>
                </ul>

                <div class="tab-content clearfix">

                    <div id="message_tab_con" class="tab-pane fade clearfix">
                        <div id="divLandingMessage" class="col-md-12 padd_left_right_o chat_tab_idfor"></div>



                    </div> <!--// message tab-->

                    <div id="notification_tab_con" class="tab-pane fade in active clearfix">
                        @*<div class="col-md-12 notification_pop_box_bg unread_file clearfix">
                                <div class="noti_pop_pro_name_and_text_out clearfix">
                                    <div class="noti_pop_pro_name_and_text">
                                        <span class="noti_pop_time">18 mins ago</span>
                                        <h4>Job accepted</h4>
                                        <p>Great news! You have just had a job accepted. Click to find out more and started</p>
                                    </div>
                                </div>
                            </div> <!-- // Notification 1-->

                            <div class="col-md-12 notification_pop_box_bg unread_file clearfix">
                                <div class="noti_pop_pro_name_and_text_out clearfix">
                                    <div class="noti_pop_pro_name_and_text">
                                        <span class="noti_pop_time">18 mins ago</span>
                                        <h4>Job accepted</h4>
                                        <p>Great news! You have just had a job accepted. Click to find out more and started</p>
                                    </div>
                                </div>
                            </div> <!-- // Notification 2-->

                            <div class="col-md-12 notification_pop_box_bg clearfix">
                                <div class="noti_pop_pro_name_and_text_out clearfix">
                                    <div class="noti_pop_pro_name_and_text">
                                        <span class="noti_pop_time">18 mins ago</span>
                                        <h4>Job accepted</h4>
                                        <p>Great news! You have just had a job accepted. Click to find out more and started</p>
                                    </div>
                                </div>
                            </div> <!-- // Notification 3-->

                            <div class="col-md-12 notification_pop_box_bg clearfix">
                                <div class="noti_pop_pro_name_and_text_out clearfix">
                                    <div class="noti_pop_pro_name_and_text">
                                        <span class="noti_pop_time">18 mins ago</span>
                                        <h4>Job accepted</h4>
                                        <p>Great news! You have just had a job accepted. Click to find out more and started</p>
                                    </div>
                                </div>
                            </div> <!-- // Notification 4-->*@


                    </div><!-- // notification tab-->

                </div> <!--tab-content-->

            </div><!-- // message_and_note_tab_bg-->

            <div class="message_chat_pop_screen_bg message_chat_pop_screen_slide clearfix" id="divMsgButtonBox">
                <div class="maessage_chat_pop_pro_name_and_text_out maessage_chat_pop_head clearfix">
                    <div class="maessage_chat_pop_pro_name_and_text_new clearfix">
                        <a href="#" class="message_chat_back_arrow_a" id="message_chat_back_buttonid">
                            <i class="message_pop_backarrow"></i>
                        </a>
                        <div class="maessage_chat_pop_profile_pic">
                            <div class="maessage_chat_pop_profile_pic_1">
                                <img id="imgChatHeader" src="" alt="">
                            </div>
                        </div>
                        <div class="maessage_chat_pop_pro_name_and_text">
                            <h4><span id="spanName"></span></h4>
                            <div class="chat_status_bg">
                                <span id="spanUserStatus" style="display:none"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="maessage_chat_pop_con_bg clearfix">

                    <div id="divChat_Message_FromUser" class="chat_overscroll clearfix"></div>
                    <!--maessage_chat_pop_con_box 3-->
                    @using (Html.BeginForm("UploadDocuments", "Dashboard", FormMethod.Post, new { id = "frm", enctype = "multipart/form-data" }))
                    {

                        <div class="maessage_chat_pop_type_con_box clearfix">
                            <div class="maessage_chat_pop_view_pro_type_out clearfix">
                                <div class="maessage_chat_pop_view_pro_type_name_and_text clearfix">
                                    <div class="pop_chat_type_bg clearfix">
                                        <div class="pop_chat_type_textareabg">
                                            <textarea class="" id="message" maxlength="1000"></textarea>
                                            <div class="pop_chat_attach_bubg">
                                                <label class="" for="chat_attach_file"><i class="fa fa-paperclip"></i></label>
                                                <input id="chat_attach_file" type="file" />
                                            </div>
                                        </div>
                                        <a class="btn button_all secondary_color_bg" id="sendmessage">SEND</a>
                                    </div>
                                </div>
                                <div class="maessage_chat_pop_view_type_profile_pic">
                                    <div class="maessage_chat_pop_view_type_profile_pic_1">
                                        <img src="@Session["ProfilePic"]" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="chaterror_textbg clearfix">
                                <span class="chaterror_text_sp" id="msg_err" style="display:none"></span>
                            </div>

                        </div><!--maessage_chat_pop_con_box 1-->

                    }
                </div>

            </div>

        </div><!--popup_box_message_slide_all-->

    </div>
</div>
<!-- // notifications pop -->
