@model dynamic
@{
    Layout = Layout;
    var currentTagId = @ViewBag.CurrentTag;
}

<script type="text/javascript">

    $(document).ready(function () {
        debugger
        if("@currentTagId" != "") {
            sessionStorage.setItem("tagsId","@currentTagId");
        }
        var _redirectUrl = @Html.Raw(Json.Encode(Request.QueryString["redirecturl"]));
        if(_redirectUrl == "Y")
        {
            OpenLogin();
        }
        else
        { debugger;
            try
            {
                @*var _IsEmail ='@Html.Raw(Session["IsEmailAlready"])';*@
                var _IsEmail ='@ViewBag.IsEmailAlready';
                if( _IsEmail=="Y")
                {

                    openbox(1,'disabled_user_pop_id');
                    //$("#disabled_user_pop_id").show();
                }
            }
            catch(exception )
            {
            }


            var NotificationStatus= @Html.Raw(Json.Encode(Session["NotificationStatus"]));
            if(NotificationStatus == "Y")
            {
                $(".header_notification_icon").addClass('notify_indication');
            }
            else
            {
                $(".header_notification_icon").removeClass('notify_indication');
            }

            var _cat =localStorage.getItem("cattext");
            var _id = localStorage.getItem("catid");

            var _href = "/Category/Index?";
            _href = _href + "id=" + _id;
            var _anchr = "<a  href=" + _href + ">" + _cat + "</a>"



            sessionStorage.setItem("tagsId",'0');
            $("#divtrendingtags").on("click", "a", function () {

                $("#txt_search").val(" ");
                var _Id = $(this).prop("id");
                sessionStorage.setItem("tagsId",_Id);
                localStorage.removeItem("keyword");


                if (_Id)
                {
                    LoadJobs( null,_Id)
                }

            });



            $("#divjobs").on("click", "#btnloadmore", function () {

                var _Id = $('#divjobs div.bg_color_comen').last().attr("id");
                var _searchtext = $("#txt_search").val();
                debugger
                var _TagsId = "@currentTagId";
                localStorage.setItem("keyword", _searchtext);
                LoadMore(_Id, _searchtext, _TagsId);
            });


            $("#txt_search").autocomplete({
                source: function (request, response) {
                    //  debugger
                    var param = $('#txt_search').val().trim();
                    if(param == "" || param ==" ")
                    {
                        param="";
                        $("#btnsearch").trigger("click");
                    }

                    $.ajax({
                        url: "/Jobs/GetAutomatedSearch",
                        data: { '_searchtext': param, 'trendingtagsid': 0 },
                        dataType: "json",
                        type: "POST",
                        dataFilter: function (data) { return data; },
                        success: function (data) {//debugger
                            if(data.length != 0){
                                // debugger
                                if(param == "")
                                {
                                    value:""
                                }
                                else{

                                    response($.map(data, function (item) {
                                        return {
                                            value: item.JobTitle
                                        }
                                    })) }}
                            else
                            {
                                $("#divjobs").empty();
                                var _Msg = "";
                                _Msg = "<div class='col-md-12 category_nojob_bg clearfix'><h3>There doesn't seem to be any live jobs for this category</h3></div>"
                                $("#divjobs").append(_Msg);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            var err = eval("(" + XMLHttpRequest.responseText + ")");
                            alert(err.Message)
                            // console.log("Ajax Error!");
                        }
                    });
                },
                select: function (e, ui) {
                    //  debugger
                    var _searchtext = ui.item.value;
                    localStorage.setItem("keyword", _searchtext);
                    sessionStorage.setItem("tagsId", '0');
                    if(_searchtext){LoadJobs(_searchtext,0);}
                    else
                    {LoadJobs();}
                },

                minLength: 1 //This is the Char length of inputTextBox
            });

            $("#btnsearch").click(function () {

                var _searchtext = $("#txt_search").val().trim();
                if (_searchtext) {

                    var _TagsId= sessionStorage.getItem("tagsId");
                    LoadJobs(_searchtext, _TagsId);
                    sessionStorage.setItem("tagsId", '0');

                }
                else
                {
                    LoadJobs(null,0);
                }

            });
            $('#txt_search').on("keyup", function(e) {

                var keycode = e.keyCode;
                var which = e.which;
                var c = String.fromCharCode(keycode == "" ? which :keycode )

                //  var _searchtext = c.trim();
                //var a=  e.key;
                //var _searchtext=a.trim() + $("#txt_search").val().trim();
                //var a=  e.charCode;
                var _searchtext=c.trim()+ $("#txt_search").val().trim();

                if(e.keyCode == 8 || e.keyCode == 46 || e.keyCode == 32)
                {
                    if(_searchtext == "" || _searchtext ==" " || _searchtext == "\b" || _searchtext == ".")
                    {
                        _searchtext="";

                        $("#btnsearch").trigger("click");
                    }

                }

                else if (e.keyCode == 13) {
                    //var _searchtext = $("#txt_search").val().trim();
                    localStorage.setItem("keyword", _searchtext);
                    sessionStorage.setItem("tagsId", '0');
                    $("#btnsearch").trigger("click");
                }


            })


            $("#btnsearchok").click(function(){
                closebox('confirm_search_pop_id');
                LoadJobs(null,0);
            });
            $("#divjobs").on('click',"a.myjob",function(){
                localStorage.setItem("formpagejob","Y");
            })

            function LoadMore(id,searchtext,tagsId)
            {
                $("#divnorecord").empty();
                $.ajax({
                    type: 'POST',
                    cache: false,
                    url: '@Url.Action("LoadMoreJobs", "Jobs")',
                    data: { 'id': id, '_searchtext': searchtext, 'trendingtagsid': tagsId },
                    success: function (response) {
                        $("#divloadmore").remove();
                        if (response != null) {
                            if (response.length == 0) {
                                var _Msg="";
                                _Msg = "<div class='col-md-12 category_nojob_bg clearfix'><h3>There doesn't seem to be any live jobs for this category</h3></div>"
                                $("#divjobs").append(_Msg);
                            }
                            else {

                                $.each(response, function (key, value) {
                                    var elem = " ";
                                    elem = "<div class='"+response[key].CssClass+"' id=" + response[key].Rownumber + "  >";
                                    if (response[key].VerifiedPartner == "Y")
                                    {
                                        elem += "<div class='verified_partner_box'><span>Verified Partner</span></div>";
                                    }
                                    var _href =response[key].RedirectUrl;
                                    // _href = _href + "id=" + response[key].JobId;
                                    elem = elem + "<a class='myjob' href=" + _href + "><h3>" + response[key].JobTitle + "</h3></a>";
                                    elem = elem + "<div class='timeframe_budget_small clearfix'>";
                                    if(response[key].Type=="J")
                                    {
                                        elem = elem + "<div class='timeframe_only'><span>Deadline: </span>&nbsp;<span>" + response[key].JobCompletionDateDisplay + "</span></div>";
                                        elem = elem + "<div class='budget_only'><span>Budget: </span>&nbsp;<span>" + response[key].BudgetASP.toFixed(2).toLocaleString() + " AXPR ($" + response[key].DollarCount.toLocaleString() + " ) </span></div>";
                                    }
                                    else
                                    {
                                        elem = elem + "<div class='timeframe_only'><span>Deadline: </span>&nbsp;<span>" + response[key].JobCompletionDateDisplay + "</span><span>&nbsp;Days</span></div>";
                                        elem = elem + "<div class='budget_only'><span>Budget: </span>&nbsp;<span>" + response[key].BudgetASP.toFixed(2).toLocaleString() + " AXPR ($" + response[key].DollarCount.toLocaleString() + " ) </span></div>";
                                    }
                                    elem = elem + "<div class='axp_star_only'><ul>";
                                    if (response[key].BadgeCount == 1) {
                                        elem = elem + "<li><i></i></li>";
                                    }
                                    else if (response[key].BadgeCount == 2) {
                                        elem = elem + "<li><li><i></i></li><li><i></i></li>";
                                    }
                                    else if (response[key].BadgeCount == 3) {
                                        elem = elem + "<li><i></i></li><li><i></i></li><li><i></i></li>";
                                    }
                                    elem = elem + "</ul></div>";
                                    elem = elem + "</div>";
                                    elem = elem + "<div class='home_client_discription_small clearfix'><p>" + response[key].JobDescriptionDisplay + "</p></div>";
                                    elem = elem + "<div class='client_profile_imgname_bg clearfix'> <div class='client_profile_pic'><div class='client_profile_pic_1'>";
                                    elem = elem + "<img src=" + response[key].ProfilePic + " alt='' /></div> <i class='profile_pic_star'></i></div>";
                                    var _profilehref = "/Profile/Index?";
                                    _profilehref = _profilehref + "id=" + response[key].UserId;
                                    elem = elem + "<a href=" + _profilehref + "><div class='client_profile_name verified_user_checkbg'><h4>" + response[key].FullName;
                                    if (response[key].VerifiedPartner == "Y")
                                    {
                                        elem += "<i class='verified_user_check'></i>";
                                    }
                                    elem += "</h4> <span> " + response[key].JobsCompleted + " jobs completed</span> </div></a></div></div>";
                                    $("#divjobs").append(elem);

                                    elem = " ";
                                });
                                var _morebutton = response[0].Isloadmore;
                                if (_morebutton == 1) {
                                    var _elment2 = " ";
                                    _elment2 = _elment2 + "<div class='col-md-12 category_loadmore_bg clearfix' id='divloadmore'>";
                                    _elment2 = _elment2 + " <a href='javascript:' class='btn button_all secondary_color_bg' id='btnloadmore'>Load more</a></div>";
                                    $("#divjobs").append(_elment2)
                                }
                            }

                        }
                        else {
                            $("#divjobs").empty();
                            var _Msg = "";
                            _Msg = "<div class='col-md-12 category_nojob_bg clearfix'><h3>There doesn't seem to be any live jobs for this category</h3></div>"
                            $("#divjobs").html(_Msg);
                        }

                    },
                    error: function (jqXHR, exception) {
                        console.log(jqXHR.status);
                        console.log(exception);
                    }
                });
            }
        }

    });




    function AutoSeach(_AutoText)
    {

        if (_AutoText) {

            var _TagsId= sessionStorage.getItem("tagsId");
            LoadJobs(_AutoText, _TagsId);
            sessionStorage.setItem("tagsId", '0');

        }
        else
        {
            LoadJobs(null,0);
        }
    }

    function LoadJobs(_searchtext,tagId)
    {
        //debugger
        $("#divnorecord").empty();
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("PostedJobs", "Jobs")',
            data: { '_searchtext': _searchtext, 'trendingtagsid': tagId },
            success: function (response) {
                $("#divjobs").empty();
                $("#divloadmore").empty();
                if (response != null) {
                    if (response.length == 0) {
                        var _Msg = "";
                        _Msg = "<div class='col-md-12 category_nojob_bg clearfix'><h3>There doesn't seem to be any live jobs for this category</h3></div>"
                        $("#divjobs").append(_Msg);
                    }
                    else {

                        $.each(response, function (key, value) {
                            var elem = " ";
                            elem = "<div class='"+response[key].CssClass+"' id=" + response[key].Rownumber + "  >";
                            if (response[key].VerifiedPartner == "Y")
                            {
                                elem += "<div class='verified_partner_box'><span>Verified Partner</span></div>";
                            }
                            var _href =response[key].RedirectUrl;
                            // _href = _href + "id=" + response[key].JobId;
                            elem = elem + "<a class='myjob' href=" + _href + "><h3>" + response[key].JobTitle + "</h3></a>";
                            elem = elem + "<div class='timeframe_budget_small clearfix'>";
                            if(response[key].Type=="J")
                            {
                                elem = elem + "<div class='timeframe_only'><span>Deadline: </span>&nbsp;<span>" + response[key].JobCompletionDateDisplay + "</span></div>";
                                elem = elem + "<div class='budget_only'><span>Budget: </span>&nbsp;<span>" + response[key].BudgetASP.toFixed(2).toLocaleString() + " AXPR ($" + response[key].DollarCount.toLocaleString() + " ) </span></div>";
                            }
                            else
                            {
                                elem = elem + "<div class='timeframe_only'><span>Deadline: </span>&nbsp;<span>" + response[key].JobCompletionDateDisplay + "</span><span>&nbsp;Days</span></div>";
                                elem = elem + "<div class='budget_only'><span>Budget: </span>&nbsp;<span>" + response[key].BudgetASP.toFixed(2).toLocaleString() + " AXPR ($" + response[key].DollarCount.toLocaleString() + " ) </span></div>";
                            }
                            elem = elem + "<div class='axp_star_only'><ul>";
                            if (response[key].BadgeCount == 1)
                            {
                                elem = elem+"<li><i></i></li>";
                            }
                            else if (response[key].BadgeCount ==2)
                            {
                                elem = elem+"<li><li><i></i></li><li><i></i></li>";
                            }
                            else if (response[key].BadgeCount ==3)
                            {
                                elem = elem+"<li><i></i></li><li><i></i></li><li><i></i></li>";
                            }
                            elem=elem+"</ul></div>";
                            elem = elem + "</div>";
                            elem = elem + "<div class='home_client_discription_small clearfix'><p>" + response[key].JobDescriptionDisplay + "</p></div>";
                            elem = elem + "<div class='client_profile_imgname_bg clearfix'> <div class='client_profile_pic'><div class='client_profile_pic_1'>";
                            elem = elem + "<img src=" + response[key].ProfilePic + " alt='' /></div> <i class='profile_pic_star'></i></div>";
                            var _profilehref = "/Profile/Index?";
                            _profilehref = _profilehref + "id=" + response[key].UserId;
                            elem = elem + "<a href=" + _profilehref + "><div class='client_profile_name verified_user_checkbg'><h4>" + response[key].FullName;
                            if (response[key].VerifiedPartner == "Y")
                            {
                                elem += "<i class='verified_user_check'></i>";
                            }
                            elem += "</h4><span> " + response[key].JobsCompleted + " jobs completed</span> </div></a></div></div>";
                            $("#divjobs").append(elem);
                            elem = " ";
                        });
                        var _morebutton = response[0].Isloadmore;
                        if (_morebutton == 1) {
                            var _elment2 = " ";
                            _elment2 = _elment2 + "<div class='col-md-12 category_loadmore_bg clearfix' id='divloadmore'>";
                            _elment2 = _elment2 + " <a href='javascript:' class='btn button_all secondary_color_bg' id='btnloadmore'>Load more</a></div>";
                            $("#divjobs").append(_elment2)
                        }
                    }

                }
                else
                {
                    $("#divjobs").empty();
                    var _Msg = "";
                    _Msg = "<div class='col-md-12 category_nojob_bg clearfix'><h3>There doesn't seem to be any live jobs for this category</h3></div>"
                    $("#divjobs").append(_Msg);
                }

            },
            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });

    }



</script>

<main id="content">

    <article class="module-featured">
        <h1>Hire freelancers,<br> pay in cryptocurrency</h1>
        <p>Complete freelance work to earn crypto, or post a job and have great freelancers come to you</p>
        <p class="link-btn" id="ulcategory">
            <a href="#" XXXid="view_jobs" class="signuplogin">Get hired</a>
            <a href="#" XXXid="view_gigs" class="signuplogin d">Hire freelancers</a>
        </p>
        <figure><img src="images/content/a.png" alt="Placeholder" width="823" height="500"></figure>
        <figure class="bg"><img src="images/content/map.png" alt="Placeholder" width="744" height="304"></figure>
    </article>

    <article>
        <h2 class="text-center s36 strong overlay-q">Featured Listings</h2>
        @if (Model.Job != null)
        {
            <ul class="list-post">
                @foreach (var item in Model.Job)
                {
                    <li id="@item.Rownumber">
                        @*item.CssClass<br /><br />*@
                        <input name="JobId" type="hidden" id="hdnJobId" value=@item.JobId />
                        <a class="myjob" href="@item.RedirectUrl"><h2>@item.JobTitle</h2></a>
                        @*<a class="myjob" href="@Url.Action("Details", "Gigs", new { @id = @item.JobId, @subid = 0 })"></a>*@
                        <a class="myjob" href="@item.RedirectUrl"><p>@item.JobDescriptionDisplay</p></a>
                        <ul class="list-icon">
                            <li class="price">
                                @item.BudgetASP.ToString("#,##0.00")&nbsp;<span class=small>AXPR</span>
                                <span>$@item.DollarCount.ToString("#,##0.00")</span>
                            </li>
                            <li><i class="icon-time"></i> @item.JobCompletionDateDisplay days remaining</li>
                            <li><i class="icon-upload"></i> 2 submissions</li>
                            <li><i class="icon-bulb"></i> Intermediate</li>
                            <li><i class="icon-list"></i> Writing</li>
                        </ul>
                        <div class="module-author">
                            <figure>
                                <div class="client_profile_pic">
                                    <div class="client_profile_pic_1">
                                        <img src="@item.ProfilePic" alt="Placeholder" width="46" height="46">
                                    </div>
                                    @*<i class="profile_pic_star"></i>*@
                                </div>
                            </figure>
                            <h3><a href="@Url.Action("Index", "Profile", new { @id = @item.UserId })">@item.FullName</a> <span>@item.JobsCompleted jobs completed</span></h3>
                            @{
                                string verified = item.VerifiedPartner == "Y" ? "overlay-c" : "";
                            }
                            <ul>
                                <li><i class="icon-badge-check @verified"></i> Administrator</li>
                                <li class="rating-a" data-val="@item.BadgeCount" data-of="5">@item.BadgeCount</li>
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        }
        @if (Model.Job != null && Model.Job.Count > 0)
        {
            if (Model.Job[0].Isloadmore == 1)
            {
                @*
                    <div class="col-md-12 category_loadmore_bg clearfix" id="divloadmore">
                        <a href="javascript:" class="btn button_all secondary_color_bg" id="btnloadmore">Load more</a>
                    </div>
                *@
                <p class="link-btn text-center"><a href="javascript:" id="btnloadmore">Load more</a></p>
            }
        }

        @if (Model.Job == null || Model.Job.Count == 0)
        {
            <div class="col-md-8 home_left_8" id="divnorecord">
                <div class="col-md-12 category_nojob_bg clearfix">
                    <h3>There doesn't seem to be any live jobs for this category</h3>
                </div>
            </div>
        }

    </article>

    <div class="module-news">
        <article>
            <figure><img src="images/content/b.png" alt="Placeholder" width="713" height="583"></figure>
            <h2>Browse jobs and bid for those that match your skills</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie neque arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat</p>
            <p class="link-btn"><a href="#" XXXid="view_jobs" class="signuplogin">Get hired</a></p>
        </article>
        <article>
            <figure><img src="images/content/c.png" alt="Placeholder" width="674" height="594"></figure>
            <h2>Find the best freelancer and get your work completed with ease</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie neque arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat</p>
            <p class="link-btn"><a href="#" XXXid="view_gigs" class="signuplogin d">Post a job</a></p>
        </article>
    </div>

    <ul class="list-count a">
        <li><i class="icon-value"></i> <span><span>$</span>1,000,000</span> Total transaction volume</li>
        <li><i class="icon-axpire"></i> <span>5.000.000 <span>AXPR</span></span> total AXPR burnt</li>
        <li><i class="icon-complete"></i> <span>5000</span> total completed jobs</li>
    </ul>

    <article class="module-wide tabs-b">
        <nav>
            <h2 class="text-center s36 strong overlay-q">Leaderboard</h2>
            <ul>
                <li><a href="./">Top Freelancers</a></li>
                <li><a href="./">Top Employers</a></li>
            </ul>
        </nav>
        <div>
            <div>
                <ul class="list-users">
                    @if (Model.TopJobPosters != null)
                    {
                        foreach (var item in Model.TopJobPosters)
                        {
                            <li>
                                <figure>
                                    <div class="client_profile_pic">
                                        <div class="client_profile_pic_1">
                                            <img src="@item.ProfilePic" alt="Placeholder" width="60" height="60">
                                        </div>
                                    </div>
                                </figure>
                                <h3>@item.FullName <span>@item.JobsCompleted jobs completed</span></h3>
                                <ul>
                                    <li><i class="icon-badge-check overlay-d"></i> Prime member</li>
                                    <li class="rating-a" data-val="@item.BadgeCount" data-of="5">Rating (@item.BadgeCount)</li>
                                </ul>
                                <p class="link-btn"><a href="@Url.Action("Index", "Profile", new { @id = @item.UserId })">view profile</a></p>
                            </li>
                        }
                    }
                </ul>
                <p class="link-btn text-center"><a class="e" href="./">Load more</a></p>
            </div>
            <div>
                <ul class="list-users">
                    @if (Model.VerifiedPartners != null)
                    {
                        foreach (var item in Model.VerifiedPartners)
                        {
                            <li>
                                <figure>
                                    <div class="client_profile_pic">
                                        <div class="client_profile_pic_1">
                                            <img src="@item.ProfilePic" alt="Placeholder" width="60" height="60">
                                        </div>
                                    </div>
                                </figure>
                                <h3>@item.FullName <span>@item.JobsCompleted jobs completed</span></h3>
                                <ul>
                                    <li><i class="icon-badge-check overlay-d"></i> Prime member</li>
                                    <li class="rating-a" data-val="@item.BadgeCount" data-of="5">Rating (@item.BadgeCount)</li>
                                </ul>
                                <p class="link-btn"><a href="@Url.Action("Index", "Profile", new { @id = @item.UserId })">view profile</a></p>
                            </li>
                        }
                    }
                </ul>
                <p class="link-btn text-center"><a class="e" href="./">Load more</a></p>
            </div>
        </div>
    </article>

    <article>
        <h2 class="text-center s36 strong overlay-q">What they say about MatchBX</h2>
        <ul class="list-quote">
            <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Roberta F <span>Web Developer</span></span></li>
            <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Axpire <span>Job poster</span></span></li>
            <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Roberta F <span>Web Developer</span></span></li>
            <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Axpire <span>Job poster</span></span></li>
            <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Roberta F <span>Web Developer</span></span></li>
            <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Axpire <span>Job poster</span></span></li>
            <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Roberta F <span>Web Developer</span></span></li>
            <li><q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi arcu tortor, imperdiet eu augue at, ultrices viverra nibh. Aenean non dapibus leo, in tincidunt sem. Duis molestie ne que arcu. Etiam malesuada sed lectus hendrerit aliquam. Pellentesque volutpat eros enim, vel lobortis sem ultricies eu. Vestibulum volutpat ut nulla et dictum. Vestibulum suscipit libero id nisi elementum laoreet.</q> <span class="author"><img src="http://placehold.it/40" alt="Placeholder" width="40" height="40"> Axpire <span>Job poster</span></span></li>
        </ul>
    </article>

    <article class="module-wide">
        <h2 class="text-center s36 strong overlay-q">Choose the category that fits<br> your needs, or your skills</h2>
        <ul class="list-category">
            <li><a class="myjob" href="#" id="1"><i class="icon-marketing"></i> Marketing <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></a></li>
            <li><a class="myjob" href="#" id="2"><i class="icon-development"></i> Development <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></a></li>
            <li><a class="myjob" href="#" id="3"><i class="icon-creative"></i> Creative <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></a></li>
            <li><a class="myjob" href="#" id="4"><i class="icon-writing"></i> Writing <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></a></li>
            <li><a class="myjob" href="#" id="5"><i class="icon-admin"></i> Admin <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></a></li>
            <li><a class="myjob" href="#" id="6"><i class="icon-blockchain"></i> Blockchain <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></a></li>
            <li><a class="myjob" href="#" id="7"><i class="icon-bounty"></i> Bounty <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></a></li>
            <li><a class="myjob" href="#" id="8"><i class="icon-other"></i> Other <span>Lorem ipsum dolor sit amet con sectetur adipiscing elit.</span></a></li>
        </ul>
    </article>

    <article class="module-cta">
        <h2>Complete freelance work to earn crypto, or post a job and have great freelancers come to you</h2>
        <p class="link-btn">
            <a href="#" XXXid="view_jobs" class="signuplogin">Get hired</a>
            <a href="#" XXXid="view_gigs" class="signuplogin d">Hire freelancers</a>
        </p>
    </article>

</main>

<div id="shadowing" class="shadowing_overlay myshadow"></div>

<script>
    wow = new WOW({}).init();
    $(document).on('click', 'a[href^="#"].smothscroll', function (event) {
        event.preventDefault();
        $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 700);
    });
    $(document).ready(function () {
        /*("#dublepopup").click(function(){
            alert("dfsf");
            $("#Purchase_id").addClass(".hhdh");
            });*/
    });
    /* // email placeholder*/
</script>
