
@{
    ViewBag.Title = "Index";
    Layout = Layout;
}

<!DOCTYPE html>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">

    $(function () {
        var notification = $.connection.notificationHub;
        $.connection.hub.start().done(function () {

            $("#btnJobCancel").click(function () {
                JobCancelProcess();
            });

        })


        $(document).ready(function () {
            var Usertype = @Html.Raw(Json.Encode(Session["UserType"]));
            var pagetitle = @Html.Raw(Json.Encode(ViewBag.pageTitle));
        
            if(pagetitle!=null)
            {
                $('#pageTitle').text(pagetitle);
            }
            
            if(Usertype == 4)
            {
                var page = @Html.Raw(Json.Encode(ViewBag.pageIndex));
                if (page != null && page == 2)
                {
                    var jobinTbl = "";
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        url: '@Url.Action("ManageJob", "Admin")',
                        data: '{}',
                        success: function (response) {
                            $("#divcontent").html(response)
                            jobinTbl = $('#manageJobTbl tr').length;
                            sessionStorage.setItem("jobinTbl", jobinTbl);

                        },
                        error: function (jqXHR, exception) {

                            console.log(jqXHR.status);
                            console.log(exception);
                        }
                    });
                    if (jobinTbl != "") {
                        ViewData["jobinTbl"] = jobinTbl;
                    }
                }
                else if(page != null && page == 3)
                {
                    var JobIndex = @Html.Raw(Json.Encode(ViewBag.JobIndex));
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        url: '@Url.Action("JobReview", "Admin")',
                        data: {'jid':JobIndex},
                        success: function (response) {
                            $("#divcontent").html(response)  
                        },
                        error: function (jqXHR, exception) {

                            console.log(jqXHR.status);
                            console.log(exception);
                        }
                    });                    
                }
                else
                {
                    var jobinTbl = "";
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        url: '@Url.Action("manageUser", "Admin")',
                        data: '{}',
                        success: function (response) {
                            $("#divcontent").html(response)
                            jobinTbl = $('#manageUserTbl tr').length;
                            sessionStorage.setItem("jobinTbl", jobinTbl);

                        },
                        error: function (jqXHR, exception) {

                            console.log(jqXHR.status);
                            console.log(exception);
                        }
                    });
                    if (jobinTbl != "") {
                        ViewData["jobinTbl"] = jobinTbl;
                    }

                }
            }
            else
            {
               
                window.location.href = "/Jobs/Index";
            }
            $("#aInner").click(function(){
                BlockUser();
            })
            $("#a_unblock").click(function(){
                BlockUser2();
            })
    });



    function BlockUser() {
        var UserId = localStorage.getItem("adminUserId");
        var blockId = $("#ddlBlock").val();
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("BlockUser", "Admin")',
            data: { 'UserId': UserId, 'BlockReason': blockId },
            success: function (response) {

                closebox('offer_blockcomfirmation_id');
                SucessPop(1);
            },
            error: function (jqXHR, exception) {

                console.log(jqXHR.status);
                console.log(exception);
            }
        });

    }
    function BlockUser2() {

        var UserId = localStorage.getItem("adminUserId");
        var blockId = $("#ddlBlock").val();
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("BlockUser", "Admin")',
            data: { 'UserId': UserId, 'BlockReason': 0 },
            success: function (response) {

                closebox('FinUnBlockcomfirmation_id');
                SucessPop(2);
            },
            error: function (jqXHR, exception) {

                console.log(jqXHR.status);
                console.log(exception);
            }
        });

    }

    $("#manageJobTbl").click(function () {

        localStorage.setItem("FromPage", "MngJob");
    });



    function JobCancelProcess() {
       //
        var JobId = localStorage.getItem("jobid");
        var UserId = localStorage.getItem("userId");
        var Email = localStorage.getItem("email");
        var JobTitle = localStorage.getItem("jobtitle");

        var cancelreasonId = $("#ddlCancelJob").val();
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("JobCancelProcess", "Admin")',
            data: { 'JobId': JobId,'UserId':UserId,'Email':Email,'CancelReason': cancelreasonId },
            success: function (response) {

                var _sendUserId = "@Session["UserId"]";
                var _receiverUserId = localStorage.getItem("userId");
                var _fullname ="@@" + "@Session["UserName"]";
                var _notification = "Your job " + JobTitle + " has been cancelled as it went against the terms of this jobsite";
                var _header = "Job cancelled";
                var _Url = "/Jobs/Details/" + JobId;
                notification.server.send(_sendUserId, _receiverUserId, _fullname, _notification, _header, _Url);
                closebox('popup_cancelcomfirmation_id');
                SucessPop();
            },
            error: function (jqXHR, exception) {

                console.log(jqXHR.status);
                console.log(exception);
            }
        });

    }
  });




</script>
<div class="largebox_content_containerbg">
    <div class="container">


        <div class="container_inner middile_con_inner_bg clearfix" id="divcontent">

            @*<div class="col-md-12 dash_con_top_bg clearfix">

            </div>*@
            <!-- // catagory_con_top_bg-->


            @*<div class="col-md-12 con_8_4_outer_bg clearfix">
                <div class="row con_row">
                    <div class="col-md-12 home_left_8">
                        <div class="pro_pub_cont_tab_bg clearfix">
                            <!--tab div section-->


                            <div class="tab-content" id="divcontent">

                            </div>
                        </div><!-- // tab div section-->

                    </div><!-- //col-md-8-->

                </div><!-- //row-->

            </div>*@

        </div>
        <!--container_inner -->
        <!--lightbox popup section-->
        <div id="shadowing" class="shadowing_overlay myshadow"></div>
        <div id="offer_comfirmation_id" class="popup_box clearfix myshadow">
            <span id="" class="col-md-12 popup_box_title clearfix"> Manage User <a href="@Url.Action("Index", "Admin")" class="popup_close_bg" title="Close"></a> </span>
            <div class="col-md-12 pop_container_bg text-center">
                <div class="form-group clearfix">

                    <label for="" class="input_label_style">Reason for Blocking <span class="blue_color_text" id="spanaxp"></span></label>
                    @Html.DropDownList("ddlBlock", new SelectList((IEnumerable<Business.UserBlocking>)TempData["BlockReason"], "UserBlockingId", "Reason"), "--Select Reason for Blocking--", new { @class = "form-control formall_textbox_design", @id = "ddlBlock" })
                    <br /> <br />
                    <span id="errorMsgBlkReason" class="error_span"></span>
                    <a href="#" class="btn btn_banner secondary_color_bg maxwidth325" title="Block User" onclick="innerpopUp()">Next step</a>
                </div>
                <div class="form-group register_small_already_reg delete_job_link clearfix">
                    <p><a href="@Url.Action("Index", "Admin")">Exit, Discard </a></p>
                </div>
            </div>
        </div>
        <div id="offer_blockcomfirmation_id" class="popup_box clearfix myshadow">
            <span id="" class="col-md-12 popup_box_title clearfix"> Manage User <a href="@Url.Action("Index", "Admin")" class="popup_close_bg" title="Close"></a> </span>
            <div class="col-md-12 pop_container_bg text-center">
                <div class="form-group clearfix">
                    <label for="" class="input_label_style">Are you sure you want to block<span class="blue_color_text" id="spanaxp"></span><span> this</span> user<span>?</span></label>
                    <a href="#"  class="btn btn_banner secondary_color_bg maxwidth325" title="Block User" id="aInner">Block</a>
                </div>
                <div class="form-group register_small_already_reg delete_job_link clearfix">
                    <p><a href="@Url.Action("Index", "Admin")">Exit, Discard </a></p>
                </div>
            </div>
        </div>


        <div id="FinUnBlockcomfirmation_id" class="popup_box clearfix myshadow">
            <span id="" class="col-md-12 popup_box_title clearfix"> Manage User <a href="#" class="popup_close_bg" title="Close" onclick="Close()"></a> </span>
            <div class="col-md-12 pop_container_bg text-center">
                <div class="form-group clearfix">

                    <label for="" class="input_label_style">Are you sure you want to unblock<span class="blue_color_text" id="spanaxp"></span><span> this</span> user<span>?</span></label>
                    <br /> <br />
                    <a href="#" class="btn btn_banner secondary_color_bg maxwidth325" title="UnBlock User" id="a_unblock">Unblock</a>
                </div>
                <div class="form-group register_small_already_reg delete_job_link clearfix">
                    <p><a href="@Url.Action("Index", "Admin")">Exit, Discard </a></p>
                </div>
            </div>
        </div>



        <div id="Success" class="popup_box clearfix myshadow">
            <span id="" class="col-md-12 popup_box_title clearfix"> Manage user <a href="@Url.Action("Index", "Admin")" class="popup_close_bg" title="Close"></a> </span>
            <div class="col-md-12 pop_container_bg text-center">
                <div class="form-group clearfix">

                    <label for="" class="input_label_style" id="sucesslbl"><span class="blue_color_text" id="spanaxp"></span></label>
                    <br /> <br />
                    @*<a href="#" class="btn btn_banner secondary_color_bg maxwidth325" title="Block User">Unblock</a>*@
                </div>
                <div class="form-group register_small_already_reg delete_job_link clearfix">

                </div>
            </div>
        </div>
                <!--===============Manage Jobs Popup Section================= -->

        <div id="popup_cancelreasons" class="popup_box clearfix myshadow">
            <span id="" class="col-md-12 popup_box_title clearfix">Manage Job <a href="@Url.Action("Index", "Admin",new {@id=2})" class="popup_close_bg" title="Close"></a> </span>
            <div class="col-md-12 pop_container_bg text-center">
                <div class="form-group clearfix">

                    <label for="" class="input_label_style">Reason for Cancellation<span class="blue_color_text" id="spanaxp"></span></label>
                    @Html.DropDownList("ddlCancelJob", new SelectList((IEnumerable<Business.JobCancellation>)TempData["CancelJobReason"], "JobCancellationId", "Reason"), "--Select Reason for Cancellation--", new { @class = "form-control formall_textbox_design", @id = "ddlCancelJob" })
                    <br /> <br />
                    <span id="errorMsgCancelReason" class="error_span"></span>
                    <a href="#" class="btn btn_banner secondary_color_bg maxwidth325" title="Cancel Job" onclick="CancelJob()">Cancel Job</a>
                </div>
                <div class="form-group register_small_already_reg delete_job_link clearfix">
                    <p><a href="@Url.Action("Index", "Admin",new {@id=2})">Exit, Discard changes</a></p>
                </div>
            </div>
        </div>
        
        @*Approve job confirmation - admin*@
        <div id="jobapproveadmin" class="popup_box clearfix myshadow">
            <span id="" class="col-md-12 popup_box_title clearfix">Approve Job<a href="javascript:;" onclick="closebox('jobapproveadmin')" class="popup_close_bg" title="Close"></a> </span>
            <div class="col-md-12 pop_container_bg text-center">
                <div class="form-group clearfix">
                    <label for="" class="input_label_style">Are you sure to approve the job<span class="" id="spanadminapprove"></span></label>                    
                    <a href="#" id="btnAdminJobApprove" class="btn btn_banner secondary_color_bg maxwidth325" title="Approve Job">Approve Job</a>
                </div>
                <div class="form-group register_small_already_reg delete_job_link clearfix">
                    <p><a href="javascript:;" onclick="closebox('jobapproveadmin')">Cancel</a></p>
                </div>
            </div>
        </div>

        @*Reject job - reason pick*@
        <div id="popup_rejectreason" class="popup_box clearfix myshadow">
            <span id="" class="col-md-12 popup_box_title clearfix">Reject Job <a href="javascript:;" onclick="closebox('popup_rejectreason')" class="popup_close_bg" title="Close"></a> </span>
            <div class="col-md-12 pop_container_bg text-center">
                <div class="form-group clearfix">

                    <label for="" class="input_label_style">Reason for the rejection<span class="" id="spanrej"></span></label>
                    @Html.DropDownList("ddlRejectJob", new SelectList((IEnumerable<Business.JobCancellation>)TempData["CancelJobReason"], "JobCancellationId", "Reason"), "--Select Reason for Rejection--", new { @class = "form-control formall_textbox_design", @id = "ddlRejectJob" })
                    <br /> <br />
                    <span id="errorMsgRejectReason" class="error_span"></span>
                    <a href="#" id="btnRejectJobAdmin" class="btn btn_banner secondary_color_bg maxwidth325" title="Reject Job">Reject Job</a>
                </div>
                <div class="form-group register_small_already_reg delete_job_link clearfix">
                    <p><a href="javascript:;" onclick="closebox('popup_rejectreason')">Cancel</a></p>
                </div>
            </div>
        </div>

        @*View attachment admin*@
        <div id="attachement_pop_id" class="popup_box clearfix">
            <span id="" class="col-md-12 popup_box_title clearfix"> Attachment  <a href="#" onClick="closebox('attachement_pop_id')" class="popup_close_bg" title="Close"></a> </span>
            <div class="col-md-12 pop_container_bg">
                <div class="form-group clearfix">                    
                    <div class="home_trending_tags job_review_attach clearfix">
                        <ul id="view_attachment_ul">
                                                      
                        </ul>
                    </div>
                </div>

                <div class="form-group clearfix">

                    <a href="#" onClick="closebox('attachement_pop_id')" class="btn btn-default register_small_button secondary_color_bg" title="Close">Close</a>
                </div>               
            </div>
        </div>

        <div id="popup_cancelcomfirmation_id" class="popup_box clearfix myshadow">
            <span id="" class="col-md-12 popup_box_title clearfix"> Manage Job <a href="@Url.Action("Index", "Admin" ,new {@id=2})" class="popup_close_bg" title="Close"></a> </span>
            <div class="col-md-12 pop_container_bg text-center">
                <div class="form-group clearfix">
                    <label for="" class="input_label_style">Are you sure you want to cancel<span class="blue_color_text" id="spanaxp"></span><span> this</span> job<span>?</span></label>
                    <a href="#" id="btnJobCancel" class="btn btn_banner secondary_color_bg maxwidth325" title="Cancel Job" >Cancel Job</a>
                </div>
                <div class="form-group register_small_already_reg delete_job_link clearfix">
                    <p><a href="@Url.Action("Index", "Admin",new {@id=2})">Exit, Discard changes </a></p>
                </div>
            </div>
        </div>


        <div id="CancelSuccess" class="popup_box clearfix myshadow">
            <span id="" class="col-md-12 popup_box_title clearfix"> Manage Job <a href="@Url.Action("Index", "Admin" ,new {@id=2})" class="popup_close_bg" title="Close"></a> </span>
            <div class="col-md-12 pop_container_bg text-center">
                <div class="form-group clearfix">

                    <label for="" class="input_label_style" id="cancelsucesslbl"><span class="blue_color_text" id="spanaxp"></span></label>
                    <br /> <br />
                </div>
                <div class="form-group register_small_already_reg delete_job_link clearfix">

                </div>
            </div>
        </div>





    </div>
</div>
