@*@model IEnumerable<Business.ManageJob>*@
@model dynamic

<script type="text/javascript">
    $(document).ready(function () {
        $("#job_complete_id_dash").on("click", "a.cancel", function () {
            //
            var _jobid = $(this).closest('tr').find($("input[id^='hfjobid_']")).val();
            var _userid = $(this).closest('tr').find($("input[id^='hfuserid_']")).val();
            var _email = $(this).closest('tr').find($("input[id^='hfuseremail_']")).val();
            var _JobTitle = $(this).closest('tr').find($("input[id^='hfjobtitle_']")).val();
            popupcancelreasons(_jobid, _userid, _email, _JobTitle)

        })
    })

    localStorage.setItem("FromPage", "MngJob");

    function popupcancelreasons(JobId, UserId, Email, JobTitle) {

        localStorage.setItem("jobid", JobId);
        localStorage.setItem("userId", UserId);
        localStorage.setItem("email", Email);
        localStorage.setItem("jobtitle", JobTitle);
        openbox(1, 'popup_cancelreasons');
    }

    function CancelJob() {

        var dropdwnval = $("#ddlCancelJob").val();

        if (dropdwnval != null && dropdwnval != 0 && dropdwnval != "") {
            $("#errorMsgCancelReason").empty();
            $("#popup_cancelreasons").hide();
            openbox(1, 'popup_cancelcomfirmation_id');

        }
        else {
            $("#errorMsgCancelReason").html("Please select reason for cancel the job.");
            event.preventDefault();
        }


    }


    function SucessPop()
    {
        $("#cancelsucesslbl").html("Job canceled successfully.");
        openbox(1, 'CancelSuccess');
    }


    function Load() {

        var _Id = $('#manageJobTbl tr:last').attr('id');
       // alert(_Id);
        LoadMore(_Id);
    }

    function LoadMore(id) {
        
        $.ajax({

            type: 'POST',
            cache: false,
            url: '@Url.Action("LoadMoreJob", "Admin")',
            data: { 'id': id },
            success: function (response) {
                var _morebutton = response[0].Value;
                if (response[1] != null) {

                    $.each(response[1].Value, function (key, value) {

                        var elem = " ";
                        elem += "<tr id=" + response[1].Value[key].JobId + " >";
                        elem += "<td><a href='#'>" + response[1].Value[key].JobReferanceId + "</a></td>";
                        elem += "<td>" + response[1].Value[key].JobTitle + "</td>";
                        elem += "<td>" + response[1].Value[key].JobCompletionDateDisplay + "</td>";
                        if (response[1].Value[key].SkillsList == null)
                        { elem += "<td></td>"; }
                        else
                        { elem += "<td>" + response[1].Value[key].SkillsList + "</td>"; }

                        elem += "<td>" + response[1].Value[key].Category + "</td>";
                        elem += "<td>" + response[1].Value[key].JobStatus + "</td>";
                        elem += "<td>" + response[1].Value[key].BudgetASP + "</td>";
                        elem += "<td>" + response[1].Value[key].FullName + "</td>";

                        var Ids=""
                        Ids=Ids+  "<input type='hidden' id='hfjobid_' value="+response[1].Value[key].JobId+" />";
                        Ids=Ids+"  <input type='hidden' id='hfuserid_' value="+response[1].Value[key].UserId+" />";
                        Ids = Ids + "<input type='hidden' id='hfuseremail_' value=" + response[1].Value[key].Email + " />"
                        elem += "<td>" + response[1].Value[key].Bids + "<br>"+Ids+"</td>";
                        elem += "<td><a href='#' class='cancel'>Cancel</a></td>";
                        elem += "</tr>";
               
                        //elem +="<tr style='display:none' id=" + response[1].Value[key].UserId + "> </tr>";
                        //elem +="<tr style='display:none' id=" + response[1].Value[key].Email + "> </tr>";
                        $('#manageJobTbl').find('tbody').append(elem);
                    });

                    if ($('#manageJobTbl tr').length < _morebutton - 1) {
                        var _elment2 = " ";
                        _elment2 = _elment2 + "<div class='col-md-12 category_loadmore_bg clearfix' id='divloadmore'>";
                        _elment2 = _elment2 + " <a href='#' class='btn button_all secondary_color_bg' id='btnloadmore'>Load more</a></div></div>";

                    }
                    else { $("#divloadmore").remove(); }
                }

            },

            error: function (jqXHR, exception) {
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }


    </script>

    <div id="job_complete_id_dash" class="tab-pane fade clearfix active in">
        <div class="col-md-12 dash_tab_con_heading_bg padd_left_right_o">
            @*<h3 class="dash_tab_con_heading_h3">Manage Job </h3>*@
        </div>
                @if (Model != null)
                {
                    <div class="col-md-12 dash_jobs_box_1_bg bg_color_comen clearfix" id="divMangJob">

                        <div class="admin_mang_table_bg">
                            <div class="admin_mang_table_bg_scroll">
                                <table class="table admin_mang_table" id="manageJobTbl">
                                    <thead>
                                        <tr>
                                            <th class="mnguser_JobReference_th">Job Reference</th>
                                            <th class="mnguser_JobName_th">Job Name</th>
                                            <th class="mnguser_Deadline_th">Deadline</th>
                                            <th class="mnguser_Skills_th">Skills</th>
                                            <th class="mnguser_Category_th">Category</th>
                                            <th class="mnguser_JobStatus_th">Job Status</th>
                                            <th class="mnguser_Budget_th">Budget</th>
                                            <th class="mnguser_JobPoster_th">Job Poster</th>
                                            <th class="mnguser_Bids_th">Bids</th>
                                            <th class="mnguser_Action_th">Action</th>
                                        </tr>
                                        @*<tr style="display:none"> </tr>
                    <tr style="display:none"> </tr>*@

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr id="@item.JobId">
                                                <td><a href="#">@item.JobReferanceId</a></td>
                                                <td>@item.JobTitle</td>
                                                <td>@item.JobCompletionDateDisplay</td>
                                                @if (item.SkillsList == null)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @Html.Raw("<p>" + @item.SkillsList + "</p>")
                                                    </td>
                                                }

                                                <td>@item.Category</td>
                                                <td>@item.JobStatus</td>
                                                <td>@item.BudgetASP</td>
                                                <td>@item.FullName</td>
                                                <td>
                                                    @item.Bids
                                                    <input type="hidden" id="hfjobid_@item.JobId" value="@item.JobId" />
                                                    <input type="hidden" id="hfuserid_@item.UserId" value="@item.UserId" />
                                                    <input type="hidden" id="hfuseremail_@item.Email" value="@item.Email" />
                                                    <input type="hidden" id="hfjobtitle_@item.JobTitle" value="@item.JobTitle" />
                                                </td>
                                                <td><a href="#" id="@item.JobId" class="cancel">Cancel</a></td>

                                            </tr>
                                            @*<tr style="display:none" id="@item.UserId"> </tr>
                        <tr style="display:none" id="@item.Email"> </tr>*@
                                        }

                                    </tbody>

                                </table>

                            </div>
                            </div>
                    </div>

                if (Convert.ToInt32(ViewData["jobinTbl"]) < Convert.ToInt32(TempData["RecordstotCount"].ToString()))
                {

                    <div class="col-md-12 category_loadmore_bg clearfix" id="divloadmore">
                        <a href="#" class="btn button_all secondary_color_bg" id="btnloadmore" onclick="Load()">Load more</a>
                    </div>
                }
                else
                {
                    <div class="col-md-10 home_left_8" id="divmsg">
                        <div class="col-md-12 category_nojob_bg clearfix">
                            <h3>There are no jobs to display yet.</h3>
                        </div>
                    </div>
                }
                }


    </div>
