@{
    Layout = null;
    var html = ""; var h = "";
}

@if (Model.Services != null)
{
    <div id="jobs_listed_id_dash" class="tab-pane fade in active clearfix gig_dash">
        <div class="col-md-12 dash_tab_con_heading_bg padd_left_right_o">
            <h3 class="dash_tab_con_heading_h3">My Services <span id="spancount">(@TempData["MyServices"])</span></h3>
        </div>
        <div id="divgigs">
            @foreach (var item in Model.Services)
            {
                <div class="gigcol col-md-12 dash_jobs_box_1_bg bg_color_comen clearfix">
                    <div class="dash_jobs_box_1_inner">
                        <a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = 0 })">
                            <h3>@item.GigTitle</h3>
                        </a>
                        <div class="timeframe_budget_small clearfix">
                            <div class="timeframe_only"><span>Delivery time: </span>&nbsp;<span>@item.GigDuration Days</span></div>
                            <div class="budget_only"><span>Cost: </span>&nbsp;<span>@String.Concat(@item.BudgetASPInt.ToString("#,##0"), " AXPR ", "($", @item.DollarCount.ToString("N2"), ")")</span></div>
                            <div class="axp_star_only">
                                <ul>
                                    @if (item.BadgeCount == 1)
                                    {
                                        <li><i></i></li>
                                    }
                                    else if (item.BadgeCount == 2)
                                    {
                                        <li><i></i></li>
                                        <li><i></i></li>
                                    }
                                    else if (item.BadgeCount == 3)
                                    {
                                        <li><i></i></li>
                                        <li><i></i></li>
                                        <li><i></i></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="home_client_discription_small clearfix">
                            <div class="readmoretext more">
                                @if (item.GigDescription.Length > 100)
                                {
                                    html = item.GigDescription.Substring(0, 100);
                                    h = item.GigDescription.Substring(100 - 1, item.GigDescription.Length - 100);
                                }
                                else
                                {
                                    html = item.GigDescription;
                                }

                                @html
                                @if (item.GigDescription.Length > 100)
                                {
                                    <span class="moreellipses">...&nbsp;</span><span class="morecontent"><span>@h</span>&nbsp;&nbsp;<a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = 0 })" class="morelink">Read More</a></span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="border_buttom_only"></div>
                    @if (item.GigStatus != "R" && item.ActiveGigs == 0)
                    {
                        <div class="dash_timeremaining_box_bg clearfix">
                            @if (item.SubscriedGigs == 0)
                            {
                                <div class="pull-right dash_time_allmenus"> <a href="#" class="btn button_all secondary_color_bg acptenabled" id="@item.GigId" onclick="EditGig(@item.GigId);">Edit Service</a> </div>
                            }
                            <div class="pull-left dash_time_allmenus">
                                <div class="btn-group gig_swich_bg" id="status" data-toggle="buttons">
                                    @if (item.IsGigEnabled == "Y")
                                    {
                                        <label class="btn btn-default btn-on btn-sm active">
                                            <input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">Enable
                                        </label>
                                            <label class="btn btn-default btn-off btn-sm">
                                                <input type="radio" value="0" name="multifeatured_module[module_id][status]">Disable
                                            </label>
                                    }
                                    else
                                    {
                                        <label class="btn btn-default btn-on btn-sm">
                                            <input type="radio" value="1" name="multifeatured_module[module_id][status]">Enable
                                        </label>
                                            <label class="btn btn-default btn-off btn-sm active">
                                                <input type="radio" value="0" name="multifeatured_module[module_id][status]" checked="checked">Disable
                                            </label>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <div class="border_buttom_only"></div>
                    @if (item.GigStatus == "P")
                    {
                        <div class="dash_timeremaining_box_bg gig_dash_mygig_bu clearfix">
                            <div class="pull-left dash_time_allmenus">
                                <a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = 0, type = "R" })" class="dash_time_right_menu">Purchase Requests (@item.SubscriedGigs)</a>
                                <a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = 0, type = "A" })" class="dash_time_right_menu">Active Orders (@item.ActiveGigs)</a> 
                                <a href="@Url.Action("Details", "Gigs",new { id = item.GigId, subid = 0, type = "C" })" class="dash_time_right_menu">Completed (@item.CompletedGigs)</a>
                            </div>
                            <div class="pull-right dash_time_allmenus"> </div>
                        </div>
                    }
                    else if(item.GigStatus == "R")
                    {
                        <div class="dash_timeremaining_box_bg gig_dash_mygig_bu clearfix">
                            <div class="pull-left dash_time_allmenus"> </div>
                            <div class="pull-right gig_dash_admin_pendingbg">
                                <div class="pending_box_alert panding_alert">Pending Admin Approval</div>
                            </div>
                        </div>
                    }
                    <div class="pull-left">
                        <input type="hidden" id="hfGigTitle_@item.GigTitle" value="@item.GigTitle" />
                        <input type="hidden" id="hfGigId_@item.GigId" value="@item.GigId" />
                    </div>
                </div>
            }
            @if (Model.Services != null && Model.Services.Count == 0)
            {
                <div class="nojob_diplytable" id="divmsg">
                    <div class="col-md-12 category_nojob_bg clearfix">
                        <h3>You have not created a service yet</h3>
                        <a href="#" id="createGigTab" class="btn button_all secondary_color_bg">CREATE A SERVICE</a>
                    </div>
                </div>
            }
        </div>
        @if (Model.Services != null && Model.Services.Count > 0 && Model.Services[0].Isloadmore == 1)
        {
            <div class="col-md-12 category_loadmore_bg clearfix" id="divloadmore">
                <a href="javascript:" class="btn button_all secondary_color_bg" id="btnloadmore">Load more</a>
            </div>
        }
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#jobs_listed_id_dash").on("click", "#btnloadmore", function () {
            var _Id = $('#jobs_listed_id_dash div.pull-left').last().find('input[id^="hfGigId_"]').val();
            LoadMore(_Id);
        })

        function LoadMore(id) {
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("LoadMoreServices", "Dashboard")',
                data: { 'type': 'myservices', 'id': id },
                success: function (response) {
                    $("#divloadmore").remove();
                    $('#jobs_listed_id_dash').append(response);
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }

        $("#jobs_listed_id_dash").on('change', '#status input', function () {
            var gigId = $(this).parent().closest('.gigcol').find('input[id^="hfGigId_"]').val();
            var gigTitle = $(this).parent().closest('.gigcol').find('input[id^="hfGigTitle_"]').val();
            if (!$("#enable").is(":checked") && $(this).val() == 1) {
                // Enable gig
                setGigStatus('Y', gigId, gigTitle);
            } else {
                // Disable gig
                setGigStatus('N', gigId, gigTitle);
            }
        });

        function setGigStatus(status, gigId, gigTitle) {
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("SetGigStatus", "Gigs")',
                data: { "id": gigId, "status": status },
                beforeSend: function () {
                    $("#loaderDiv").show();
                },
                success: function (response) {
                    debugger
                    if (response == 'success') {
                        if (status == 'Y') {
                            $('#gigStatus_title').text('Service enabled');
                            $('#gigStatus_msg').html('Service <b>' + gigTitle + '</b> is enabled');
                        } else {
                            $('#gigStatus_title').text('Service disabled');
                            $('#gigStatus_msg').html('Service <b>' + gigTitle + '</b> is disabled');
                        }
                    } else {
                        $('#gigStatus_title').text('Cannot complete operation');
                        $('#gigStatus_msg').text('Something went wrong. Please try again.');
                    }
                    $("#loaderDiv").hide();
                    openbox(1, 'gigStatus_pop');
                },
                error: function (jqXHR, exception) {
                    $("#loaderDiv").hide();
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        }

        $("#createGigTab").click(function () {
            var GigId = 0;
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("CreateGig", "Gigs")',
                dataType: 'html',
                data: { "id": GigId },
                beforeSend: function () {
                    $("#loaderDiv").show();
                },
                success: function (response) {

                    $("#loaderDiv").hide();
                    $("#creategig_view_pop_id").html(response)
                    openbox(1, 'creategig_view_pop_id');
                },
                error: function (jqXHR, exception) {
                    $("#loaderDiv").hide();
                    console.log(jqXHR.status);
                    console.log(exception);
                }
            });
        });
    });

    function EditGig(id) {
        $.ajax({
            type: 'POST',
            cache: false,
            url: '@Url.Action("CreateGig", "Gigs")',
            dataType: 'html',
            data: { "id": id },
            beforeSend: function () {
                $("#loaderDiv").show();
            },
            success: function (response) {
                $("#loaderDiv").hide();
                $("#creategig_view_pop_id").html(response)
                openbox(1, 'creategig_view_pop_id');
            },
            error: function (jqXHR, exception) {
                $("#loaderDiv").hide();
                console.log(jqXHR.status);
                console.log(exception);
            }
        });
    }
</script>